[2016-06-23 16:31] wannaphongcom opened #1 "TODO"
- [x] เพิ่มการสะกดคำที่มีสระ ตามราชบัณฑิตยสถาน
- [x] แยกระบบแบ่งคำออก
- [x] อัพขึ้น PyPI
- [x] เอกสาร
- [x] PyICU
- [x] Postaggers ภาษาไทย
- [x] แยกไฟล์ข้อมูลมาอยู่ใน corpus
- [x] ระบบ Test
- [x] Python 2

[2016-08-31 02:01] benkitv opened #2 "Get some errors"
ผมได้ลง pyicu ไปแล้วครับ แล้วตามด้วยตัว pythainlp
เสร็จแล้วจะลองรันตัว test.py ดู แล้วได้ error มาตามนี้

Traceback (most recent call last):
  File "test.py", line 5, in <module>
    from pythainlp.segment import segment
  File "/home/benkit/TH/pythainlp/pythainlp/__init__.py", line 12, in <module>
    from . import postaggers
  File "/home/benkit/TH/pythainlp/pythainlp/postaggers/__init__.py", li

[2016-08-31 12:26] wannaphongcom commented on #2
แนะนำให้เอาไฟล์ test.py มารันภายนอกไลบรารีที่เก็บ pythainlp ครับ ตอนนี้ตัว pythainlp มีปัญหาเรื่องระบบ test ครับ เวชั่นต่อไปจะแยกไฟล์ test ออกเป็นอีกระบบหนึ่ง เพื่อแก้ไขปัญหานี้ครับ

[2016-09-20 11:41] #2 closed

[2016-12-24 14:57] wannaphongcom opened #4 "add Python 2.7"
- [x] setup
- [x] change
- [x] collation
- [x] corpus
- [x] number
- [x] postaggers
- [x] rank
- [x] romanization
- [x] segment
- [x] spell

[2017-01-02 17:26] wannaphongcom opened #5 "import in python 2.7"
import in python 2.7 https://github.com/wannaphongcom/pythainlp/commit/9f0a1f2b9a46fd0b74a906901a9c887fcd5a030e
[code]

[2017-01-02 17:26] wannaphongcom commented on #4
https://github.com/wannaphongcom/pythainlp/issues/5

[2017-01-02 17:27] wannaphongcom opened #6 "test error"

[2017-01-04 15:07] wannaphongcom commented on #5
fix in https://github.com/wannaphongcom/pythainlp/commit/a009dabd539f00999553625b2c7f3a834d46a7a7

[2017-01-04 15:07] #5 closed

[2017-01-04 15:08] wannaphongcom commented on #4
fix in https://github.com/wannaphongcom/pythainlp/commit/a009dabd539f00999553625b2c7f3a834d46a7a7

[2017-01-04 15:08] #4 closed

[2017-01-04 15:22] wannaphongcom commented on #1
all ok.

[2017-01-04 15:22] #1 closed

[2017-01-06 15:04] wannaphongcom opened #8 "list PyThaiNLP 1.1"
- [x] ยกเลิกสนับสนุน Python 2.7
- [x] เพิ่มโมดูลตัวอักษร ก-ฮ
- [x] เพิ่มโมดูลเกี่ยวกับเวลา
- [ ] เพิ่มเอกสารการติดตั้งบน Windows
- [x] เพิ่มรายละอียดภาษาอังกฤษ
- [ ] เพิ่มเอกสารภาษาอังกฤษ
- [ ] อื่นๆ

[2017-01-07 13:57] wannaphongcom opened #9 "Thai Soundex ระบบเสียงภาษาไทย ?"
เป็นไปได้ไหมที่เราจะสร้าง Thai Soundex ด้วยวิธีการใดวิธีการหนึ่ง

แบบที่ 1 http://guru.sanook.com/1520/
แบบที่ 2 https://linux.thai.net/~thep/soundex/soundex.html

[2017-01-08 19:13] wasdee opened #11 "การ romanization ใช้กับชื่อผมไม่ได้"
[code]

เป็นไปได้ไหมที่เราจะนำ [http://pioneer.chula.ac.th/~awirote/resources/thai-romanization.html](http://pioneer.chula.ac.th/~awirote/resources/thai-romanization.html) port มา

[2017-01-09 08:38] wannaphongcom commented on #11
การตัดคำของ  http://pioneer.chula.ac.th/~awirote/resources/thai-romanization.html  ทำตามหลักเกณฑ์การถอดเสียงภาษาไทยเป็นอักษรโรมัน - http://www.arts.chula.ac.th/~ling/tts/ThaiRoman.pdf ของรัฐบาลที่ประกาศใช้ครับ แต่ในส่วน PyThaiNLP ใช้คำสั่งจาก icu ที่ใช้การ romanization ตามมาตราฐาน ISO 11940-2 - https://en.wikipedia.org/wiki/ISO_11940-2 ครับ การ romanization จึงไม่เหมือนกัน

ตอนริเริ่มทำโมดูลนี้ ผม

[2017-01-09 12:00] wannaphongcom commented on #11
https://github.com/wannaphongcom/pythainlp/commit/7b32c8b39159b321be91ac4ea17f6a36cba60639

[2017-01-10 03:59] wasdee commented on #11
ผมจะลองดูนะครับ

[2017-01-10 04:21] wasdee commented on #11
นอกจากคำว่า พรม แล้วมีคำที่มีปัญหาอื่นๆไหมครับ ผมยังไม่ค่อยเข้าใจที่พูดว่าไม่รองรับสระ ช่วยอธิบายเพิ่มหน่อยครับ

[2017-01-10 04:41] wannaphongcom commented on #11
ผมติดปัญหาตรงที่สระครับ ตัวอย่างเช่น
"สรรพ" คำนี้ใช้ รร (มีตัวสะกด) ได้เป็น sap
นี่คือปัญหาครับ จะตรวจสอบว่าเป็น รร (มีตัวสะกด) ได้อย่างไร ถ้าหากตรวจสอบไม่ได้ โปรแกรมอาจจะส่งค่ามาเป็น
sanp เป็น รร (ไม่มีตัวสะกด)
ครับ นอกจากนั้นยังมีปัญหาสระลดรูปในภาษาไทยตามที่ http://www.arts.chula.ac.th/~ling/tts/ThaiRoman.pdf กำหนดครับ

[2017-02-17 04:47] draems opened #13 "Post tags Meaning"

[2017-02-18 14:41] #13 closed

[2017-03-03 12:32] #8 closed

[2017-03-06 18:36] pawin opened #14 "ไม่สามารถแบ่งคำที่มีภาษาอื่นปนอยู่ในประโยคได้"
**English (without space)**
[code]
**English (with space)**
[code]
**Chinese**
[code]

[2017-03-07 06:17] wannaphongcom commented on #14
จาก https://github.com/wannaphongcom/pythainlp/commit/08efca3f7e446b8ced9e9c6c6fb06a801407e395 ตอนนี้สามารถตัดคำไทยที่มี English (with space) รวมถึงภาษาอื่นที่มี space ได้แล้วครับ
[code]
แต่ที่ไม่มี space ไม่สามารถแยกออกจากคำไทยได้ เนื่องจาก PyICU ในคำสั่ง PyICU.BreakIterator.createWordInstance(PyICU.Locale("th"))  ไม่สามารถแยกตัวที่ติดกันได้ครับ  https://github.com/wannaphongcom/pythainlp/blob/de

[2017-03-07 06:24] wannaphongcom opened #15 "list PyThaiNLP 1.2"
- [x] ปรับแต่งโค้ดใหม่ เพิ่มประสิทธิภาพ

- [x] เพิ่ม nltk.Text()

- [x] เพิ่ม sentiment

- [x] รองรับ Python 2.7

- [x] ปรับ API ให้เหมือน NLTK

- [x] ปรับปรุงเอกสารและแจ้งเตือน API ที่จะถูกยกเลิกการใช้งานในเวชั่นถัดไป

- [x] วิธีการติดตั้งบน Windows

[2017-03-23 02:12] gwohlgen opened #16 "Import Error"
Hi @wannaphongcom ,

just installed the latest version of pythainlp on Redhat linux from the git sources.

When I try to use it I have the following problem:
[code]

From a quick web search it seems like there could be a python 2 / 3 issue with "unicode_literals".

Happy to get any feedback on how to solve this.

Cheers, Gerhard

[2017-03-27 03:49] wannaphongcom commented on #16
fix in https://github.com/wannaphongcom/pythainlp/tree/develop

[2017-03-28 04:52] gwohlgen opened #17 "Unicode Error"
Hi,
thanks for fixing the import error!

tried to run your sample code now,
but still errors.

a) pythainlp/pythainlp/test/__init__.py", line 36 -- missing closing paranthesis .. easy to fix

but now:
[code]

when using:
[code]

I am not sure if this is a problem with my system, or general one ..

Cheers, Gerhard

[2017-03-29 14:42] wannaphongcom commented on #17
You setting the default encoding of python is utf8. https://stackoverflow.com/a/21190382 and reinstall from https://github.com/wannaphongcom/pythainlp/tree/develop

[2017-03-30 03:36] gwohlgen commented on #17
Hi Wannaphong,

thank you, now I get further,
but still an error:

mæw
Traceback (most recent call last):
   File "test_gerhard.py", line 24, in <module>
     b=texttoeng(b)
   File "/home/gerhard/pythainlp/pythainlp/change/__init__.py", line 28,
in texttoeng
     dictdataeng= {v: k for k, v in iteritems(dictdata)}
NameError: global name 'iteritems' is not defined

I hope I am not annoying :-)

Ch

[2017-03-30 06:57] wannaphongcom commented on #17
@gwohlgen fix in https://github.com/wannaphongcom/pythainlp/commit/241a5f7987a398febfdc43ee471fb51f53693d49

[2017-03-30 07:07] #16 closed

[2017-03-30 09:18] gwohlgen commented on #16
Hi,

hmm,
now the next error when running the test script:

mæw
Traceback (most recent call last):
   File "test_gerhard.py", line 24, in <module>
     b=texttoeng(b)
   File "/home/gerhard/pythainlp/pythainlp/change/__init__.py", line 33,
in texttoeng
     a = six.u(a)
   File "/usr/lib/python2.7/site-packages/six.py", line 621, in u
     return unicode(s.replace(r'\\', r'\\\\'), "unicode_escape"

[2017-03-31 15:36] wannaphongcom commented on #16
@gwohlgen I have not a python2.7 environment for testing.

[2017-03-31 15:58] wannaphongcom commented on #17
Now , PythaiNLP support python 2.7 in https://github.com/wannaphongcom/pythainlp/commit/ad41eff8f41a08493f6484de456d68e07dfed292 .
test in https://travis-ci.org/wannaphongcom/pythainlp/jobs/217228168

[2017-03-31 15:58] wannaphongcom commented on #16
@gwohlgen  Now , PyThaiNLP support python 2.7 in https://github.com/wannaphongcom/pythainlp/commit/ad41eff8f41a08493f6484de456d68e07dfed292 .
test in https://travis-ci.org/wannaphongcom/pythainlp/jobs/217228168

[2017-03-31 16:00] #17 closed

[2017-04-02 15:27] #15 closed

[2017-04-06 17:01] wannaphong opened #19 "PyThaiNLP in Jython"
รัน PyThaiNLP ใน Jython ได้

ไม่กำหนดเวลาเริ่ม และ เส้นตาย

[2017-04-09 18:30] wannaphongcom opened #20 "List PyThaiNLP 1.3"
- [x] ปรับปรุงเอกสาร

- [x] เพิ่มการแจ้งเตือน API ที่จะถูกยกเลิก และแจ้งเปลี่ยน API ให้คล้ายกับ NLTK

- [x]  แก้ Bug https://github.com/wannaphongcom/pythainlp/issues/14 อย่างสมบูรณ์

[2017-04-21 09:45] patipol opened #21 "การใช้งานบางอย่างไม่แสดงผลเป็นภาษาไทย"
การใช้งานบางอย่างไม่แสดงผลเป็นภาษาไทยครับ ไม่แน่ใจว่าผมต้องติดตั้งอะไรที่เครื่องเพิ่มเติมก่อนหรือเปล่าครับ

การแบ่งครับ ไม่แสดงผลออกมาเป็นภาษาไทยครับ
[code]
ส่วนการเปลี่ยนภาษามี error ที่ `texttoeng()` ครับ
[code]
การอ่านตัวเลขเป็นภาษาไทยทำได้ปกติ
[code]

macOS Sierra 10.12.4
ติดตั้งตามใน README ครับ
[code]

[2017-04-26 13:19] wannaphongcom commented on #21
แนะนำให้ลองใส่
'''
# -*- coding: utf-8 -*-
'''
ก่อนใช้งานครับ

[2017-04-28 03:21] patipol commented on #21
ได้แล้วครับ ขอบคุณมากครับ แต่ผมต้องใส่ prefix `u` เข้าไปด้วยครับตอนกำหนด string ภาษาไทย
ผมใช้ Python 2.7.13

[code]

[2017-05-13 16:33] #21 closed

[2017-05-17 09:02] wannaphongcom commented on #14
fix in https://github.com/wannaphongcom/pythainlp/commit/525f71d70b931c0a247747c1fc27c07139fc4d2f

[2017-05-17 09:02] #14 closed

[2017-05-30 10:04] wannaphongcom commented on #20
เพิ่มระบบตัดคำตัวใหม่ และ pos ตัวใหม่

[2017-05-30 15:05] #20 closed

[2017-06-04 12:49] wannaphongcom opened #23 "List PyThaiNLP 1.4"
- [x] ปรับปรุง wordnet ใหม่ โดยใช้โค้ดจาก https://python3.wannaphong.com/2017/06/wordnet-ภาษาไทยกับ-nltk.html/ ปรับ API ให้คล้าย NLTK

- [x] ส่ง fix python 3 ไปยัง artagger https://github.com/franziz/artagger/pull/1

- [x] ปรับปรุงประสิทธิภาพ

- [x] เพิ่ม https://github.com/wannaphongcom/pylexto เป็นตัวเลือกหนึ่งในระบบตัดคำ (https://github.com/wannaphongcom/pythainlp/commit/f6b310bbabe45a82224f41c

[2017-06-04 14:17] wannaphongcom commented on #23
- [ ] ส่ง fix python 3 ไปยัง artagger https://github.com/franziz/artagger/pull/1

[2017-06-13 04:35] wannaphongcom opened #24 "bug in mm"
[code]
['แมว', 'กิน', 'ปลา', 'แมว', 'มัน', 'ชอบ', 'นอน', 'นอน', 'กลางวัน', 'นอน', 'แล้ว', 'นอน', 'อีก', 'เป็น', 'สัตว์', 'ที่', 'ขี้เกียจ', 'จริงๆ', 'เลย', 'แมว', 'แต่', 'NOT_แมว', 'NOT_มัน', 'NOT_เข้ากับ', 'NOT_คน', 'NOT_ได้ดี', 'NOT_ฉัน', 'NOT_ชอบ', 'NOT_แมว']

ไม่แนะนำให้ใช้ mm เพราะกำลังอยู่ในช่วงพัฒนา

[2017-06-13 14:57] #24 closed

[2017-06-13 15:01] wannaphongcom commented on #23
- [x] Fix bug in mm https://github.com/wannaphongcom/pythainlp/issues/24

[2017-06-16 08:00] IcyZKunGz opened #25 "ImportError"
ผมใช้ mac osx โดยใช้ python 3.6 ที่ติดมากับ anaconda ครับ แล้วลงตามที่เขียนไว้ตามคำแนะนำหลังจากนั้นก็ลองใช้โค๊ดตัวอย่างดูแล้วขึ้น error ตามนี้ครับ
[code]

Edit : แก้ไขได้แล้วครับ [แก้ตามลิ้งค์นี้ครับ](https://github.com/aboSamoor/polyglot/issues/80)

[2017-06-16 08:27] #25 closed

[2017-06-17 02:46] danjirawat opened #26 "ทำตามตัวอย่างแล้วขึ้น error unicode"
UnicodeEncodeError: 'ascii' codec can't encode characters in position 2-4: ordinal not in range(128)
ต้องทำยังไงครับ

Python 3.6.1

[2017-06-17 02:57] wannaphongcom commented on #26
ไม่ทราบว่าใช้งานบน OS อะไร เวชั่นอะไรครับ @danjirawat

[2017-06-19 05:04] sura1997 opened #27 "License for corpus"
Hi,

Are all *.txt files under https://github.com/wannaphongcom/pythainlp/tree/pythainlp1.4/pythainlp/corpus folder licensed under the Thai WordNet license (LICENSE_THA_WN)? What's the difference between thaiword.txt and new-thaidict.txt?

[2017-06-20 06:48] wannaphongcom commented on #27
@sura1997 The WordNet license use only tha-wn.db.
The difference between thaiword.txt and new-thaidict.txt is  new-thaidict.txt has more data  than thaiword.txt.

[2017-06-20 10:18] wannaphongcom commented on #11
@wasdee  จาก https://github.com/wannaphongcom/pythainlp/commit/d8fda84c0b9cfeed5e0527e5e12cba1aaacfc41b ล่าสุด รองรับหลักเกณฑ์การถอดอักษรไทยเป็นอักษรโรมัน ฉบับราชบัณฑิตยสถานแล้วครับ
ผมลอง

[code]

ในการที่จะถอดทั้งคำได้เลย ต่อไปในอนาคตจะเพิ่มระบบแปลงเป็นคำอ่านต่อไปครับ

[2017-06-20 14:47] sura1997 commented on #27
I think the new-thaidict.txt is really great. Is correct to say that new-thaidict.txt is a combination of words from Thai WordNet and additional data that you complied on your own? If so, what license of the additional data that you are releasing. Are you good with https://creativecommons.org/licenses/by-sa/4.0/?

[2017-06-21 02:13] wannaphongcom opened #28 "Bug in TCC"
มีข้อผิดพลาดในการแบ่งกลุ่มคำ

[2017-06-21 02:40] IcyZKunGz opened #29 "please install hunspell : hunspell dictionary th_TH"
ผมได้ลง th_TH.dic และ th_TH.aff ลงใน ~/Library/Spelling แล้วลองรันโค๊ด
[code]

[code]
ผมต้องแก้ไขหรือทำอะไรเพิ่มเติมเพื่อที่จะรันโค๊ดนี้มั้ยครับ
ขอบคุณครับ

[2017-06-21 04:36] wannaphongcom commented on #29
@IcyZKunGz ไม่ทราบว่าใช้ OS อะไรครับ

[2017-06-21 04:38] wannaphongcom commented on #27
@sura1997  Thank you.

[2017-06-21 04:44] wannaphongcom commented on #28
fix in https://github.com/wannaphongcom/pythainlp/commit/856603103681ad0abcd014d9027d07f4b770e3a9

[2017-06-21 04:44] #28 closed

[2017-06-21 04:45] wannaphongcom opened #30 "fix royin romanization"
มีปัญหา ต้องแก้ไข

[2017-06-21 04:56] IcyZKunGz commented on #29
ใช้ macOS, Python 3.6.1 :: Anaconda custom (x86_64) ครับ

[2017-06-21 05:49] wannaphongcom commented on #29
@IcyZKunGz  ลองสั่งติดตั้ง brew install hunspell
แล้วตั้งค่า path ด้วยคำสั่ง export C_INCLUDE_PATH=/usr/local/include/hunspell
แล้วลองรันดูครับ

[2017-06-21 06:15] IcyZKunGz commented on #29
ทำตามที่บอกแล้วครับ ตอนนี้ขึ้น error ใหม่ครับ รันโค๊ดตัวเดิมเลยครับ
[code]

[2017-06-21 07:23] wannaphongcom commented on #30
fix in https://github.com/wannaphongcom/pythainlp/commit/3a46b60390076dcaeb1da93d411d58a81e183333

[2017-06-21 07:23] #30 closed

[2017-06-21 07:28] wannaphongcom commented on #29
ลองเอาไฟล์ th_TH.dic และ th_TH.aff ลงใน /Library/Spelling/ ใหม่ครับ
แล้วใช้ hunspell -D เช็คว่ามีไฟล์ไหมครับ

[2017-06-21 13:19] wannaphongcom commented on #27
fix in https://github.com/wannaphongcom/pythainlp/blob/pythainlp1.4/pythainlp/corpus/corpus_license.md

[2017-06-21 13:19] #27 closed

[2017-06-23 01:13] IcyZKunGz commented on #29
มันขึ้นมาอย่างนี้ครับ
[code]

[2017-06-23 06:09] wannaphongcom commented on #29
@IcyZKunGz ใช่ครับ

[2017-06-26 07:19] danjirawat commented on #26
CentOS 6.9 ครับ

[2017-06-26 07:25] wannaphongcom commented on #26
@danjirawat ขอตัวอย่างโค้ดที่พบปัญหาด้วยครับ

[2017-06-27 15:59] wannaphongcom commented on #9
รองรับ ฎการเข้ารหัสซาวน์เด็กซ์ของ  วิชิตหล่อจีระชุณห์กุล  และ  เจริญ  คุวินทร์พันธุ์ https://github.com/wannaphongcom/pythainlp/commit/d77a54d2e5ba2a1b18888925ff579860dcc0003f

[2017-06-27 16:01] wannaphongcom commented on #19
ปัญหาติดที่ PyICU , marisa_trie และ langdetect

[2017-07-03 05:41] #9 closed

[2017-07-06 06:02] #23 closed

[2017-07-06 10:51] wannaphongcom opened #33 "List PyThaiNLP 1.5"
- [x] ใช้ Pure Python ให้มากขึ้น โดยย้ายโค้ดจากที่ต้องพึ่งโมดูลที่ใช้ C/C++ มาใช้ Pure Python ให้มากที่สุดเท่าที่ทำได้

- [x] เพิ่มเติม API ให้มากขึ้นให้เหมือน NLTK

- [x] โค้ดที่สะอาดยิ่งขึ้น และ เพิ่มเอกสารในไฟล์โค้ดให้มากยิ่งขึ้น

- [x]  เพิ่มระบบทดสอบให้ได้ % มากที่สุด

- [x]  เพิ่มการแจ้งเตือน API ที่จะถูกเปลี่ยนใน PyThaiNLP 1.6

- [x]  กลับมารองรับ Python 2.7

- [x]  เพิ่มระบบเช็คคำผิดตัวใหม

[2017-07-07 12:04] c4n opened #34 "ทำไมถึงใช้ ICU เป็น default?"
รู้สึกว่า ICU มันเป็นเครื่องมือตัดคำที่แย่มากครับ อยากรู้ว่าทำไมถึงเลือกเป็น default

[2017-07-07 15:52] wannaphongcom commented on #34
@c4n เพื่อรักษาความเข้ากันได้กับคนที่ใช้ api ตัวนี้มาตั้งแต่เวชั่น 1.2 เป็นต้นมาครับ ใน PyThaiNLP 1.5 มีแผนจะเพิ่มการแจ้งเตือนเมื่อรันโค้ดว่า  default จาก ICU จะถูกเปลี่ยนไปเป็น newmm ในอนาคตคือ PyThaiNLP 1.6 ครับ

[2017-07-07 16:56] #34 closed

[2017-07-10 05:58] kahnwong opened #37 "Can't symlink icu4c on OS X"
Hi.

For some reason I can't symlink icu4c via ```brew link --force icu4c``` on OS X. Then, I installed it via ```brew install icu4c --HEAD``` and symlink(?) via

[code]

Then I get this error when installing pythainlp:

Any ideas?

[2017-07-11 05:11] wannaphongcom commented on #37
@kahnwong You can install icu. https://tobywf.com/2017/05/installing-pyicu-on-macos/

[2017-07-11 05:56] kahnwong commented on #37
Works like a charm!

[2017-07-11 05:56] #37 closed

[2017-07-11 06:05] wannaphongcom commented on #33
คลังข้อมูลที่เพิ่มเข้ามา

- ชื่อจังหวัด , อักษรย่อจังหวัด , คำย่ออักษรโรมันของจังหวัด

[2017-07-11 13:57] wannaphongcom opened #38 "Python 2.7 come back !"
กลับมารองรับ Python 2.7 แล้ว ใน PyThaiNLP 1.5

Test https://travis-ci.org/wannaphongcom/pythainlp/builds/252411596 ผ่าน

[2017-07-11 14:08] #38 closed

[2017-07-13 12:12] wannaphongcom opened #39 "Long Term Support (LTS) version ?"
ควรเลือก PyThaiNLP เวชั่นอะไรที่ควรเป็นรุ่น Long Term Support (LTS)  และควรมีระยะเวลา  Support เท่าไร

[2017-07-13 14:35] wannaphongcom commented on #33
เพิ่มปีรัชกาล https://github.com/wannaphongcom/pythainlp/commit/5cd6d56659ceff6837c300accd9bd8270a349e21

[2017-07-13 18:14] c4n commented on #39
โปรเจคนี้ตอนนี้ไม่เห็นจำเป็นต้องมีLTSเลยครับ ถ้ากลัวใส่featureใหม่แล้วมีปัญหา ทำไม ไม่ทำเป็น stable version กับ  dev เวอชั่นแทน

[2017-07-14 12:04] wannaphongcom commented on #39
@c4n ขอบคุณครับ ตอนนี้ผมมีแผนที่จะแยกหน้าหลักไป host ที่อื่นแทน GitHub ครับ โดยแยกเอกสาร stable กับ  dev ออกให้ชัดเจนครับ

[2017-07-14 13:54] wannaphongcom opened #40 "Thai syllable segmentation ?"
ควรตัดพยางค์ในภาษาไทยอย่างไร ?

[2017-07-26 16:33] wannaphongcom commented on #33
- [ ] แยกทำหน้าเว็บของโครงการ PyThaiNLP ออกจาก GitHub และ แยกรุ่นให้ชัดเจนยิ่งขึ้น

[2017-07-27 01:53] iamoat opened #41 "[nltk_data] Error loading omw: HTTP Error 403: Forbiden"
ขึ้นข้อความ Error
[nltk_data] Error loading omw: HTTP Error 403: Forbiden
[nltk_data] Error loading wordnet: HTTP Error 403: Forbiden

แต่ยังสามารถ Tokenize ได้ครับ แต่ทำได้แค่ 'mm' นะครับ

ใช้ 'newmm' ไม่ได้ครับมี string จาก git version control อยู่ใน code ผมต้อง ลบออกไปเอง
แต่ไม่แน่ใจว่าถูก logic ไหม คาดว่า listcut ไม่ได้ถูกเรียกอยู่แล้ว นอกจากใน main function เท่านั้น

ใช้ 'deepcut' จะต้อง pip

[2017-07-27 11:43] wannaphongcom commented on #41
@iamoat  ผมขอตอบแยกข้อนะครับ
1. [nltk_data] Error loading ตอนนี้มีปัญหาที่ตัว nltk ครับ https://github.com/nltk/nltk/issues/1787
2. listcut ไม่ได้ถูกเรียกใช้งานอยู่แล้วครับ ตรงที่ใช้ 'newmm' ผมขอรายละเอียดเพิ่มเติมครับ
3. 'deepcut' ผมจะเพิ่มเข้าไปเอกสารครับ แต่ในตัวโค้ด ถ้าเรียก 'deepcut' แล้วไม่พบ ระบบจะโหลด 'deepcut' จาก
 pip มาติดตั้งให้เองครับ

ขอบคุณที่ใช้ PyThaiNLP ครับ

[2017-07-27 14:01] iamoat commented on #41
ข้อ 2 รบกวน Commit โค้ดขึ้นไปใหม่นะครับ ของเดิมมันติด Comment ของ git
มาเวลาเกิด Conflict นะครับ

ขอเพิ่มอีกนิดครับ การเรียกใช้ sentiment ทำไมถึงใช้เวลา Process
ค่อนข้างนานครับ เราจะทำให้มัเร็วขึ้นได้ไหมครับ

ขอบคุณครับ

On 7/27/17 18:43, Wannaphong Phatthiyaphaibun wrote:

--
Nattapong Mongkolnavin

Mobile: +669-7249-3615

Octagon Enterprise Co., Ltd.
919/541B Silom Rd.
Silom, Bangrak
Bangkok 105

[2017-07-27 15:20] wannaphongcom commented on #41
@iamoat  ผมกำลัง Commit โค้ดขึ้นไปใหม่บน pypi ครับ ส่วน sentiment  ที่ช้าเพราะใช้ nltk.sentiment  ครับ เขียนด้วย Python  แถมต้องแบ่งคำก่อนแล้วจึงนำไปประมวลผล sentiment  http://www.nltk.org/api/nltk.sentiment.html ครับ

[2017-08-02 01:31] #11 closed

[2017-08-02 05:43] wannaphongcom commented on #33
- [ ] เพิ่ม pythainlp.keywords ระบบหาคำสำคัญ

[2017-08-02 05:48] wannaphongcom opened #42 "List pythainlp.keywords"
- [x] เพิ่ม API ชื่อ  find_keyword สำหรับใช้หาคำสำคัญหรือ keyword อย่างง่าย https://github.com/wannaphongcom/pythainlp/commit/86171ac427200d98791c93eec47324d4dbef65c8
- [x]  ระบบทดสอบโค้ด

[2017-08-02 05:49] wannaphongcom commented on #42
TODO

- [ ] หาวิธีการหาคำสำคัญที่ดีกว่านี้

[2017-08-02 05:52] wannaphongcom commented on #41
@iamoat  ล่าสุดสามารถโหลด nltk.data ได้แล้วครับ

[2017-08-02 07:16] iamoat commented on #41
ครับ ลองแล้วครับ ขอบคุณครับ

ส่วนการตัดคำ deepcut เราสามารถทำให้เร็วขึ้นได้อย่างไรบ้างครับ? เทียบกับ newmm แล้วค่อนข้างช้ากว่าพอสมควร

Sent from my iPhone

[2017-08-02 13:34] wannaphongcom commented on #41
@iamoat  deepcut อาจจะต้องมีการปรับแต่งโค้ดหรือเปลี่ยนไปใช้ GPU ที่เร็วกว่านี้ครับ สามารถสอบถามเกี่ยวกับ deepcut ได้ที่ https://github.com/rkcosmos/deepcut/issues ครับ

[2017-08-02 14:59] wannaphongcom opened #43 "pythainlp.tokenize.sent_tokenize ?"
เราจะแบ่งประโยคในภาษาไทยอย่างไร ?

ในการแบ่งประโยคต้องอาศัยไวยากรณ์มาแบ่งด้วย

[2017-08-02 15:00] wannaphongcom commented on #43
- [ ] เพิ่ม API เอาไว้ โดยแบ่งเบื้องต้นจากช่องว่าง เว้นวางของประโยค https://github.com/wannaphongcom/pythainlp/commit/96cc0aa9915d640da76d573b2517b7188c20644a

[2017-08-02 15:22] wannaphongcom commented on #33
เพิ่ม conceptnet https://github.com/wannaphongcom/pythainlp/commit/a9fbf6bf31fa3cc9eb98ba91bc824291de3d2494

[2017-08-02 16:07] wannaphongcom commented on #33
- [ ] เพิ่ม wordpunct_tokenize https://github.com/wannaphongcom/pythainlp/commit/0401943e29c7190161fff41116a3ecd8c842d3a3

[2017-08-03 07:11] wannaphongcom commented on #33
- [ ] เพิ่ม Longest matching ในการตัดคำ https://github.com/wannaphongcom/pythainlp/commit/1673b223b636ce09132e317ec04b4eb36fd263b0

[2017-08-03 07:18] wannaphongcom opened #44 "ออกแบบ pythainlp.corpus ใหม่"
ฐานข้อมูลใน pythainlp.corpus เริ่มมีขนาดใหญ่เกินไป ทางแก้คือ ต้องออกแบบ pythainlp.corpus ใหม่

[2017-08-03 07:20] wannaphongcom commented on #33
- [ ] ป้องกัน Python 2.7 ใช้งาน deepcut เนื่องจาก deepcut ไม่รองรับ Python 2.7

[2017-08-04 04:10] wannaphongcom commented on #33
- [ ] เพิ่ม wordcutpy เป็นส่วนหนึ่งของระบบตัดคำ

[2017-08-05 11:22] wannaphongcom commented on #33
- [ ] เพิ่มระบบ Tag ชื่อจังหวัดในประเทศไทย https://github.com/wannaphongcom/pythainlp/commit/cca3d4ee063e77409c91433a31f7455d4649f99a

[2017-08-05 16:39] wannaphongcom commented on #41
sentiment analyser ของ NLTK ที่ช้า https://stackoverflow.com/questions/45296897/is-there-a-way-to-improve-performance-of-nltk-sentiment-vader-sentiment-analyser

[2017-08-16 18:52] wannaphongcom commented on #41
ผมลองปรับใหม่ดูครับ https://github.com/wannaphongcom/pythainlp/commit/a82e9d584be503eb4e8ad1bc167fb2c4ac82bf3b

[2017-08-21 18:05] #41 closed

[2017-08-21 18:06] #42 closed

[2017-08-21 18:06] #29 closed

[2017-08-27 12:28] #39 closed

[2017-09-01 15:54] wannaphongcom commented on #33
API นิ่ง ยุติการเพิ่มความสามารถใหม่ใน PyThaiNLP 1.5 ความสามารถใหม่ ๆ จะถูกไปใส่ใน PyThaiNLP 1.6 แทน

[2017-09-01 15:54] #33 closed

[2017-09-03 13:05] wannaphongcom opened #47 "List PyThaiNLP 1.6"
- [x] เพิ่ม API ให้ผู้ใช้งานโมดูลสามารถใช้พจนานุกรมของตัวเองในการตัดคำได้ https://github.com/wannaphongcom/pythainlp/commit/6d939fbd231742f7d8999e58f91f7482ba9cd4c3
- [x] ยุบระบบไฟล์ที่ซับซ้อน และ ลบไฟล์ที่ไม่ได้ใช้ออก
- [x] เพิ่มประสิทธิภาพระบบตัดคำด้วยการเก็บไฟล์ Trie https://github.com/PyThaiNLP/pythainlp/commit/830553e89922b2101f23f443843e31d6e24f1dcb  ไว้ใช้งาน
- [x] ระบบเรียงลำดับคำภาษาไทย

[2017-09-07 08:53] topskychen opened #49 "Soundex bug"
https://github.com/wannaphongcom/pythainlp/blob/c1f414236c7351f0a2fe7d62f0d7f33da19de606/pythainlp/soundex.py#L44

Really appreciate your great work providing soundex alg for Thai.
len(c) shoud be len(s), right?

[2017-09-07 09:01] wannaphongcom commented on #49
No , c is characters from enumerate(s). https://github.com/wannaphongcom/pythainlp/blob/c1f414236c7351f0a2fe7d62f0d7f33da19de606/pythainlp/soundex.py#L31

[2017-09-07 09:05] topskychen commented on #49
Thanks for quick response.  (i+1<len(c) and (c[i+1] in "ึืุู"), since `i` is the enumerate index for string s, by no means, you will use `c[i+1]`. I think it should be len(s) and s[i+1].

[2017-09-07 09:49] topskychen opened #50 "Library not loaded: libicui18n.54.dylib"
`>>> from pythainlp.tokenize import word_tokenize
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/qianchen/.pyenv/versions/anaconda2-4.4.0/lib/python2.7/site-packages/pythainlp/__init__.py", line 15, in <module>
    from pythainlp.date import now
  File "/Users/qianchen/.pyenv/versions/anaconda2-4.4.0/lib/python2.7/site-packages/pythainlp/date/__init__.py",

[2017-09-07 09:55] #49 closed

[2017-09-07 09:56] wannaphongcom commented on #49
Thank you. I have already fixed.

[2017-09-07 10:01] topskychen commented on #49
thank you ;)

[2017-09-07 10:02] wannaphongcom commented on #50
Have you tried this yet? https://medium.com/data-science-cafe/install-polyglot-on-mac-3c90445abc1f

[2017-09-07 10:16] topskychen commented on #50
just tried. not working for me. it looks like it cannot find the `libicui18n.54.dylib`?

[2017-09-07 10:17] wannaphongcom commented on #50
https://github.com/aboSamoor/polyglot/issues/80#issuecomment-266301717

[2017-09-07 11:17] topskychen commented on #50
it works.
`conda install -c ccordoba12 icu=54.1`
`ipython`
`!easy_install pyicu`

[2017-09-07 11:17] #50 closed

[2017-09-19 13:34] wasdee opened #52 "Error romanization module"
romanization("ณ ระนอง",engine='royin')

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-55-f54f9c0ff0a4> in <module>()
----> 1 romanization("ณ ระนอง",engine='royin')

C:\ProgramData\Anaconda3\lib\site-packages\pythainlp\romanization\__init__.py in romanization(data, engine)
     1

[2017-09-21 04:16] wasdee opened #53 "Add windows 10 dependency installation to documentation"
การติดตั้ง pythainlp บน windows ต้องติดตั้ง pyicu ซึ่งทำได้ยากมาก
วิธีที่ง่ายที่สุดคือใช้ wheel

1. http://www.lfd.uci.edu/~gohlke/pythonlibs/#pyicu แล้ว download wheel ตาม python ตัวเองเช่น
ผมใช้ python x64 3.6.1 บน Windows ก็ให้ใช้
PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl

2. `pip install PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl`

3. `pip install pythainlp`

[2017-09-21 04:18] wasdee commented on #53
[ส่วนตัว] @wannaphongcom ผมอยากเป็นเพื่อนด้วย แอดมาหน่อยนะครับ ผมเรียนอยู่ปี 4 วิศวคอมบางมด https://www.facebook.com/NutchnonNinyawee

[2017-09-21 05:37] wannaphongcom commented on #53
@wasdee ผมหาเฟสไม่พบครับ เฟสผม https://www.facebook.com/tontanwannaphong

[2017-10-05 16:43] wannaphongcom commented on #53
fix in https://github.com/wannaphongcom/pythainlp/commit/63dfb7efe7401b9e269fff85b32873382c37e021

[2017-10-05 16:43] #53 closed

[2017-10-07 16:33] wannaphongcom commented on #52
[code]
fix in https://github.com/wannaphongcom/pythainlp/commit/1c42ee1b3650279544a1c0613c42555b411f2044

[2017-10-24 04:34] wannaphongcom opened #54 "Change PyICU code default to other"
from https://www.facebook.com/groups/408004796247683/permalink/476021666112662/

[2017-10-25 16:25] wannaphongcom opened #55 "ระบบเรียงลำดับคำภาษาไทย"
สถานะ : ยังไม่ถูกปิด
เป้าหมาย : PyThaiNLP 1.6
เนื่องจากโค้ดระบบเรียงคำของ pythainlp.collation.collation มีการใช้งาน PyICU จึงเป็นเรื่องที่ไม่สะดวกนักในการติดตั้ง PyICU ในระบบต่าง ๆ
เป้าหมายคือ ทำระบบเรียงคำภาษาไทยใหม่ทดแทนโค้ดจาก PyICU
ตัวอย่างการเรียงคำที่ต้องการ ['งวด','งม'] -> ['งม','งวด']

[2017-10-26 13:10] #55 closed

[2017-10-26 13:14] wannaphongcom commented on #54
https://github.com/PyThaiNLP/pythainlp/issues/55

[2017-10-29 03:58] Zayajung opened #56 "Cannot install pythainlp"
ไม่สามารถ install pythainlp ได้ค่ะ
ใช้คำสั่ง pip install pythainlp

ขึ้น Error ว่า
 During handling of the above exception, another exception occurred:

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "D:\Users\sine\AppData\Local\Temp\pip-build-ffw6hyzb\pyicu\setup.py", line 33, in <module>
        ''')
    RuntimeError:
    Please set the ICU_VERSION e

[2017-10-29 05:51] wannaphongcom commented on #56
ตามนี้ครับ https://github.com/PyThaiNLP/pythainlp/blob/dev/docs/pythainlp-1-5-thai.md#คู่มือการใช้งาน-pythainlp-15

[2017-10-29 05:59] Zayajung commented on #56
ลอง install แล้ว ขึ้นว่าแบบนี้ค่ะ
Requirement 'PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl' looks like a filename, but the file does not exist
PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl is not a valid wheel filename.
วางไฟล์ whl ไว้ที่ folder เดียวกับ coding แล้วค่ะ

ตอนนี้ใช้ เวอร์ชัน
The version of the notebook server is 5.0.0 and is running on:
Python 3.6.2 |Anaconda, Inc.| (default, Sep 19 2017, 08:03:39)

[2017-10-29 06:09] wannaphongcom commented on #56
ไม่ทราบว่าเก็บไฟล์ PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl ไว้ที่ไหนครับ

[2017-10-29 06:11] Zayajung commented on #56
Folder Path : D:\Users\sine\Desktop\Python

เก็บไว้ที่เดียวกับ Coding ที่เขียนค่ะ

[2017-10-29 06:14] wannaphongcom commented on #56
ลองโหลด PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl  ใหม่อีกรอบทับไฟล์เดิมครับ เพราะถ้าไฟล์ไม่สมบูรณ์ pip มันจะไม่ติดตั้งให้ครับ

[2017-10-29 06:49] Zayajung commented on #56
ลองโหลดใหม่แล้ว ก็ยังไม่ได้ค่ะ ;____;

D:\Users\sine\Documents>pip install PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl
Requirement 'PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl' looks like a filename, but the file does not exist
PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl is not a valid wheel filename.

![image](https://user-images.githubusercontent.com/33190740/32141314-d81bf4d0-bcaf-11e7-8ffd-70755e13813e.png)

[2017-10-29 07:04] wannaphongcom commented on #56
cd D:\Users\sine\Desktop\Python
pip install PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl

[2017-10-29 07:11] Zayajung commented on #56
D:\Users\sine\Desktop\Python>pip install PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl
Requirement 'PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl' looks like a filename, but the file does not exist
PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl is not a valid wheel filename.

(;_______________;)

[2017-10-29 07:15] wannaphongcom commented on #56
ลอง rename ไฟล์ PyICU‑1.9.7‑cp36‑cp36m‑win_amd64.whl เป็นชื่ออื่นดูครับ

[2017-10-29 07:27] Zayajung commented on #56
Success แล้วค่ะ
ตอนแรกลอง rename แล้วไม่ได้ เลยลองเปลี่ยนกลับมาชื่อไฟล์เดิม ดันได้ค่ะ

ขอบคุณมากๆเลยค่ะ

[2017-10-29 07:37] wannaphongcom commented on #56
@Zayajung ขอบคุณเช่นกันครับ ที่เลือกใช้ PyThaiNLP :) ในเวชั่นถัดไป PyThaiNLP 1.6 พวกเราจะแก้ไขให้ PyThaiNLP ติดตั้งให้ง่ายขึ้นกว่าเดิมครับ

[2017-10-29 07:37] #56 closed

[2017-10-29 17:10] wannaphongcom commented on #54
https://github.com/PyThaiNLP/pythainlp/commit/12efaa2c9f4b11b02d015925629045f454ae5993

[2017-11-02 03:26] luoying1105 opened #57 "Can't from from pythainlp.tokenize import on Mac OS X"
have some problem like this
Traceback (most recent call last):
  File "/Users/ying/PycharmProjects/untitled/SentenceAligner/auto_Pretreatment/taiyu.py", line 1, in <module>
    from pythainlp.tokenize import tcc
  File "/Users/ying/anaconda/lib/python3.6/site-packages/pythainlp/__init__.py", line 15, in <module>
    from pythainlp.date import now
  File "/Users/ying/anaconda/lib/python3.6/site-pac

[2017-11-02 13:46] wannaphongcom commented on #57
I apologize for any inconvenience this may cause you.We do delete pyicu from requirements in PyThaiNLP 1.6 (alpha version). You can install PyThaiNLP 1.6.
``pip install https://github.com/PyThaiNLP/pythainlp/archive/dev.zip``

[2017-11-02 14:23] wannaphongcom commented on #54
fix in PyThaiNLP 1.5.4 https://pypi.python.org/pypi/pythainlp

[2017-11-02 14:23] #54 closed

[2017-11-03 06:48] luoying1105 commented on #57
sorry,i still have some problem
Traceback (most recent call last):
  File "/Users/ying/PycharmProjects/untitled/SentenceAligner/tools/segemen.py", line 1, in <module>
    from pythainlp import word_tokenize
  File "/Users/ying/anaconda3/envs/untitled1/lib/python3.6/site-packages/pythainlp/__init__.py", line 15, in <module>
    from pythainlp.date import now
  File "/Users/ying/anaconda3/envs/untit

[2017-11-03 08:33] wannaphongcom commented on #57
Fix in PyThaiNLP 1.5.4.1
``pip install pythainlp -U``

[2017-11-07 04:36] cstorm125 opened #58 "Word Vectors for Thai"
Create word vectors for Thai

- [x] Clean wikipedia dump
- [x] Train language model (LSTM with dropouts)
- [x] Extract embeddings as word vectors
- [x] Repackage model for classification
- [x] Test classification on BEST

[2017-11-15 05:16] wannaphongcom opened #59 "Add TNC Freq to pythainlp.corpus"
- [x] data from https://github.com/korakot/thainlp/

- [x] pythainlp.corpus.tnc.get_word_frequency_all

[2017-11-15 05:22] #52 closed

[2017-11-15 06:05] #59 closed

[2017-11-15 08:11] wannaphongcom opened #60 "Add TTC Freq to pythainlp.corpus"
- [x] Data from https://github.com/korakot/thainlp

- [x] pythainlp.corpus.ttc.get_word_frequency_all

[2018-01-02 06:25] wannaphongcom commented on #60
https://github.com/PyThaiNLP/pythainlp/commit/b268489fb30c39175bff8f9354fbe6e4e4215815

[2018-01-02 06:25] #60 closed

[2018-01-02 06:30] wannaphongcom commented on #40
start coding : https://github.com/PyThaiNLP/pythainlp/commit/62538dc6030331b857114777718b445b3c7cbc59

[2018-01-16 04:30] Zayajung opened #62 "Precision of each word segmentation engine."
รบกวนสอบถามความแม่นยำของแต่ละ engine (6 engine) ในการทำ thai tokenize สำหรับ deepcut ทราบตัวเลขแล้ว แต่ตัวอื่นๆไม่ทราบว่าหาได้จากไหนบ้างคะ พยายามหาบทความแล้ว ไม่เจอเลยค่ะ

เพื่อจะใช้ในการอ้างอิงในการเลือก engine ในการตัดคำ

ขอบคุณค่ะ

[2018-01-16 05:00] spicydog commented on #62
ผมไม่แน่ใจว่าเคยมีใครเอา Engine พวกนี้มารันเก็บผลบน Corpus เดียวกันแล้วตีพิมพ์หรือเปล่า (แต่เท่าที่ทราบคือไม่มีครับ)

หลาย Engines สร้างออกมาไม่ได้เป็นไปตามกระบวนการวิจัยที่รัดกุมครับ และตัวตัดคำแต่ละตัวก็ใช้วิธีตัดที่แตกต่างกัน ซึ่ง Corpus ที่จะใช้ทำ Benchmark ก็มีวิธีการตัดคำที่แตกต่างกันเช่นคำ บางอันอิงคำมูล บางอันคำผสม บางอันตามความหมาย แต่ Corpus ที่นิยมใช้กันตอนนี้จะเป็น InterBest 2009 และ 2

[2018-01-16 07:01] Zayajung commented on #62
ขอบคุณมากค่ะ

[2018-01-22 06:23] sferrka opened #63 "Tone detector for syllables - Determine Thai tone rule for syllable?"
Hello! How could I determine tone rule for syllable? Thank you

[2018-01-23 08:56] saket404 opened #64 "Error ascii cannot decode"
![image](https://user-images.githubusercontent.com/26710708/35266415-dc5eabd4-0055-11e8-8552-0880c173d7a9.png)

Error Example ครับ

[2018-01-23 19:57] wannaphongcom commented on #64
ไม่ทราบว่าใช้งานบนรับระบบปฏิบัติการอะไรครับ

[2018-01-25 06:05] wannaphongcom commented on #63
@sferrka http://www.thai-language.com/ref/tone-rules

[2018-01-25 06:34] sferrka commented on #63
@wannaphongcom Thank you, it is possible to do with your module?

[2018-01-27 15:38] wannaphongcom commented on #63
@sferrka No. PyThaiNLP can't determine thai tone rule for syllable.

[2018-01-27 15:39] wannaphongcom commented on #63
but, we have thai syllable tokenize.

[2018-01-31 08:29] YannDubs opened #65 ""newmm" tokenizes white spaces"
Hi,

First of all thanks for the great package 💯

I just came across a very thing I think should be changed:

[code]
The `icu` way of doing seems more logical. Of course I can simply use `" ".join(txt).split()` but I think not putting whitespaces in the list by default makes more sense.

Also a quick note about `newmm`, it seems way better than `icu` but in practice it cannot really be used becaus

[2018-01-31 13:48] cstorm125 commented on #65
Hi YannDubs,

Agreed we can probably optimize more for performance. But for white spaces, I think preserving them makes more sense because in Thai, white spaces can have more nuances than just splitting words.

[2018-01-31 18:20] YannDubs commented on #65
I'll have a look if I can get some quick performance improvements, because currently I have to use `icu` because of that. Just to know, is Cython something that you are willing to use or not really because of compilation ? I saw an open issue talking about a possible use of Jython.

Makes sense, it's strange that `icu` doesn't do that then!

[2018-02-02 17:04] wannaphongcom commented on #65
@YannDubs Did you try out PyThaiNLP 1.6 ? https://github.com/PyThaiNLP/pythainlp/releases/tag/1.6a1

[2018-02-04 11:03] wannaphongcom commented on #65
https://github.com/PyThaiNLP/pythainlp/commit/b7c624c9fa650cfc6f973634ec4f6c82407a0a3e

[2018-02-04 15:00] YannDubs commented on #65
@wannaphongcom thanks for the quick answer (and nice library). Unfortunately I don't see any improvements in version 1.6.

Here is what I ran for a reproducibility:

[code]

Am I missing something ?

[2018-02-04 15:05] YannDubs commented on #65
Ohh I just realized why after running

[code]
It just spend all the time reading the file ;)  I should have read the code more in detail ! Sorry if you talk about this in the docs.

Total time: 38.2493 s
File: /Users/dubois.yann/Desktop/mlu2/venv-test/lib/python3.6/site-packages/pythainlp/tokenize/newmm.py
Function: onecut at line 78

Line #      Hits         Time  Per Hit   % Time  Line Contents

[2018-02-04 15:31] wannaphongcom commented on #65
@YannDubs Can you help me improve code for more efficiency? We need contributor to PyThaiNLP. (https://github.com/PyThaiNLP/pythainlp/blob/dev/CONTRIBUTING.md)

[2018-02-04 16:05] YannDubs commented on #65
There are 2 ways I see we can change this:
1. Define `word_tokenize` as a callable object. Pros : nice and clean. Cons : you have to change the API for the end user.
2. Define a constant global variable `THAI_WORDS = Trie(get_data())` in `tokenize.newmm`. Pros : very easy, nearly no changes. Cons : not extremely pythonic + people who give their own data would still have to load the default one onc

[2018-02-05 01:34] wannaphongcom commented on #65
@YannDubs  Thank you. 👍

[2018-02-10 06:52] wannaphongcom commented on #40
https://github.com/PyThaiNLP/pythainlp/commit/e0f37c9ee18189b14c5fc44c228b83421ad7dee6

[2018-02-10 06:52] #40 closed

[2018-02-11 15:52] YannDubs commented on #65
@wannaphongcom BTW there's an other minor issue:

[code]

I agree that having 30 times the same character is pretty rare but still it should not be `O(exp(n))`. The problem is in :

[code]

I don't completely understand what you are checking but you must be missing a simple edge case to stop your depth first search. If it's really a simple edge case you might want to put it.

[2018-02-11 16:12] korakot commented on #65
The code has this problem when there are multiple segmentation pathways.
Currently, it try to list all paths then find the shortest (=maximal
matching).
It does this stupidly by go depth-first (recursively) then rank them all.
I wrote a version that go breath-first and find just the shortest path,
also faster around 7% in my test case.
The code is somewhat longer, so for readibility sake, I choose

[2018-02-11 16:25] YannDubs commented on #65
Ohh I see : makes a lot of sens now !
I agree with you that readability is important, and this case is very rare so shouldn't really be an issue. Personally I will simply continue using `word_tokenize(rm_triplicates(txt))` so that I don't have this issue. I might have a closer look to see if there's an edge case we can add to prune DFS.

Thanks for you work :)

BTW I just did some evaluation and I

[2018-02-11 16:35] korakot commented on #65
My guess about accuracy is probably due to the word list used.
ICU will likely segment into shorter words than NEWMM. You cannot supply
your own word list.
NEWMM will try to choose the longest word from the word list, and there are
some long compound words there, so it may not fit the expectation.

My suggestion would be to look for those errors, and remove those long
words from the word list.

--

[2018-02-16 17:31] #64 closed

[2018-02-23 14:19] cstorm125 opened #67 "Productionize text classification model from pytorch"

[2018-02-23 14:21] cstorm125 opened #68 "Text clustering exploration"

[2018-02-23 14:22] cstorm125 opened #69 "Create Speech Recognition Dataset"
Possibly from scraping YouTube videos with Thai subtitles

[2018-02-23 14:24] #58 closed

[2018-02-24 08:45] petetanru opened #70 "Benchmark for tools in repository"

[2018-02-24 08:46] petetanru opened #71 "Sphinx-style documentation for the entire library"
To let [Sphinx](https://www.sphinx-doc.org/) build the docs, go inside `docs/` directory, and run:

[code]

Ideally, the official docs should also be updated at https://www.thainlp.org/pythainlp/docs/2.0/

[2018-02-24 16:56] PhatSriwichai opened #73 "Sentence tokenizer for Thai - การตัดประโยคที่ไม่ได้คั่นด้วย whitespace"
pythainlp รองรับการตัดประโยคที่ไม่ได้คั่นด้วย whitespace ไหมครับ
ตัวอย่าง
input: "อยากติดต่อสอบถามเรื่องเช่าพื้นที่ขายของของตลาดนัด"
output: ["อยากติดต่อสอบถาม", "เรื่องเช่าพื้นที่ขายของของตลาดนัด"]

[2018-02-25 08:14] wannaphongcom commented on #73
ตอนนี้ยังไม่รองรับครับ แต่มีแผนที่จะทำในอนาคตครับ ตอนนี้ยังต้องการ contributors ทำเรื่องนี้ครับ

[2018-02-25 12:56] wannaphongcom opened #74 "Create named entity recognition"
pythainlp.chunk
ต้องการคนร่วมพัฒนาและ tag ข้อมูลครับ https://github.com/PyThaiNLP/thai-named-entity-recognition

[2018-02-25 14:16] #47 closed

[2018-02-28 09:54] asripong opened #76 "Romanization Module six not found"
ลองใช้ romanization ตามโค้ดใน example แล้วเจอ error ค่ะ
![issue2](https://user-images.githubusercontent.com/1929313/36781278-039d2572-1ca8-11e8-8139-9374bd0e682f.PNG)

error:
![issue](https://user-images.githubusercontent.com/1929313/36781229-e1a926aa-1ca7-11e8-8add-1592ad5fcef6.PNG)

ขอบคุณมากค่า

[2018-02-28 14:02] wannaphongcom commented on #76
ให้ติดตั้ง six ด้วยครับ https://pypi.python.org/pypi/six

[2018-03-02 20:46] ammiiamm opened #78 "ทดลองเรียกใช้ Thai2vec แล้วเจอ Error"
สวัสดีค่ะ

พอดีทดลองเรียกใช้ Thai2vec ดู ตามคำสั่งด้านล่าง
`thai2vec.similarity("แมว","ปลา")`

ปรากฏว่าโปรแกรมขึ้น error : ValueError: invalid literal for int() with base 10: 'version'

ไม่แน่ใจว่าเกี่ยวข้องกับไฟล์ .vec รึเปล่านะคะ รบกวนช่วยตรวจสอบด้วยค่ะ ทั้งนี้ขอแนบไฟล์ Notebook ที่ทดสอบมาด้วยค่ะ https://drive.google.com/file/d/1BhbM59K1CHm9PJa-PYgq_x7QRnXnDWdY/view?usp=sharing

ขอบคุณค่ะ

[2018-03-03 03:49] wannaphongcom commented on #78
ได้ลอง thai2vec.download() ยังครับ

[2018-03-03 04:29] ammiiamm commented on #78
ลองเพิ่มเติมแล้วค่ะ(ใน Link Notebook เดิมข้างบน) สิ่งที่ download มาไม่ใช่ vector แต่เป็นข้อมูลตามด้านล่างค่ะ

oid sha256:fc262c3be0a5db8198c1f58a41a56d84ef96163009ccbbd8c94775f231df0e9d
size 147622245

ปล. พอดีเห็นคำว่า git-lfs เลยลองไป `git lfs clone` ตรงๆที่ Repo ของ Thai2vec ก็เจอปัญหา Repo Over Data Quota แทนค่ะ ^^"

[2018-03-03 13:08] cstorm125 commented on #78
อัพเกรด data pack ของ lfs แล้วครับ
ต่อไปอาจจะเปลี่ยนไปเก็บที่อื่นแทน
@wannaphongcom ถ้าได้ที่ใหม่เดี๋ยววานอัพเดท thai2vec.download() ด้วยนะครับ

[2018-03-03 13:20] wannaphongcom commented on #78
ลอง thai2vec.download()  ใหม่อีกรอบครับ

[2018-03-03 15:32] cstorm125 commented on #78
Google drive link:
https://drive.google.com/drive/folders/1_vZr_iR_LqIX4rEi7i5spN_6QDgj5r81?usp=sharing

[2018-03-03 15:36] ammiiamm commented on #78
ทดลอง download อีกรอบแล้ว ใช้ได้แล้วค่ะ ขอบคุณนะคะ :)

[2018-03-04 08:15] wannaphongcom commented on #78
fix in PyThaiNLP 1.6.0.4

[2018-03-04 08:15] #78 closed

[2018-03-06 14:31] mikephul opened #81 "simple tf-idf for thai document (after tokenize)?"
มีใครทำไปรึยังครับ พอดีผมลองใช้ของ scikit-learn แล้วออกมามั่วมาก

[2018-03-06 15:41] cstorm125 commented on #81
I think the best solution is to use the tokenizer from pyThaiNLP, then use many available solutions such as nltk, spacy, gensim, etc. (for python) or tm and quanteda (for R) for document frequency matrices.

[2018-03-06 16:41] mikephul commented on #81
Thanks for the suggestion! Get it to work with gensim.
From my quick try in python (for future reference)
1. [nltk doesn't support tf-idf ](https://www2.cs.duke.edu/courses/spring14/compsci290/assignments/lab02.html)
2. sklearn TfidfVectorizer gives weird result for Thai
`from sklearn.feature_extraction.text import TfidfVectorizer
 documents = ['เดี๋ยว', 'ไป', 'ส่ง', 'นะ']
 tfidf_vectorizer = Tfid

[2018-03-06 16:42] #81 closed

[2018-03-13 09:47] san73 opened #82 "Incorrect Sentiment analysis"
from pythainlp.sentiment import sentiment
i = 'ผมมีความสุข'
sentiment(i)

Output : 'neg'

The following text has positive sentiment but the output is negative. Can someone help me please. Thanks

[2018-03-14 05:23] wannaphongcom commented on #82
We are looking for a solution.

[2018-03-14 06:49] wannaphongcom opened #83 "Create new sentiment analysis"
GitHub : https://github.com/PyThaiNLP/thai_sentiment_analysis

[2018-03-14 06:50] wannaphongcom commented on #82
https://github.com/PyThaiNLP/pythainlp/issues/83

[2018-03-14 15:15] san73 commented on #82
Hello wassphongcom,

Hope you doing well.

I have come across many positive keywords, which is classified as negative. I guess the keyword list has to be updated.

Also is it possible to have neutral sentiment for the text. I only see positive and negative sentiment. A text without positive or negative words can be classified as neutral.

Thank you for your cooperation.

[2018-03-23 05:07] BeYourCyber opened #84 "Romanization TypeError: Argument 'key' has incorrect type (expected unicode, got str)"
First time used, after download dict and run this

  romanization("แมว") # 'maew'

It thrown error.

    word_list=word_tokenize(data)
  File "/usr/local/lib/python2.7/dist-packages/pythainlp/tokenize/__init__.py", line 102, in word_tokenize
    return segment(text)
  File "/usr/local/lib/python2.7/dist-packages/pythainlp/tokenize/newmm.py", line 139, in mmcut
    return list(onecut(text, data=dat

[2018-03-23 12:06] wannaphongcom commented on #84
try
[code]
It's error ?

[2018-03-26 04:55] BeYourCyber commented on #84
It working now.

[2018-03-26 04:55] #84 closed

[2018-04-03 14:10] giggls opened #86 "Error in romanization function"
I'm trying to use your romanization code for Thai romanization of Openstreetmap.
(see https://github.com/giggls/osml10n). As ICU library does not produce useful results.

Unfortunately while processing data this code crashes at some stage:

[code]

The problem seems to boil down to the following:

[code]

The object we are talking about is the following bus-stop:
http://www.openstreetmap.org/node/

[2018-04-04 09:14] giggls commented on #86
Forgot to post the actual error:
[code]

[2018-04-07 15:53] wannaphongcom commented on #86
PRINCIPLES OF ROMANIZATION FOR THAI SCRIPT BY TRANSCRIPTION METHOD http://www.arts.chula.ac.th/~ling/tts/principles_eng.pdf

[2018-04-08 11:31] giggls commented on #86
Hm I do not really know how to get along with this answer.

Learning how thai transcription works is not an option for me.

Openstreetmap Objects may well contain spelling errors and even then I need to be able to use the library.

For now I just implemented an exception handler in my code which will fall back to generic libicu transliteration if the above code fails.
https://github.com/giggls/osm

[2018-04-09 15:59] wannaphongcom opened #87 "rewrite pythainlp.tokenize.pyicu"
- [x] rewrite pythainlp.tokenize.pyicu

[2018-04-09 16:25] wannaphongcom commented on #65
Now , PyICU has white spaces. in https://github.com/PyThaiNLP/pythainlp/commit/8d0081aac2f8da966ae11ccbfd42c13c527a519c I will to add api not putting whitespaces in word_tokenize.

[2018-04-09 16:25] #87 closed

[2018-04-10 17:08] wannaphongcom opened #88 "GUI for PyThaiNLP"
เพื่อการศึกษาสำหรับผู้สนใจการประมวลผลภาษาธรรมชาติและนักภาษาศาสตร์

- [ ] Design GUI

- [ ] build gui

- [ ] build exe for windows 32 bit & 64 bit

[2018-04-14 11:36] wannaphongcom opened #89 "train new postag"
- [x] train new unigram model for orchid corpus

- [x] train using Greedy Averaged Perceptron tagger

- [x] train thai parallel universal dependencies

[2018-04-14 12:07] MingPawat opened #90 "Spell-Correct: Probability of all corrected words are the same"
In pythainlp/pythainlp/spell/pn.py, you said you fork the code from http://norvig.com/spell-correct.html. As far as I understand, you use the same implementation as in the link.

In your code, you import "WORDS" from **dictionary**. Instead the link above use **corpus** (big.txt) rather than dictionary. This make the probability of the corrected words are the same because all words appear only onc

[2018-04-15 03:41] wannaphongcom commented on #89
เพิ่มพารามิเตอร์เข้าไปในตัว tag ชื่อ corpus เข้าไป

[2018-04-15 03:42] wannaphongcom commented on #89
- [ ] train thai parallel universal dependencies

[2018-04-17 09:40] #89 closed

[2018-05-24 14:09] wannaphongcom opened #92 "List PyThaiNLP 1.7"
- [x] train new postag #89

- [x] rewrite pythainlp.tokenize.pyicu #87

- [x] Create new sentiment analysis #83

- [x] "newmm" tokenizes white spaces  #65

- [x] add pythainlp.tag.pos_tag_sents

- [x]  Add converts Thai numbers written in words to digits #94

- [x] Deprecate Python 2 support #107

- [x]  romanization

- [x]  Thai NER #114

- [x] Docs

[2018-05-28 11:15] cocoza4 opened #93 "problem with marisa_trie 0.7.5 dependency"
Hi all,

I was able to install pythainlp successfully but once I ran word_tokenize("ชิงร้อยชิงล้าน")

I got ImportError: ENVs/ttv-web-crawler/lib/python3.6/site-packages/marisa_trie.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZTVNSt7__cxx1118basic_stringstreamIcSt11char_traitsIcESaIcEEE

When I downgraded marisa_trie from 0.7.5 to 0.7.4, it worked like a charm. I'm on Anaconda Python 3.6.1

[2018-06-04 15:21] wannaphongcom commented on #93
Thank you. (y)

[2018-06-04 16:09] wannaphongcom commented on #65
fixed tokenizes white spaces https://github.com/PyThaiNLP/pythainlp/commit/57719e9f680728c96d3e0c0db7a36cc54af5fcdf

[2018-06-04 16:09] #65 closed

[2018-06-06 07:58] surasakcho commented on #93
I happened to have the same version of marisa_trie (0.7.5) you mentioned but mine was on different environment as follow
-Python 3.6.3 :: Anaconda custom (64-bit)
- Win7-64.

I found that the same phrase can be tokenized finely in my machine.
I think the cause of this issue may not be marisa_trie 0.7.5 dependency.

[2018-06-08 07:07] which-one commented on #93
Hi,

I'm running Python3.6 on Ubuntu 16.04 and got the same problem.

[code]

I confirmed that downgrading marisa_trie from 0.7.5 to 0.7.4 solved the error.

Best,
Print

[2018-06-12 16:49] #93 closed

[2018-06-17 03:52] wannaphongcom commented on #82
We doing a new sentiment analysis for PyThaiNLP. Coming Soon !!!

[2018-06-20 16:22] wannaphongcom opened #94 "Add converts Thai numbers written in words to digits"
from https://www.facebook.com/groups/thainlp/permalink/582475818800579/

[2018-06-20 16:22] wannaphongcom commented on #94
Notebook : https://colab.research.google.com/drive/148WNIeclf0kOU6QxKd6pcfwpSs8l-VKD
by @korakot

[2018-06-22 08:07] #94 closed

[2018-06-29 19:06] cstorm125 commented on #67
done

[2018-06-29 19:06] #67 closed

[2018-06-29 19:08] cstorm125 commented on #68
done with ulmfit

[2018-06-29 19:08] #68 closed

[2018-07-17 16:11] #83 closed

[2018-07-17 16:12] wannaphongcom commented on #82
Close https://github.com/PyThaiNLP/pythainlp/commit/60daa0ec6a113ac524a53c59eacfe669157a0d10
Notebook : https://colab.research.google.com/drive/1ZZHAZhk15cHOeITVshhpcT9EYEiLbAyc

[2018-07-17 16:12] #82 closed

[2018-07-21 14:22] #44 closed

[2018-07-22 08:03] wannaphongcom opened #106 "Add thai word to pronunciation"
I has a thai pronunciation corpora but I can't build word to pronunciation system.

Contact me : https://web.facebook.com/tontanwannaphong

[2018-08-07 08:08] wannaphongcom opened #107 "Deprecate Python 2 support"
We plan to deprecate python 2.7 support.

[2018-08-11 10:44] #107 closed

[2018-08-17 12:42] wannaphongcom commented on #86
Try thai2rom https://colab.research.google.com/drive/1WOyza-lLprlrurg-GkBDJ4z6sQ4gV_Iy

[2018-08-28 16:16] littlejab opened #110 "Sentiment went wrong"
Some words like 'รัก', 'ชอบ' return with 'neg'.

[2018-08-30 10:26] wannaphongcom commented on #110
Sentiment Analyzer based on thai2vec https://colab.research.google.com/drive/1ZZHAZhk15cHOeITVshhpcT9EYEiLbAyc

[2018-09-03 17:43] tamato1 opened #111 "ตัดคำที่มีอักษรซ้ำยาวๆ ด้วย word_tokenize ไม่ได้ครับ"
ใช้ตัว word_tokenize จะใช้เวลานานมากกว่าผลจะออกมาครับ จาก code ข้างล่างผมใช้เวลาไป 5 ชั่วโมง(เฉพาะคำนี้คำเดียว) ก็ยังไม่เสร็จครับ โดยที่ไม่ขึ้น error อะไรเลย
[code]
เมื่อลองวัดเวลาที่ใช้ในการตัดคำด้วย code ข้างล่าง

[code]

ได้ผลลัพธ์ดังนี้ครับ
[code]

หลังจากคำที่ 6 เป็นต้นไปใช้เวลานานมากผมเลยกด stop ก่อน  จะเห็นว่าเวลาที่ใช้ของคำสุดท้ายกระโดดไปที่ 66 วินาที/ข้อความ จึงคาดว่าที่ไม่ขึ้น error อะไร

[2018-09-04 03:46] bact commented on #111
ผมเข้าใจว่ากรณีนี้ bfs_paths_graph() ที่จะถูกสร้างขึ้น มันทวีคูณขึ้นไปเยอะมาก (อ จะไปอยู่ตรงไหนของคำก็ได้)

ผมนึกวิธีแก้แบบ hackๆ ออกอันนึงคือ ใช้ regular expression จับ \w{6,} เจอตัวอักษรไหนซ้ำกันมากกว่า 6 ตัว
(5 ตัวมีกรณีแบบ "เอออออย่างนั้น") ให้ split ตั้งแต่ตัวที่ 6 ออกมาเลย
แล้ว take มันเป็น unknown ไป ส่วนที่เหลือก็ตัดตามปกติ

ตัวอย่างเช่น

"เอออออออออออออออ"
v
ตัดหางแถวของตัวอักษรซ้ำๆ ออกมา

[2018-09-04 05:00] elcolie opened #113 "Unable to install with Python3.7.0"
Python3.7.0
[code]

[2018-09-04 05:11] elcolie commented on #113
Found the answer. The problem comes from dependency.
https://github.com/s-yata/marisa-trie

FYI: OSX guys need to install `automake` by `brew` before proceed

[2018-09-04 09:36] bact commented on #111
ผมลองทำตามไอเดียที่เสนอนะครับ เป็นแบบ hack มากๆ

[code]

ผลลัพธ์ครับ

Original tokenize: ['แง', 'ฮือ', 'อ', 'ออ', 'แง', 'ออ', 'ออ']
Original tokenize: 0.0009222030639648438 secs

Ignore long dups : ['แง', 'ฮือ', 'อ', 'ออ', 'แง', 'ออ', 'ออ']
Ignore long dups : 0.0007569789886474609 secs

[...]

Original tokenize: ['แง', 'ฮือ', 'อ', 'ออ', 'ออ', 'ออ', 'ออ', 'ออ', 'ออ', 'ออ', 'ออ', 'ออ', 'ออ', 'ออ', '

[2018-09-04 09:40] elcolie commented on #113
@bact Thanks for your comment

I fixed this by install `dev` branch from the repo
`requirements.txt`
-e git+git@github.com:PyThaiNLP/pythainlp.git@dev#egg=pythainlp

`pip install -r requirements.txt`

[2018-09-04 13:15] wannaphongcom commented on #111
ตอนนี้ผมได้แก้ไขเรียบร้อยแล้วครับ
![newmm in PyThaiNLP 1.7](https://i.imgur.com/itLCznV.png)

[2018-09-05 15:22] bact commented on #111
โอเค ใช้วิธีตัด อักษรเดี่ยว ออกไปจากพจนานุกรม ทำให้ไม่เกิดกรณีที่ว่า

[2018-09-05 16:10] wannaphongcom opened #114 "Add Thai NER to PyThaiNLP"
Thai NER is named entity recognition for PyThaiNLP.

Notebook : https://colab.research.google.com/drive/1fUTGpj4tXJFm0Uz5Ae39Bj3yFPOeLFij

ThaiNER : https://github.com/wannaphongcom/thai-ner/blob/master/model/0.1/README.md

GitHub : https://github.com/wannaphongcom/thai-ner

[2018-09-06 15:03] #114 closed

[2018-09-09 08:36] #74 closed

[2018-09-09 08:37] #86 closed

[2018-09-09 18:16] bact commented on #111
เจอเคสนี้ก็ตายเหมือนกันครับ

"อิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิอิ"

[2018-09-10 12:47] wannaphongcom commented on #111
@bact แก้ไขตัดคำออกแล้วครับ https://github.com/PyThaiNLP/pythainlp/commit/a234c5799e3afccb96ffffcf57e86b0174462cb2

[2018-09-16 14:05] #106 closed

[2018-09-19 12:53] wannaphongcom opened #116 "Thai Grapheme To Phoneme ?"
We needs contributors to build thai grapheme to phoneme.

[2018-09-22 13:02] wannaphongcom commented on #111
Close https://github.com/PyThaiNLP/pythainlp/pull/117/

[2018-09-22 13:02] #111 closed

[2018-09-22 13:03] wannaphongcom commented on #113
Close in PyThaiNLP 1.7 https://github.com/PyThaiNLP/pythainlp/pull/117/

[2018-09-22 13:03] #113 closed

[2018-09-22 13:03] #110 closed

[2018-09-22 13:03] wannaphongcom commented on #92
Close https://github.com/PyThaiNLP/pythainlp/pull/117/

[2018-09-22 13:03] #92 closed

[2018-09-22 18:01] wannaphongcom opened #118 "List PyThaiNLP 2.0"
- Since there will be some API changes, this will be released as PyThaiNLP 2.0 (#154)
- Thai Text Classification Benchmarks https://github.com/PyThaiNLP/classification-benchmarks

## New evaluation corpus
- [Prachatai newspaper](https://github.com/PyThaiNLP/prachathai-67k), from https://prachatai.com - with news category tags
- [Wisesight-Sentiment Corpus](https://github.com/PyThaiNLP/wisesight-se

[2018-09-24 10:19] dewringmaster opened #119 "อยากเพิ่มคำใน pythainlp.spell ครับ"
สวัสดีครับผม จากที่ได้ทดสอบ โปรแกรมสามารถแก้คำผิดพวกจังหวัดได้ดีมาก แต่ยังไม่สามารถแก้เขต  แขวง ได้ ผมสามารถสร้าง dict ลงให้เพิ่มให้ตัวโปรแกรมได้ไหมคครับ

[2018-09-25 08:18] wannaphongcom commented on #119
ไม่ครับ

[2018-09-26 10:29] dewringmaster commented on #119
hunspell นี้เราจะไม่สามารถ fix คำที่ต้องการแก้ใช้ไหมครับ

ถ้ามี set คำที่เราต้องการแก้จำกัดอยู่แล้ว ใช้แค่ engine pn เพียงพอแล้วใช้ไหมครับ

[2018-09-26 10:59] wannaphongcom commented on #119
ใช่ครับ

[2018-10-04 17:17] pcrete opened #121 ""newmm" engine takes too long to tokenize words."
# "newmm" engine takes too long to tokenize words
## Compare performance between **old** and **new** maximum matching algorithms
This example shows that **newmm** is about > 1000 times slower.
### Old MM
![image](https://user-images.githubusercontent.com/24978039/46490648-c42cf200-c832-11e8-8585-c119e732bc7e.png)
### New MM
![image](https://user-images.githubusercontent.com/24978039/46490937-8381a

[2018-10-04 17:47] #121 closed

[2018-10-09 03:27] elcolie opened #123 "PackagesNotFoundError: The following packages are not available from current channels:"
[code]

Do you have plan to release it in `conda`?

[2018-10-11 17:05] wannaphongcom commented on #123
No , we haven't plan to release it in conda soon.

[2018-10-12 16:07] bact commented on #73
Same as an enhancement request in #43

[2018-10-12 16:16] bact commented on #62
มีบทความเปรียบเทียบลักษณะนี้อยู่เหมือนกันครับ แต่เป็นการเปรียบเทียบด้วยคลัง ORCHID (ตอนนั้นยังไม่มี BEST)
โดยเป็นการเปรียบเทียบการตัดคำแบบใช้พจนานุกรม (อัลกอริทึม longest matching และ maximal matching กับ พจนานุกรม Lexitron และ พจนานุกรมที่มีคำตามโดเมน) กับการตัดคำโดยใช้การเรียนรู้ของเครื่อง (naive bayes, decision tree [J48], support vector machine, และ conditional random field)

A comparative stu

[2018-10-14 05:32] bact opened #128 "Merging duplicated or closely related small documentation files together"
ตอนนี้มีไฟล์คำอธิบายโครงการอยู่เยอะมาก และหลายไฟล์ไม่อัปเดต หรือไม่แน่ใจว่าใช้อันไหนเป็นอันล่าสุด
จึงขอเสนอให้ยุบรวมไฟล์ย่อยๆ หรือที่มีเนื้อหาใกล้กัน ให้มาอยู่ด้วยกัน เพื่อการปรับปรุงที่สะดวกขึ้น และเพื่อให้ผู้ใช้ไม่สับสน

# กลุ่มที่ 1: ไฟล์ LICENSE
- https://github.com/PyThaiNLP/pythainlp/blob/dev/LICENSE
- https://github.com/PyThaiNLP/pythainlp/blob/dev/LICENSE.txt

กลุ่มนี้น่าจะเหลือไฟล์เดียวได

[2018-10-14 06:05] bact commented on #123
You can install pip package in conda environment.
See https://conda.io/docs/user-guide/tasks/manage-pkgs.html#installing-non-conda-packages

1.
Windows, in Anaconda Prompt, run:
activate myenv

macOS/Linux, in Terminal, run:
source activate myenv

2. pip install pythainlp

3. conda list

[2018-10-14 07:46] wannaphongcom commented on #128
ขอตอบในส่วนแต่ละกลุ่มไฟล์นะครับ

**กลุ่มที่ 1: ไฟล์ LICENSE**
เห็นด้วยครับ เพราะเหมือนว่า GitHub จะอ่านจากไฟล์ LICENSE อย่างเดียวนะครับ

**กลุ่มที่ 2: ไฟล์ README**

อันนี้ตอนแรกมีเพียงไฟล์ README.rst กับ README.md ต่อมาผมแยกไฟล์ README-pythainlp.md ออกจากไฟล์ README.md เพื่อนำไปแสดงผลใน pypi ส่วน README.md เป็นไฟล์หน้าหลักสำหรับแสดงแนะนำโครงการใน GitHub เพราะใน GitHub branche ตั้งต้นเป็น dev เป็น

[2018-10-14 09:57] bact commented on #128
จะลองทำตามที่แนะนำครับ ขอบคุณครับ

[2018-10-18 09:08] elcolie opened #130 "SystemExit: Error ! using pip install deepcut"
[code]

Python 3.6.5
pip 18.1 from /Users/sarit/.pyenv/versions/3.6.5/envs/fanta-report/lib/python3.6/site-packages/pip (python 3.6)
pythainlp==1.7.0.1
deepcut==0.6.1.0

`pythainlp` unable to call `deepcut` and raise the error

[2018-10-19 04:54] wannaphongcom commented on #130
Can you using deepcut by `import deepcut` ?

[2018-10-20 02:36] #128 closed

[2018-10-24 12:56] bact commented on #119
น่าจะได้คำตอบแล้ว
ปิด issue นี้ได้ไหมครับ

[2018-10-24 12:57] bact commented on #43
ขออนุญาตปิด issue นี้ เพื่อไปรวมกับ issue #73 ครับ

[2018-10-24 12:57] #43 closed

[2018-10-24 12:59] bact commented on #70
Related to issue #62 ?

[2018-10-25 05:15] elcolie opened #136 "Unable to follow the ThaiTokenizer document"
I did `pip install fastai numpy dill` already. And try follow the document

คือดีtkrep6ย

This the error.
[code]

`pip freeze`
[code]

OSX: 10.14
Python: 3.6.6

[2018-10-25 05:28] cstorm125 commented on #136
We are in the process of moving all ULMFit-related codes to fastai 1.0. You need fastai==0.7.0 for the old code to work.

[2018-10-25 05:28] #136 closed

[2018-10-25 14:11] bact commented on #90
# Observation

Confirmed @MingPawat observation. Below is a result from PyThaiNLP 1.7.0.1:

[code]

All words that included in dictionary will have probability value of 1.9348347651110595e-05,
everything else will be 0.0.

I tried to use word frequencies from Thai National Corpus instead
(from pythainlp.corpus import tnc -- they're already a counted number, not the actual corpus).
by replacing

[c

[2018-10-25 20:22] bact commented on #90
@MingPawat I have put a pull request #137 to fix this based on your suggestion. If you have time, please review if it works in a correct way. Thank you.

[2018-10-27 10:00] bact commented on #119
จากการแก้ไข #137 จะทำให้การแก้ไขไฟล์ thaiword.txt ไม่มีผลต่อการทำงานของ pythainlp.corpus.pn.spell()

TODO: เพิ่ม spell checker class เพื่อให้ผู้ใช้สามารถระบุรายการคำ (พจนานุกรม) ได้เอง

[2018-10-30 10:29] bact opened #141 "Naming convention for consistency วิธีการตั้งชื่อไฟล์"
ปัจจุบันไฟล์ใน pythainlp/corpus มีรูปแบบการตั้งชื่อที่ไม่สม่ำเสมอ

# การใช้ _ หรือ - คั่นคำ
- thaipos.py <- ไม่มี _ คั่น
- thaipos.json <- ไม่มี _ คั่น, ชื่อไฟล์ข้อมูลเหมือนไฟล์โค้ด
- thaiword.py
- thaiword.txt
- thaisyllable.py <- ไม่มี _ คั่น
- thai_syllable.txt <- มี _ คั่น, ชื่อไฟล์ข้อมูลไม่เหมือนไฟล์โค้ด
- new-thaidict.txt <- มี - คั่น, ชื่อไฟล์ข้อมูลไม่เหมือนไฟล์โค้ด
- newthaiword.py

# เอกพ

[2018-10-30 11:11] cstorm125 commented on #141
ผมคิดว่า

1. ใช้ _ เพราะมีปัญหาน้อยกว่า ไม่ถูกมองผิดเป็นเครื่องหมายลบ
2. ควรเป็นพหูจน์เพราะไฟล์นั้นๆมีสิ่งของมากกว่าหนึ่ง
3. suffix เพราะส่วนใหญ่เป็น thai เวลาเรากดหาน่าจะอยากหา functional keyword มากกว่า
3.1 เห็นว่าควรใช้ th เพราะตัวหนังสือน้อยกว่า

[2018-10-31 15:39] bact opened #144 "package import, installation, and data download policy - should we make a decision to install a package/make a local copy of data without the user asking?"
# Background

Currently (version 1.7.x), some pythainlp modules will install a package/packages automatically if it's not yet installed.

For example:
[code]

The mechanism may convenient and suitable for use case inside a Jupyter notebook, but may not be ideal for other use cases' environment, like running in a system that's need more control over which package should be in presented in the syste

[2018-10-31 17:08] wannaphong opened #145 "Keyword extraction"
Add Keyword extraction to PyThaiNLP

[2018-11-03 07:02] bact commented on #107
Python 2 compatiblity code is removed in PyThaiNLP version 1.8

[2018-11-04 02:29] bact commented on #121
Same issue as #111.
Fixed with #117 - PyThaiNLP 1.7.

[2018-11-05 16:17] #123 closed

[2018-11-06 08:17] elcolie opened #152 "Pythainlp branch Dev and 1.7.1 are unable to install marisa-trie 0.7.4 - 0.7.5"
Docker image: digitalgenius/alpine-python3-pg
pip 18.1 from /usr/lib/python3.6/site-packages/pip (python 3.6)
pythainlp==1.7.1 and `dev`
marisa-trie==0.7.4
`or`
marisa-trie==0.7.5

`0.7.4, 0.7.5`
[code]

[2018-11-06 08:28] elcolie commented on #152
@bact Thank you for your attention

[2018-11-06 08:28] #152 closed

[2018-11-06 13:19] wannaphongcom commented on #144
อันนี้น่าจะแก้ไขปัญหาเวลาติดตั้งโมดูลได้นะครับ จะได้ลบโค้ดติดตั้ง auto เองทิ้งครับ https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

[2018-11-07 09:06] wannaphongcom opened #154 "PyThaiNLP 1.8 -> PyThaiNLP 2.0"
เนื่องจาก PyThaiNLP กำลังมีการเปลี่ยนแปลงโครงสร้างและ API จำนวนมาก ผมจึงเสนอให้เวชั่นถัดไปของ PyThaiNLP เริ่มต้นที่ 2.0 แทน 1.8 เพื่อไม่ให้สับสนใช้ API ตัวเดิมที่ถูกเปลี่ยน

[2018-11-07 09:09] wannaphongcom commented on #144
ถ้าย้ายโมดูลที่ต้องติดตั้งเพิ่มมาไว้ใน setup.py น่าจะได้ไหมครับ @bact

[2018-11-08 01:54] bact commented on #144
น่าสนใจครับ
ตอนนี้มีทางเลือกแบบนี้ครับ

ระหว่างรัน

- ถ้าพบว่า ImportError ให้ติดตั้งให้อัตโนมัติ (ใช้ ```install_package```) -- ปัจจุบันโค้ดส่วนใหญ่เป็นแบบนี้
- ถ้าพบว่า ImportError ปล่อยตาย

ตอนติดตั้ง

- ระบุลงใน requirements.txt (ซึ่งอาจมีได้หลายไฟล์ เช่น requirements-travis.txt ใช้สำหรับตอน build)
- ระบุลงใน setup.py
  - install_requires สำหรับแพคเกจที่ต้องใช้จริงๆ
  - extras_require สำหรับแพ

[2018-11-08 03:16] wannaphongcom commented on #144
ผมคิดว่าคนที่ใช้ในฝั่งผู้ใช้งานทางเว็บจากเซิฟเวอร์จะไม่รู้ว่าถูกเปลี่ยนไปใช้โค้ดส่วนอื่นที่เป็น fallback อาจจะทำให้เกิดการสับสนผลลัพธ์ต่างกันได้ครับ

[2018-11-09 00:53] bact commented on #144
ผมลองเพิ่ม extras_require ตามนี้นะครับ

[code]

เวลาติดตั้ง ก็ใช้

```pip install pythainlp[extra,extra,...]```

เช่น

```pip install pythainlp[icu,pos]```

ก็จะติดตั้ง pyicu กับ artagger ให้ด้วย เพิ่มเติมจากใน requirements.txt

[2018-11-09 04:02] bact opened #155 "[artagger] UnicodeDecodeError when read Thai.RDR file on Windows"
artagger fails to read Thai.RDR file on Windows, due to Unicode error (can't decode byte 0x8d in position 417)
https://ci.appveyor.com/project/wannaphongcom/pythainlp-9y1ch/builds/20163741

[code]

The same code works well in Travis test (Linux).

[2018-11-09 05:07] bact commented on #144
ปัญหานึงที่พบ เมื่อลองติดตั้งทุก package เพื่อที่จะ test ก็คือ ตัว CI ทั้ง Travis และ AppVeyor จะรัน job ไม่จบ เนื่องจาก job มันยาว ติดตั้งหลาย package จนเกินเวลาที่มันยอมให้ใช้

ตรงนี้ในการใช้งานจริงคงไม่เป็นปัญหา แต่จะเป็นปัญหาสำหรับการพัฒนา/ทำ test

[2018-11-09 16:02] bact commented on #155
Still facing the same problem:
https://ci.appveyor.com/project/wannaphongcom/pythainlp-9y1ch/builds/20179054

[2018-11-10 06:47] bact commented on #144
ผมคิดว่า ถ้าไม่คิดปัญหาเรื่องลิขสิทธิ์และสัญญาอนุญาต โมเดลอย่าง thainer, thai2rom, thai2vec
ควรจะติดมากับ package หลักเลย (เมื่อสั่งติดตั้งด้วย option ที่เหมาะสม) เพื่อจะได้ไม่ต้องดาวน์โหลดระหว่างรัน

ตรงนี้มีผลกับเวลาที่ใช้ในการ build เพื่อ test ในระบบ CI บน github ด้วย เพราะทุกครั้งที่ build ก็ต้องโหลดใหม่ทุกครั้ง เสียเวลาเพิ่มขึ้นมาก (ก่อนหน้านี้ไม่รู้สึกนัก เพราะ test coverage ยังไปไม่ถึงฟังก์

[2018-11-10 10:08] bact commented on #144
ทาง @wannaphongcom มีความเห็นว่า โมเดลบางตัว 1) มีขนาดใหญ่ และ 2) มีการปรับปรุงต่อเนื่อง ทำให้อาจไม่สะดวกที่จะถูกติดตั้งมาแต่แรก

ประเด็น (1) น่าจะไม่มีปัญหา ถ้าเราให้ผู้ใช้เลือกได้ว่าจะติดตั้งหรือไม่

ประเด็น (2) อาจจะพอลดจำนวนการดาวน์โหลดได้ ถ้ามีการติดตั้งข้อมูลมาตรฐาน (ไม่จำเป็นต้องเป็นรุ่นใหม่ล่าสุด) ในการติดตั้งแพคเกจ - ทำให้ตอน test ก็ยังใช้โมเดลตัวเก่ารันโปรแกรมได้ ส่วนใครจะไปติดตั้งรุ่นให

[2018-11-10 18:01] wannaphongcom commented on #155
artagger ต้องโหลดจาก GitHub ผม https://github.com/wannaphongcom/artagger เท่านั้นครับ ผมส่ง https://github.com/franziz/artagger/pull/5 เข้าไปหลายเดือนแล้วเขายังไม่รับครับ

[2018-11-11 04:44] bact commented on #155
ขอบคุณครับ อืมม แบบนี้จะใช้ท่าไหนใน setup.py ดี

[2018-11-11 04:47] bact commented on #155
- Need this fix to be merged to the main distribution (on PyPI) https://github.com/franziz/artagger/pull/5 in order to being able to use standard ```pip install artagger```
- Or should we modify setup.py somehow to download it for the user?

[2018-11-11 15:00] bact commented on #155
Workaround #157 : ```pip install https://github.com/wannaphongcom/artagger/tarball/master#egg=artagger``` before ```pip install pythainlp[artagger]``` - this will make it possible to do test on AppVeyor (Windows environment).

Windows users should be aware this for their own installation -- already updated README.md.

[2018-11-12 02:07] bact commented on #155
artagger issue. follow franziz/artagger#5

close here for now.

[2018-11-12 02:07] #155 closed

[2018-11-12 02:08] bact commented on #154
สำหรับรายการความเปลี่ยนแปลง ดูได้ที่ #118 ครับ

[2018-11-12 02:15] bact commented on #144
- ตอนนี้เรื่อง import น่าจะถือว่าแก้ไขได้แล้ว ด้วยการใช้ extras_package (ดูรายละเอียดได้ใน PR #153) และมี workaround สำหรับ artagger บน Windows (#157)
- ส่วนเรื่องการดาวน์โหลดข้อมูล (โมเดล, รายการคำ, สถิติ, ฯลฯ) เป็นประเด็นที่ต้องหารือกันต่อไป

[2018-11-22 10:30] #116 closed

[2018-12-05 17:43] wannaphongcom opened #163 "TODO : update data from terminal"

[2018-12-20 12:50] saengowp opened #164 "ModuleNotFoundError: No module named 'tensorflow'"
**Description**

`tensorflow` dependency missing when calling `romanization(_, 'thai2rom')`.

**Step to reproduce**

type following command.

[code]

*Result:*
[code]

**Workaround**

Manually installing `tensorflow` using pip.

**Affected version**

pythainlp-1.7.1

[2018-12-20 18:15] wannaphongcom commented on #164
Can you update TensorFlow ?

`pip install -U tensorflow`

[2018-12-26 07:54] BLKSerene opened #166 "sent_tokenize also split text by vertical line"
**Describe the bug**
the docstring of `sent_tokenize `says "This function does not yet automatically recognize when a sentence actually ends. Rather it helps split text where white space and a new line is found.", but it actually split text by whitespace, newline and the vertical bar.

For the default engine "whitespace+newline":
`sentences = re.sub(r"\n+|\s+", "|", text, re.U).split("|")`
Replaci

[2018-12-26 08:34] BLKSerene opened #167 "What's the tagset used by PyThaiNLP?"
Is there any way to get all possible tags used by PyThaiNLP's POS taggers, or could you please give a reference for the tagset?
And since there are two different corpora used by PyThaiNLP ("orchid" and "pud"), so I suppose there would be two different tagsets? And will different tagging engines (unigram, perceptron and artagger) affect the tagset used?

[2018-12-26 15:00] #163 closed

[2018-12-27 17:35] #166 closed

[2018-12-28 04:58] BLKSerene commented on #167
Thanks.

[2018-12-28 11:14] saengowp commented on #164
Workaround fixed the problem. However, Shouldn't the library automatically install `tensorflow` by itself?

[2018-12-28 12:13] #167 closed

[2018-12-28 12:18] wannaphongcom commented on #164
@saengowp Yes, we will remove automatically install in PyThaiNLP 2.0.

[2019-01-05 08:17] wannaphongcom opened #171 "Add check thai word"
Add check thai word. If it is a thai word, return true.

- from https://github.com/wannaphongcom/open-thai-nlp-document/blob/master/check_thai_word.md

[2019-01-05 08:40] #171 closed

[2019-01-13 07:56] wannaphongcom commented on #62
อันนี้เป็นของ deepcut ครับ https://docs.google.com/spreadsheets/d/1KXyyycO9aVLkh5IDe1BTnYoO5Oevr0o1Gr3GvWauSZk/edit?usp=sharing โดย test กับ best testset ครับ

[2019-01-13 07:58] wannaphongcom commented on #62
ส่วนของ newmm โดย test กับ best testset ได้ผลดังนี้ครับ

[code]

[2019-01-13 07:59] wannaphongcom commented on #62
ส่วนของ pyicu โดย test กับ best testset ได้ผลดังนี้ครับ

[code]

[2019-01-13 08:01] wannaphongcom commented on #62
สาเหตุที่ประสิทธิภาพต่างกันแม้จะ test โดยใช้ testset เดียวกัน ตามที่คุณ @spicydog กล่าวไว้ข้างบนครับ

[2019-01-22 16:50] LXZE opened #172 "ModuleNotFoundError after calling pythainlp.sentiment(string, 'ulmfit')"
**Describe the bug**
After the installation of Pythainlp version 1.7 inside Google Colab, I have called a function pythainlp.sentiment(string, 'ulmfit') and then an error occurred as below example.

**To Reproduce**
Steps to reproduce the behaviour:

1. Create new Google colab's notebook, setting notebook to use Python3 and Hardware accelerator as GPU
2. Code as below

[code]

**Note**
After I've

[2019-01-24 12:09] LXZE commented on #172
I've tried fastai library version 0.7 with the same code and this error occurred
[code]

Ps. So, are you going to remove the sentiment analysis function on next release and separate this task to other library or something?

[2019-01-24 16:34] wannaphongcom commented on #172
@LXZE Fastai 0.7 need PyTorch 0.4.1.
You can train the sentiment analysis from https://github.com/PyThaiNLP/pythainlp/blob/dev/notebooks/ulmfit_sentiment_example.ipynb in the next release (PyThaiNLP 2.0).

[2019-01-25 05:05] cstorm125 commented on #172
@LXZE Seems like there is a bug with the versions of pre-1.0 fastai. I've tried combing through the commits but still no luck. We are removing sentiment analysis because

1. It is redundant with text classification.
2. We trained the sentiment on product reviews which can hardly generalize to other types of sentiment. It would be better if you just train on your own domain-dependent datasets. We a

[2019-01-28 10:35] LXZE commented on #172
Understood. I would train the model according to the given example on my own later. Closing this issue now.

[2019-01-28 10:35] #172 closed

[2019-01-29 19:41] heytitle commented on #62
ทาง pythainlp มีแผนทำ benchmark collection ของ algorithms ต่างๆ ไหมครับ

จริงๆ เห็นมี อันนี้อยู่ https://github.com/kobkrit/nlp_thai_resources แต่พอหน้ามันเริ่มใหญ่แล้วมันดูยาก

[2019-02-12 12:02] BLKSerene opened #174 "Set perceptron POS tagger as the default POS tagger"
The perceptron POS tagger performs far better than the old unigram POS tagger, so I think that the former one should be made as the default in PyThaiNLP 2.0.

Since there will be some API changes in PyThaiNLP 2.0, I suppose that this change makes some sense.

[2019-02-26 12:24] BLKSerene opened #175 "Minimizing dependencies for PyThaiNLP 1.7.3"
Hi, I've written a simple script to check for unused dependencies in PyThaiNLP 1.7.3, and I've found:
1. `conllu` is not used anywhere in PyThaiNLP 1.7.3, so it should be removed from `requirements.txt` (already removed in PyThaiNLP 2.0).
2. `future` is only used in `corpus/__init__.py`, and can be replaced by `six` altogether:

`from future.moves.urllib.request import urlopen` ->
`from six.moves.

[2019-02-26 15:55] #174 closed

[2019-03-04 08:31] sagelga commented on #88
น่าจะทำเป็นเว็บ แล้วก็สามารถลอง demo ตัว NLP ได้จากในเว็บครับ เดี๋ยวนี้ mobile-first กันแล้ว
ถ้าสามารถลองเล่นในเว็บได้ ก็จะได้เห็นว่า NLP มันน่าสนใจแค่ไหน

แล้วน่าจะมีฟังก์ชันให้กด report เพื่อการพัฒนาระบบ NLP ให้ยื่งแม่นยำยึ่งขึ้นครับ เผื่อว่าเออเข้าใจ context ในประโยคผิดอะไรแบบนี้ ก็จะได้มาปรับปรุงได้ในเวอร์ชันต่อๆไป

[2019-03-08 07:33] c4n opened #176 "Romanization Bug Report: pythainlp.romanization("อมรชัย")"
**Describe the bug**
pythainlp.romanization("อมรชัย")
แล้วได้ error IndexError: string index out of range ครับ

**To Reproduce**
Steps to reproduce the behavior:
1. import pythainlp
2. **Describe the bug**
pythainlp.romanization("อมรชัย")

**Expected behavior**
IndexError: string index out of range

[2019-03-09 08:21] #176 closed

[2019-03-09 11:36] #175 closed

[2019-03-14 07:48] wannaphongcom commented on #70
Thai text classification benchmarks https://github.com/PyThaiNLP/classification-benchmarks by @cstorm125

[2019-03-17 17:24] wannaphongcom opened #178 "PyThaiNLP 2.0 documentation"
# PyThaiNLP 2.0 documentation

- [x] API documentation (English only)

- [x] API Changes in PyThaiNLP 2.0 from PyThaiNLP 1.7 (English)

- [x] whats new in 2.0 (Thai Language and English)

- [x] PyThaiNLP 2.0 tutorial (Thai Language and English)

[2019-03-17 17:25] #164 closed

[2019-03-19 15:52] wannaphongcom commented on #178
API documentation

- [ ] corpus

- [ ] soundex

- [ ] spell

- [ ] summarize

- [ ] tag

- [ ] tokenize

- [ ] tools

- [ ] transliterate

- [ ] ulmfit

- [ ] util

- [ ] word_vector

[2019-03-19 15:52] wannaphongcom commented on #118
PyThaiNLP 2.0 documentation https://github.com/PyThaiNLP/pythainlp/issues/178

[2019-03-19 15:55] wannaphongcom commented on #178
PyThaiNLP 2.0 tutorial

You can use Google colab or markdown.

[2019-03-22 14:31] wannaphongcom commented on #178
Done ! API Changes in PyThaiNLP 2.0 from PyThaiNLP 1.7 (English) https://github.com/PyThaiNLP/pythainlp/wiki/API-Changes-in-PyThaiNLP-2.0-from-PyThaiNLP-1.7

[2019-03-22 14:38] wannaphongcom commented on #178
Done ! API documentation

[2019-03-26 08:41] c4n commented on #62
ที่จริงผมชอบ format แบบนี้มากกว่านะ(https://github.com/sebastianruder/NLP-progress)  อยากลองทำกันไหม @wannaphongcom  @heytitle  ทำเสร็จแล้วก็ส่งไปใส่หน้าของ ruder อีกรอบก็ได้

[2019-03-26 09:33] heytitle commented on #62
จริงๆ อยากทำประมาณนี้เลยอ่ะ แบบ มี tracking performance ของแต่ละ algorithm ด้วย

https://paperswithcode.com

[2019-03-26 10:17] cstorm125 commented on #62
สำหรับ classification รวบรวมไว้ที่นี่ครับ
https://github.com/pythainlp/classification-benchmarks

ส่วน nlp-progress ผมคิดว่าเราอาจจะ PR ไปหาเขาก็ได้ (อย่างคนที่ทำ hindi2vec ก็ PR ไป) แต่ตอนนี้ kobkrit/nlp_thai_resources มันใหญ่แล้วเหมือนจะติดตลาดไปแล้วเลยยังไม่มีแผนครับ

[2019-03-26 10:20] c4n commented on #62
@heytitle @wannaphongcom @spicydog @bact @Zayajung @cstorm125

1. จริงๆตอนนี้ชุดข้อมูลเปิดสำหรับภาษาไทยมี
https://www.nectec.or.th/corpus/index.php?league=pm  กับของtltk
 รู้สึกว่าถ้าจะ evaluate  มันมีปัญหาตรงที่ว่าtrain-test-splitแต่ละคนแบ่งเอง แล้วก็แทบไม่เห็นใครทำcross-validation ซึ่งจริงๆ ถ้าทำแบบชิวๆก็พอประมาณผลได้ แต่ถ้าจะเทียบกับหลายๆคน มันจะเริ่มไม่แน่ใจเพราะอาจมีใครชนะเพราะได้ split ที่ง่

[2019-03-26 10:32] cstorm125 commented on #62
@c4n
1. ส่วนของ classification อย่างที่บอกมี wisesight กับ wongnai ที่จารย์เอกพลแบ่ง test set ไปแล้ว อีกสองอันที่เหลือ (prachathai-67k / truevoice-intent) ผมก็ใช้วิธี random แบ่งไปเหมือนกันครับ อาจจะไม่ fool-proof เท่าแต่เวลาใครทำ benchmark ก็ให้ส่ง code มาด้วยน่าจะเชื่อถือได้ส่วนนึง ส่วนของ NECTEC BEST มี test set ที่ต้องส่งไปให้เขาตรวจ มันไม่ค่อยสะดวกแต่น่าจะเปรียบเทียบได้ corpus อื่นต้องรอผู้รู

[2019-03-27 09:15] wannaphongcom commented on #62
Deep Learning Framework ควรเลือกตามความเหมาะสมครับ โดยตอนนี้ pythainlp ใช้ 2 อัน tensorflow สำหรับ Keras (ตัวแปลงเสียงคำไทยเป็นคำอังกฤษ) , deepcut  และ PyTorch สำหรับ Fastai (ใช้กับ ulmfit) ถ้าตามความคิดเห็นผม ผมคิดว่าควรใช้ pytorch เพราะโค้ดง่ายต่อการบำรุงรักษากว่า tensorflow และ tensorflow 2.0 ยังไม่ออกด้วยครับ

[2019-03-27 13:35] c4n commented on #62
ถ้าให้เลือก งั้นคงเป็น pytorch ครับ เพราะผมถนัดอันนี้กว่าtf ด้วย

[2019-03-28 14:49] wannaphongcom commented on #62
ผลการทดสอบตัดคำ newmm โดย test กับ best testset ของ PyThaiNLP 2.0 ที่อยู่ใน GitHub ตอนนี้ได้ผลดังนี้ครับ

[code]

เพิ่มขึ้นจากเดิมที่ได้ 71% จากข้างบน

[2019-03-31 07:01] #154 closed

[2019-03-31 07:06] wannaphongcom opened #179 "PyThaiNLP 2.0 Release"
PyThaiNLP 2.0 Release
01/04/2019
2:00 a.m. (UTC+7)

[2019-03-31 19:00] #179 closed

[2019-03-31 19:23] #178 closed

[2019-03-31 19:24] #118 closed

[2019-04-01 07:04] wannaphongcom opened #181 "PyThaiNLP 2.1 change log"
[WORK IN PROGRESS - Tentative release date: 10 Dec 2019]

## Corpus
- Add Thai female, male names corpus (#217 #297) - thanks @korkeatw @c4n @bact
  - Thai male, female names corpus https://github.com/korkeatw/thai-names-corpus
  - General Election 2019 candidate names https://github.com/codeforthailand/dataset-election-62-candidates/tree/master/data
- Add `PYTHAINLP_DATA_DIR` environment variable

[2019-04-05 06:38] wannaphongcom opened #182 "Manage words in dict for word_tokenize"
- [ ] add new word to dict default

- [ ] remove word from dict

- [ ] save new dict to file

[2019-04-05 06:54] wannaphongcom commented on #182
You can use  class Tokenizer.

Colab by @korakot  : https://colab.research.google.com/drive/1Kkr4Uc5UIldZqFuXam2mPPaOhOrDbcV0

[2019-04-05 06:54] #182 closed

[2019-04-08 11:52] c4n opened #188 "[Documentation Improvement]: Difference between "etcc" vs "tcc""
https://thainlp.org/pythainlp/docs/2.0/api/tokenize.html ในนี้ไม่บอกอะไรเลยอะครับ

[2019-04-08 16:15] loretoparisi opened #189 "ImportError: No module named multi_cut"
I have installed the latest version available with `pip` and installed via `pip install pythainlp -U`.
[code]
This error was originated in https://github.com/zopefoundation/zodbpickle/issues/45

[2019-04-09 03:05] wannaphongcom commented on #188
ตามนี้ครับ https://www.researchgate.net/profile/Chonlasith_Jucksriporn/publication/262335479_Thai_Text_Phonetic_Transcription_Using_Thai_Minimum_Cluster/links/00463537504f048191000000/Thai-Text-Phonetic-Transcription-Using-Thai-Minimum-Cluster.pdf

[2019-04-09 03:10] wannaphongcom commented on #189
PyThaiNLP 2.0 supports Python 3.6+. Some functions may work with older version of Python 3, but it is not well-tested and will not be supported.

Python 2.7+ users can use PyThaiNLP 1.6.

`pip install pythainlp==1.6.0.7 `

[2019-04-09 07:27] loretoparisi commented on #189
@wannaphongcom thanks, I have downgraded to the previous version.

[2019-04-09 07:27] #189 closed

[2019-04-10 10:17] c4n commented on #188
หาต้นฉบับ Inrut et al. 2001  ไม่เจอ T_T
วันนี้ลองเล่นดูเหมือน etcc มันพังๆอะครับตัดอะไรไม่ค่อยได้

[2019-04-10 10:38] c4n commented on #188
ลองไปดูDocumentation ที่แก้เพิ่มได้ในนี้ครับ https://github.com/PyThaiNLP/pythainlp/pull/190  + ทำให้ subword_tokenize เรียก etcc ได้ด้วย

[2019-04-10 10:38] #188 closed

[2019-04-13 13:53] elcolie opened #194 "ModuleNotFoundError: No module named 'icu'"
**Describe the bug**
Unable to use `icu` module

**To Reproduce**
Install from `master` branch
1. `from pythainlp.tokenize import word_tokenize`
2. `word_tokenize(text, engine="icu")`

**Expected behavior**
Be able to use `icu` module

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: OSX `10.14.2`
 - Python Version `3.7.3`
 - commit `4ea874d8235b311df2387e94e

[2019-04-14 11:01] wannaphongcom commented on #194
It needs PyICU. https://pypi.org/project/PyICU/

[2019-04-14 16:33] elcolie commented on #194
https://github.com/ovalhub/pyicu/issues/99

[2019-04-14 16:33] #194 closed

[2019-04-18 06:31] wannaphongcom opened #202 "Port Thai2Rom from Keras to PyTorch"
I needs contributors for port Thai2Rom from Keras to PyTorch. You can fork https://github.com/wannaphongcom/thai-romanization/ and pythainlp than port Thai2Rom from Keras to PyTorch and pull requests to pythainlp.

[2019-04-23 08:12] bact commented on #63
Determine a tone of a syllable from its consonants, vowels, and tone marks.
Interesting enhancement.

[2019-04-23 08:21] bact commented on #71
Current documentation efforts:
- via examples in Jupyter notebooks: https://github.com/PyThaiNLP/pythainlp/tree/dev/notebooks
- comments in the code
  - these comments, if put in proper format, can be use to generate API docs by Sphinx
    - see generated API docs: https://github.com/PyThaiNLP/pythainlp/tree/dev/docs
    - index file for API docs: https://github.com/PyThaiNLP/pythainlp/blob/dev/do

[2019-04-23 15:56] wannaphongcom opened #210 "Fastcut : Fast Thai word tokenization using Deep Learning"
Fastcut : Fast Thai word tokenization using Deep Learning

[2019-04-24 14:57] piyawutpattamanon opened #211 "Add longest common sub-sequence algorithm"
Hi, due to my work require me to write calculate "similarity" of strings, I've created a dynamic programming version of my own and I would like to contribute to pythainlp.

I will submit a pull request within 2-3 days if there is not any problem.

Reference
https://en.wikipedia.org/wiki/Longest_common_subsequence_problem

[2019-04-29 12:06] bact commented on #211
Maybe we can put this somewhere inside `pythainlp.util` module :)

[2019-05-06 13:10] bact commented on #19
langdetect นี่ ถ้าอยากใช้ มีตัว cld3 ซึ่งเป็นรุ่นที่พัฒนาต่อมาจาก langdetect เดิมใน Chrome
https://github.com/google/cld3

มีคนพอร์ตเป็น Python ไว้ที่
https://github.com/Elizafox/cld3

แล้วก็มีคน fork มาแก้ต่อๆ กัน เพราะเหมือนตัวที่ Elizafox จะไม่ค่อยได้ดูแลต่อ
ผม fork มาแก้ doc ให้ชัดเจนถึงวิธีติดตั้งที่นี่ ถ้าต้องการใช้ฟังก์ชันการตรวจหาภาษาครับ
https://github.com/ThothMedia/cld3

[2019-05-07 06:02] wannaphong opened #218 "Thai dependency parser"
We require a thai treebank corpus for dependency parser. If you are interested, please contact back in this issue.

[2019-05-07 06:38] heytitle commented on #218
could you please explain a bit more about what needed to be done here?

[2019-05-07 06:55] heytitle commented on #62
@wannaphongcom  @cstorm125

พอดีผมกำลังจะทำโปรเจ็คเกี่ยวกับ tokenisation เลยอยากสอบถามว่า ทาง PyThaiNLP มี module สำหรับ benchmark results ไหมครับ  เพราะเห็น algorithms เช่น DeepCut หรือ Sertis's [Thai Word Segmentation][1] คิด f-score จาก character level. ซึ่งอาจจะทำให้ค่าสูงเกินจริง (https://github.com/sertiscorp/thai-word-segmentation/issues/9).

ถ้าไม่มี เราอาจจะช่วย dev ตัว module นี้

[1]: h

[2019-05-07 07:01] heytitle commented on #88
ส่วนตัวคิดว่า ทำเป็นเว็บ / api น่าจะดีที่สุด แล้วก้อทำตัว app เป็น interface เสริม ซึ่งตัว app อาจจะใช้ [Electron][1] ในพัฒนา cross platform

[1]: https://electronjs.org

[2019-05-07 07:05] heytitle commented on #210
@cstorm125  are you working on this? I can help take a look on this issue.

[2019-05-07 07:06] attapol commented on #210
@heytitle is working with me to look into different approaches to make thai word tokenization more robust (against typos, changes in genres) and speedy.

[2019-05-07 08:48] wannaphongcom commented on #210
Build a word tokenizer that is comparable in speed to newmm but gets at least 90% accuracy based on BEST -  @cstorm125

[2019-05-07 08:54] wannaphongcom commented on #218
I require build dependency parsing for thai language to PyThaiNLP , but I hasn't a thai treebank corpus for dependency parser.

[2019-05-07 09:05] wannaphongcom commented on #88
@heytitle สามารถ fork ตัวโปรเจค https://github.com/PyThaiNLP/pythainlp-webdemo ไปพัฒนาต่อแล้วส่ง pull requests กลับมาได้ครับ ไม่จำกัดเครื่องมือและภาษาที่ใช้งานครับ

[2019-05-07 09:09] wannaphongcom commented on #62
@heytitle ตอนนี้ยังไม่มีครับ

[2019-05-07 09:49] heytitle commented on #88
@wannaphongcom เดี๋ยวลองทำ Docker image ให้ละกันครับ

[2019-05-14 06:12] heytitle commented on #62
@wannaphongcom  พอทราบไหมครับ ว่า test set ของ BEST  นี้โหลดได้จากที่ไหนหรอครับ?

[2019-05-14 06:17] heytitle opened #222 "ULMFit for tokenisation"
**Describe the bug**
I'm trying to evaluate the tokenisation performance of ULMFit. However, it seems the algorithm isn't used when specifying `engine=ulmfit`. The code is using the `newmm` engine instead (https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/tokenize/__init__.py#L70).

Is this a mistake? or it should be this way. If not, may I ask you how I can use ULMFit for tokenisation via

[2019-05-14 09:14] heytitle commented on #62
@wannaphongcom @c4n @bact

ตัว benchmark ของ tokenisation  เวอร์ชั่นแรก ขึ้นแล้วน่ะครับ
https://github.com/heytitle/thai-word-tokenisation-benchmark

รบกวนขอความเห็นว่า ด้วยครับ โดยเฉพาะตรงตัว metrics อยากรู้ที่ทำไว้โอเคไหม และต้องมีอะไรเพิ่มเติมบ้าง

[2019-05-14 11:47] artificiala commented on #222
Hi @heytitle,

When specifying engine as ulmfit, the tokenizer then uses the newmm engine with the dictionary designed for ulmfit (pythainlp/corpus/words_th_frozen_201810.txt)

ULMFit is a technique to train a language model and fine-tune the model for downstream tasks (i.e. text classification). For instance, predicting the sentiment of a user's comment either positive or negative, it first token

[2019-05-14 13:17] heytitle commented on #222
@artificiala if I understand correctly, setting `engine=ulmfit` means using the corresponding dictionary for ULMFit models? I thought we had a ULMFit model for tokenisation.

Please correct me if I'm wrong.

[2019-05-14 14:20] wannaphongcom commented on #62
@heytitle testset http://nectec.or.th/corpus/

[2019-05-14 15:01] artificiala commented on #222
@heytitle You are right, with```engine=ulmfit``` means using the dictionary for ULMFit model.

One of the example use cases is to vectorize a Thai sentence.

[code]

```sentence_vectorizer``` returns one vector with 300 dimensions representing the sentence.

[2019-05-16 03:02] heytitle commented on #222
ok, got it now. I would suggest to use a different name for this purpose to prevent this confusion.

For example, one might use `engine=newmm-ulmfit-frozen-dict` instead.

[2019-05-16 03:04] heytitle commented on #69
Text to monk chanting might be another interesting dataset.

[2019-05-16 03:08] heytitle commented on #181
it would be more efficient if we have a way to automatically generate this change log.

[2019-05-16 05:59] bact commented on #222
Or maybe, this "ulmfit" shouldn't be around anymore publicly. Since this option will only be used internally for thai2fit-related code.

I proposed that we should remove "ulmfit" option for `engine` in `word_tokenize()`.

For code that require this functionality, it can be implemented easily by using the new `Tokenizer` class and specify `FROZEN_DICT_TRIE` as its `custom_dict`.

[2019-05-16 13:27] cstorm125 commented on #222
I think we should retain the option publicly because we also provide some utility for training the fastai model in `pythainlp.ulmfit`. I don't think it would be confusing since ULMFit is explicitly at word-level, language modeling algorithm used mainly for text classification.

[2019-05-16 13:44] cstorm125 commented on #62
Should we close this and continue discussion at @heytitle 's repo?

[2019-05-16 13:45] cstorm125 commented on #69
Closing this as it will be part of the upcoming VISTEC-DEPA cooperation

[2019-05-16 13:45] #69 closed

[2019-05-16 13:46] cstorm125 commented on #70
A little bit too vague. Will create separate issues for each type of benchmark.

[2019-05-16 13:46] #70 closed

[2019-05-16 13:53] cstorm125 commented on #141
Can we move these rules somewhere so we can close this?

[2019-05-16 13:57] cstorm125 commented on #145
Is this the same as NER?

[2019-05-16 13:58] cstorm125 commented on #181
@heytitle agreed. do you have any suggestion?

[2019-05-16 13:59] cstorm125 commented on #202
I understand this is to cut tensorflow dependencies out altogether?

[2019-05-16 15:54] wannaphongcom commented on #145
@cstorm125 No. such as TextRank and more.

[2019-05-19 14:10] artificiala opened #224 "Separate tests in multiple files"
Currently, all tests are in the same file ```tests/__init__.py```. Separating into different files would make it easier for contributors to write test cases specifically for a single module/package. The test files could be executed by either ```unittest``` module with test discovery feature i.e. (```python -m unittest discover -s tests```) or other test runners i.e. ```pytest```

For example

###

[2019-05-19 21:04] bact opened #225 "Elementary discourse unit segmentation"
Elementary discourse unit (EDU) is a linguistic unit that larger than a word and smaller than sentence. It contains one piece of information. EDUs and their relationships are basis for constructing discourse structure.

Listed here are papers that discuss how to do Thai EDU segmentation computationally:
- https://www.aclweb.org/anthology/Y13-1052
- http://arts.tu.ac.th/file/PDF_15.pdf
- https://ar

[2019-05-19 21:07] bact commented on #224
This is great. I think we can start with the Option 2, and if some packages are really big, we can break them by modules.

[2019-05-19 21:13] bact commented on #145
Not really. Keywords can be extracted without much knowledge about their meaning or grammatical role. TextRank, for example, relies solely on co-occurance, looking to all the words only at their surface level.

[2019-05-20 17:45] bact commented on #62
ถ้ามีอีก metric ที่บอกว่า tokenizer ตัวนี้ destructive หรือไม่/แค่ไหน (ตัวอักษรทุกตัวยังอยู่ครบ สามารถเอาทุกตัวอักษรกลับมาประกอบกันเป็นข้อความต้นฉบับได้ใกล้เคียงแค่ไหน) จะมีประโยชน์ไหมครับ
หรือคิดว่าตัวเลขจาก metric อื่นๆ ก็น่าจะสะท้อนอยู่แล้ว ว่ามัน destructive แค่ไหน

[2019-05-20 17:48] bact commented on #62
งั้นขออนุญาตปิดตรงนี้ แล้วไปคุยกันที่ https://github.com/heytitle/thai-word-tokenisation-benchmark/issues/8 นะครับ

[2019-05-20 17:48] #62 closed

[2019-05-20 17:50] bact commented on #70
For benchmark on word segmentation, see https://github.com/heytitle/thai-word-tokenisation-benchmark/

[2019-05-24 09:33] cstorm125 commented on #222
Accepted PR by @bact. Closing this now.

[2019-05-24 09:33] #222 closed

[2019-05-31 07:18] heytitle opened #229 "Questions on the implementation of syllable_tokenize"
**Describe the bug**
According to the current implementation, [`syllable_tokenize`][st] firstly uses `word_tokenize`, breaking the string into words then do the actual syllable tokenization.

I'm wondering whether the use of `word_tokenize` is necessary. IMHO, we could immediately perform syllable tokenization on the given input. For example, we might do the following:
**Proposed Source Code**
[co

[2019-06-01 03:24] heytitle commented on #229
@wannaphongcom

I've performed a benchmark comparing the execution of the two syllable tokenisations. I would say the new proposed version is at least **20% faster**, measuring on 200-char text, and the improvement is gradually significant for longer texts.

Please see the results here:

<img width="524" alt="image" src="https://user-images.githubusercontent.com/1214890/58743200-54214b00-8457-11e9

[2019-06-07 09:47] artificiala commented on #71
06/06/2019 @artificiala started working on this issue. Changes are in the branch named issue71_add_documentation.

Todos

1. pythainlp.tokenize
- [x]  todo_tokenize_1: provide example for `sent_tokenize`
- [x]  todo_tokenize_2: provide example for `word_tokenize`
- [x]  todo_tokenize_3: provide example for `syllabus_tokenize`
- [x]  todo_tokenize_4: provide example for `subword_tokenize`
- [x]  to

[2019-06-17 16:20] c4n commented on #202
Is anyone working on this?   I can work on it this weekend.

[2019-06-17 17:13] wannaphongcom commented on #202
@c4n You can work on it. Thank you. :+1:

[2019-06-19 04:47] heytitle commented on #229
Hi,

I've tested whether the behaviour of the modified syllable tokeniser is the same. Using [this set of commands][1], I found that there are a couple of issues that the two versions produce different syllable lists.

[code]

What do you think about the results?
[1]: https://gist.github.com/heytitle/f1ca4e7d85b587c596a3b00bfa388ccc

[2019-06-20 06:09] wannaphongcom commented on #229
@heytitle I think you should add rules to tokenize syllables. ex (บท~ความ~) -> (~บท~ความ~)

[2019-06-24 07:55] c4n commented on #202
@wannaphongcom  @artificiala
I just did a pytorch version of  it on a jupyter notebook.   I will clean it up this weekend and also add an attention mechanism component to the model.   However, there is an issue that I would like to address:
-  The dataset is synthetically generated based on [a ruled-based thai romanization tool](http://pioneer.chula.ac.th/~awirote/resources/thai-romanization.html)

[2019-06-24 08:01] c4n commented on #202
@artificiala
What have you done so far? may be we can merge things together.

[2019-06-24 14:33] artificiala commented on #202
Hello @c4n,

Thanks for your contribution.
We would like to stick with your Pytorch implementation in this repo (https://github.com/c4n/thai-romanization).

Before this weekend, we will test the model trained by the pytorch implementation. This will replace the Keras implementation.

[2019-06-24 16:29] heytitle commented on #202
@artificiala @c4n

Have you also tested the speed of the implementation yet? IMHO, it would be good if we know how fast the algorithm takes for inference. Maybe we can also use https://pytorch.org/docs/stable/jit.html.?

[2019-06-24 17:08] c4n commented on #202
@heytitle jit sounds promising.  but I won't have time to do it until this weekend.  I trained the model for less than an hour. It seemed to be converged.... of course, there is still room for improvement.  It would be great if some of you can test whether it works on your machine or not.
See PR: #235
![image](https://user-images.githubusercontent.com/4990317/60037212-25576700-96db-11e9-989e-8c02e

[2019-06-27 05:58] sakares commented on #210
Question: Do you have kind of benchmark in terms of inference speed from **newmm**, **deepcut** and so on? I am also developing on it too.

[2019-06-27 06:06] heytitle commented on #210
hi,

I've done such a benchmark. Here is the plot. You can also find the code on [Colab][ref1].

![Unknown-3](https://user-images.githubusercontent.com/1214890/60240867-3d4a0900-98dc-11e9-97e9-9572850f9904.png)

Let me know if you have any further questions.
[ref1]: https://colab.research.google.com/drive/1SuNYLiwEkOln_WGP_BekumGP4CxRm9rp#scrollTo=Df2OPVVEFpbc

[2019-06-29 13:51] artificiala commented on #224
Close this issue as it was implemented (see #234)

[2019-06-29 13:51] #224 closed

[2019-06-29 14:49] c4n commented on #202
Hi,
Should we move this issue to "In progress" on the kanban board. (https://github.com/orgs/PyThaiNLP/projects/1)

[2019-07-01 01:05] artificiala commented on #202
Hello,

This issue was moved to "In progress".

[2019-07-15 07:33] heytitle opened #237 "Alternative syllable tokenizer"
Hi,

@ponrawee has made a syllable tokeniser using CRF, codenamed `ssg`. Its performance is comparable to PyThaiNLP's algorithm, but faster.

## [Performance Comparison][result]
PyThaiNLP's algorithm is used ground truth.

<img width="951" alt="image" src="https://user-images.githubusercontent.com/1214890/61200948-3826ef80-a70d-11e9-87a9-be6247295be3.png">

## [Speed Comparison][notebook]
- Withou

[2019-07-21 10:39] artificiala commented on #202
I have made a pytorch implementation with the following changes from the original version (K. Can).

- Mini-batch training (This let the model train faster)
- Luong-style attention mechanism
- Evaluate the performance of models with metrics including F1 (a bag of characters), and EM (for the target text and at character level).

The result can be seen in this notebooks:

https://colab.research.goo

[2019-07-22 04:44] heytitle commented on #237
hi,

`ssg` is now available via `pip` with CI-integrated and unit-tests added.
[code]

[2019-07-22 07:28] c4n commented on #202
@artificiala  good work!

[2019-07-22 17:49] wannaphongcom commented on #237
@heytitle You can add `ssg` like deepcut in `subword_tokenize`, `syllable_tokenize`.

[2019-07-23 01:49] heytitle commented on #237
^ cc: @ponrawee

[2019-07-24 11:58] dogterbox opened #239 "newmm tokenizer bug/problem ?"
[code]

ที่มาก็คือว่า ผมทำโปรเจ็ควิเคราะห์ Text อยู่โปรเจ็คหนึ่ง
ตอนแรกเข้าใจว่าข้อมูลมันค่อนข้างเยอะ อาจจะใช้เวลาตัดคำนานหน่อย
แต่ทว่าพอรอนานๆเข้า รู้สึกว่ามัน**นานผิดปกติ**เกินไปแล้ว
สุดท้ายเลยตัดสินใจปริ้นเช็ครัวๆ ปรากฏว่ามันไปติดอยู่ตรงข้อความนี้

[code]

ทำเอาผมนี่เครียสสสสสเลยครับ55555
แต่ทดลองใช้ longest แล้วมันก็ออกนะครับ
ไม่แน่ใจว่ามันติดตรง TCC หรือป่าวครับ
ขอบคุณมากครับ 😁🙏

[2019-07-24 14:06] heytitle commented on #239
@dogterbox ขอบคุณครับ เดี๋ยวจะลองดูให้นะครับ

 ในกรณีนี้อาจจะลองทำ preprocess ไปก่อนด้วย
[code]

[2019-07-26 03:35] cstorm125 commented on #239
You can also use something like `pythainlp.ulmfit.replace_rep_after` to clean up.

[2019-07-26 03:35] #239 closed

[2019-07-26 09:04] espressofx opened #241 "pythainlp.word_tokenize ปัญหาตัดคำประโยคที่ยาวต่อเนื่องโดยไม่มี space [newmm]"
**Describe the bug**
มีปัญหา execute ใช้เวลานานมาก กับประโยคที่ยาวต่อเนื่องโดยไม่มี space แบ่ง
เช่น ประโยค

ด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้านหน้าด้าน

[2019-07-26 10:20] espressofx commented on #241
จาก notebook ต้อง interrupt kernel

![Screenshot from 2019-07-26 17-17-46](https://user-images.githubusercontent.com/1804119/61945099-5b815280-afc9-11e9-9b7d-fd20f71dfd03.png)

[2019-07-28 11:15] artificiala commented on #202
Hello,

Here are two examples showing attention scores.

1. `คมสรร บุญทอง` -> `khomsan bunthong`

[code]
![download-10](https://user-images.githubusercontent.com/2942716/62005828-1bee6e00-b163-11e9-8642-cb5c88fe9b87.png)

2. `บ้านน้ำเงิน` to `bannamngeon`

[code]

![download-11](https://user-images.githubusercontent.com/2942716/62005830-23157c00-b163-11e9-8d0e-833752bcfb14.png)

[2019-07-30 03:09] c4n commented on #202
good work!

[2019-08-02 15:52] #237 closed

[2019-08-07 13:51] wannaphongcom opened #247 "Merge tokenization-benchmark to PyThaiNLP"
from [tokenization-benchmark](https://github.com/PyThaiNLP/tokenization-benchmark), We will merge tokenization benchmark to PyThaiNLP.

tokenization-benchmark Developed by @heytitle

[2019-08-07 14:12] heytitle commented on #247
One issue that might arise is the fact that the module has a CLI interface. We might need to write a wrapper from PyThaiNLP for using the interface.

[2019-08-16 12:59] heytitle opened #250 "Better PyThaiNLP CLI"
Currently, PyThaiNLP's CLI contains a couple of functionalities. However, as the library grows, we will have several modules that will be exposed via CLI. So, we should find a consistent way to interface exists features and upcoming ones.

Inspired by the CLIs of AWS and Google Cloud, PyThaiNLP CLI can have a similar structure:

[code]

Structure of these namespaces and modules can be as follows:

[2019-08-23 03:53] charleech opened #256 "[Question] Is this an expected behavior for soundex lk82? [ไทย, ไท, ทัย, ทาย]"
**Question**
I'm using the `pythainlp.soundex.soundex()` with `lk82` and found some confusion that the `ภาษาไทย` is not equal to `ภาษาทัย`, while `ไทย` is equal to `ทัย`.

The `ไทย`, `ไท` and `ทัย` give us `ท7000`, while the `ภาษาไทย` give us `พ9397`, but `ภาษาทัย` give us `พ9393`. Is this an expected behavior?

I understand that the `ภาษาไทย` and `ภาษาทัย` should give us the same result as  `พ939

[2019-08-23 05:52] korakot commented on #256
It works as expected in the paper.

It detects if the first char is consonant, and switch with the second character if not.

So, ไทย -> ทไย, which is similar to ทัย. But if it is not the first char. There is no switching.(though you could implement it on your own if you like).

[2019-08-23 05:53] #256 closed

[2019-08-23 15:24] taechasit opened #257 "เรียกใช้ sentiment ไม่ได้ครับ"
`from pythainlp.sentiment import sentiment`
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-16-eef4718bb252> in <module>
----> 1 from pythainlp.sentiment import sentiment

ModuleNotFoundError: No module named 'pythainlp.sentiment'

PyThaiNLP 2.0.7

ผมลองดูจากในเน็ตก็โค้ดเดียวกันแต่ไม่ได้ครับ
ช่วยผมด้วยนะครับ ผมเป็นมือใหม่อยู่

[2019-08-23 17:12] heytitle commented on #257
สวัสดีครับ

`module sentiment` ได้ถูกเอาออกจาก PyThaiNLP ไปแล้วครับ ([อ้างอิง][ref]).

ตัวอย่างเกี่ยวกับการทำ Sentiment Analysis สามารถดูได้ที่ [PyThaiNLP/Tutorial/Sentiment-Analysis][url]

ผมขอปิดตัว issue นะครับ

[ref]: https://github.com/PyThaiNLP/pythainlp/releases/tag/2.0
[url]: https://www.thainlp.org/pythainlp/tutorials/notebooks/sentiment_analysis.html

[2019-08-23 17:12] #257 closed

[2019-08-25 21:56] heytitle opened #258 "Integrate AttaCut to PyThaiNLP"
[AttaCut][attacut] has been recently released. It would be great if we can integrate it into PyThaiNLP's ecosystem.

Below is the speed benchmark of AttaCut comparing to PyThaiNLP and DeepCut:
<img width="535" alt="image" src="https://user-images.githubusercontent.com/1214890/63656479-84496300-c794-11e9-8b0b-dce2a362aaa0.png">
**Note**:
- AttaCut-SC uses syllable and character features, while Atta

[2019-08-29 15:21] NamOrawan opened #260 "ERROR: Command errored out with exit status 1 & ERROR: Failed building wheel for marisa-trie"
**Describe the bug**
ERROR: Command errored out with exit status 1
ERROR: Failed building wheel for marisa-trie
 2 error ค่ะ

เพิ่งใช้ pip install pythinlp ครั้งแรกค่ะกดรันแล้วก็เป็นตามภาพเลย
เป็นมือใหม่อยู่ค่ะ รบกวนช่วยหนูหน่อยนะคะ จะใช้ทำโปรเจคจบค่ะ
![pythainlp 1](https://user-images.githubusercontent.com/54061141/63953342-5d986e80-caab-11e9-941f-a01ae3615702.jpg)
![pythainlp 2](https://user-ima

[2019-08-29 15:29] wannaphongcom commented on #260
ให้โหลด https://github.com/PyThaiNLP/pythainlp/blob/dev/install_pythainlp.bat แล้วดับเบิ้ลคลิก install_pythainlp.bat แล้วมันจะติดตั้งให้เองครับ

[2019-08-29 16:22] NamOrawan commented on #260
ได้แล้วค่ะ ขอบคุณมากๆนะคะ :)

[2019-08-29 18:41] #260 closed

[2019-08-30 10:06] bkktimber commented on #258
I added `attacut` already. Do you have any contribution guideline so I can follow before push to github?

thx

[2019-08-30 16:02] heytitle commented on #258
@bkktimber I've published a new version of AttaCut with `tokenize` fuction that instantiates only one tokenizer.  Please see the document on how to use it.

https://pythainlp.github.io/attacut/#higher-level-interface

Could you please update the PR accordingly? :)

[2019-08-31 00:30] bkktimber commented on #258
sure. will do over this weekend.

thank you

[2019-09-01 11:38] wannaphongcom commented on #247
Done https://github.com/PyThaiNLP/pythainlp/pull/248

[2019-09-01 14:47] NamOrawan opened #263 "C extension not loaded, training will be slow"
ตามหัวข้อเลยค่ะ รัน Training model นานมากๆ ต้องแก้ยังไงคะ
**แนบรูปตอนรันกับสเปคคอมมาค่ะ
![69277757_744834919281550_4740387101453844480_n](https://user-images.githubusercontent.com/54061141/64078228-1a840880-cd02-11e9-83cb-45ca81a32081.png)
![Inked69945103_2490738017918810_6792629536132431872_n_LI](https://user-images.githubusercontent.com/54061141/64078229-1bb53580-cd02-11e9-930c-3e2311cde6c1.jpg)

[2019-09-01 14:50] wannaphongcom commented on #263
ขอดูโค้ด train_word2vec_model.py ได้ไหมครับ

[2019-09-01 14:55] wannaphongcom commented on #71
Done

[2019-09-01 15:47] NamOrawan commented on #263
![image](https://user-images.githubusercontent.com/54061141/64078856-65a21980-cd0a-11e9-89ab-84a127cb454a.png)
นี่ค่ะ

[2019-09-01 15:55] heytitle commented on #263
ดูจาก ตัว `train_word2vec_model.py` เหมือนจะไม่เกี่ยวกับ PyThaiNLP เพราะเห็นมีแค่ใช้งาน `Gensims`

[2019-09-01 21:19] heytitle commented on #210
Quoting from AttaCut's document.

It's significantly faster than DeepCut but still not as fast as PyThaiNLP.

IMHO, this issue might be closed for now.

![](https://pythainlp.github.io/attacut/_images/speed-benchmark-ec2.png)

https://pythainlp.github.io/attacut/benchmark.html#speed

[2019-09-01 21:20] heytitle commented on #250
Because the PR has been merged, I'll close this issue.

[2019-09-01 21:20] #250 closed

[2019-09-01 21:22] heytitle commented on #145
btw, what does `todo: ` in the title mean? can we remove it as use the corresponding label instead?

[2019-09-01 21:23] heytitle commented on #141
maybe wiki?

[2019-09-01 21:25] heytitle commented on #229
is this issue still relevant?

[2019-09-03 04:23] wannaphongcom opened #266 "Update PyThaiNLP Command Line Docs"
After, We updates CL #251.

- [x] Update PyThaiNLP Command Line Docs (https://github.com/PyThaiNLP/pythainlp/blob/dev/docs/notes/command_line.rst)

[2019-09-03 04:24] wannaphongcom commented on #258
Done

[2019-09-03 04:27] #247 closed

[2019-09-06 09:04] heytitle opened #268 "Tokenization benchmark miscalculate word-level metrics"
Reported by @korakot, as described in [the benchmark document][url], the correct counting at word-level should be ✗✗✓✗, not ✓✗✓✗.

![](https://www.thainlp.org/pythainlp/docs/dev/_images/evaluation.png)

[url]: https://www.thainlp.org/pythainlp/docs/dev/api/benchmarks.html

[2019-09-06 22:09] heytitle commented on #268
It turns out that the code is correct.  The PR is about refactoring some part of the code that is redundant.

After merging,  please also **rebuild** the document as I've updated the tokenization benchmark figure.

[2019-09-07 06:37] wannaphongcom commented on #268
@heytitle It's automatically build/deploy documentation after merge PR.

[2019-09-07 08:56] heytitle commented on #268
@wannaphongcom  great I didn't know that. could you please review it?

[2019-09-08 15:08] wannaphongcom commented on #268
Now, I merge this PR.

[2019-09-09 01:34] bact commented on #258
- attacut wrapper is at https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/tokenize/attacut.py
- `engine="attacut"` is now available for `pythainlp.tokenize.word_tokenize()`

[2019-09-09 01:34] #258 closed

[2019-09-09 01:37] bact commented on #268
Fixed with https://github.com/PyThaiNLP/pythainlp/pull/269

[2019-09-09 01:38] #268 closed

[2019-09-09 02:37] bact commented on #263
เป็นเพราะตอนติดตั้ง gensim ในเครื่องเรายังไม่มี C compiler ครับ
ตัว gensim เลยไม่สามารถคอมไพล์ให้เป็นตัวที่เร็วได้
ทางแก้ก็คือ ติดตั้ง C compiler ก่อน แล้วค่อยติดตั้ง gensim อีกที

บน Windows มีวิธีแก้อยู่ครับ ตามนี้ https://stackoverflow.com/a/55797783

ขออนุญาตปิด issue นะครับ

[2019-09-09 02:37] #263 closed

[2019-09-11 03:46] bact opened #270 "Remove /notebooks directory, as they moved to "tutorials" repo already"
This directory should be removed
- https://github.com/PyThaiNLP/pythainlp/tree/dev/notebooks

as they already moved to this repo: https://github.com/PyThaiNLP/tutorials

All future official tutorials (including Jupyter notebooks) should be at https://github.com/PyThaiNLP/tutorials

[2019-09-11 03:55] bact commented on #241
My need some rule to stop generating word graphs when reaching a threshold.

คิดว่าในโค้ดที่พยายามสร้างทางที่เป็นไปได้ที่จะตัดคำ น่าจะต้องมีกำหนดไว้ ว่าจะทำถึงแค่ไหน เกินนี้จะบังคับหยุด ไม่งั้นมันจะสร้างไปเรื่อยๆ จนช้ามากๆ

[2019-09-14 12:16] BLKSerene opened #272 "Bump up dependency version of tinydb"
Hi, tinydb 3.14.1 is out, but the dependency version of tinydb in PyThaiNLP is still pinned at 3.13.*. Is there any plan to update this?

[2019-09-24 07:34] nawaphonOHM opened #276 "numeric string gives "ใน" as output in some length of string."
**Describe the bug**
I used `correct` module in `spell` package. It gave incorrect outputs where the input-strings have length-string less than or equal 2 of its.

**To Reproduce**
Steps to reproduce the behavior:
1. `from pythainlp.spell import correct.`
2. try give inputs in this set ->  **{'0', '1', '2', ..., '99'}** or whatever numeric-strings which have length <= 2.

**Expected behavior**
Sho

[2019-09-27 15:13] #272 closed

[2019-09-27 16:44] #202 closed

[2019-09-29 05:59] wannaphongcom commented on #241
Colab : https://colab.research.google.com/drive/1MOZ7GZ9x_P75wUQtz0C2Fl52GPRhJO4g

[2019-09-30 07:08] cstorm125 commented on #270
@artificiala I think we can do this as discussed. Can you make sure the tutorials will update from https://github.com/PyThaiNLP/tutorials? Not high priority.

[2019-09-30 07:08] cstorm125 commented on #210
closing since AttaCut is out.

[2019-09-30 07:08] #210 closed

[2019-10-01 03:13] artificiala commented on #270
Now, all the notebooks in `PyThaiNLP/tutorials` are the same as notebooks listed in `PyThaiNLP/pythainlp/tree/dev/notebooks`

We could remove the directory `notebooks` from this repo.

[2019-10-01 06:18] #270 closed

[2019-10-03 03:03] wirapong opened #286 "cannot import name 'stopwords' from 'pythainlp.corpus' ......."
![image](https://user-images.githubusercontent.com/3756553/66096391-095e3e00-e5c5-11e9-8421-cc0508c9b274.png)

[2019-10-03 04:11] wannaphongcom commented on #286
You can import `stopword` from `pythainlp.corpus.common.thai_words()`. https://www.thainlp.org/pythainlp/docs/dev/api/corpus.html#pythainlp.corpus.common.thai_stopwords

[2019-10-03 07:27] Peradon commented on #276
#288 I just submitted the PR

[2019-10-03 15:12] Planxnx opened #289 "ERROR: Failed building wheel for marisa-trie ตอน pip install บน MacOS"
พิมคำสั่ง ` pip install pythainlp`
แล้วขึ้นตามรูปเลยครับ ลองแก้ตาม https://github.com/PyThaiNLP/pythainlp/issues/260#issuecomment-526238698 ก็ไม่ได้ครับ

![messageImage_1570112991805](https://user-images.githubusercontent.com/37617738/66139414-9687ae00-e62a-11e9-84dc-57d09e15aa99.jpg)

รบกวนด้วยครับ ตอนนี้กำลังทำโปรเจคแล้วติดที่ตอนลง lib อย่างเดียวเลยครับ

[2019-10-03 15:47] wannaphongcom commented on #289
ลอง `pip install --pre pythainlp` ดูนะครับ เป็นเวชั่นสำหรับนักพัฒนาก่อนปล่อยเวชั่นจริง 2.1 โดยเราลบ `marisa-trie` ออกไปจาก PyThaiNLP แล้วครับ

[2019-10-03 16:56] Planxnx commented on #289
ลงได้แล้วครับ แต่ตอน import ไลบรารี่แล้ว Error ครับ
![messageImage_1570118491518](https://user-images.githubusercontent.com/37617738/66147170-7c54cc80-e638-11e9-85ca-f8dd773d951a.jpg)

![messageImage_1570121663825](https://user-images.githubusercontent.com/37617738/66147660-76abb680-e639-11e9-8899-047434e8026b.jpg)

[2019-10-03 17:04] wannaphongcom commented on #289
ลอง `pip install pandas` ครับ

[2019-10-04 15:34] Planxnx commented on #289
ได้แล้วครับ ขอบคุณมากครับ

[2019-10-04 15:34] #289 closed

[2019-10-05 07:36] bact commented on #276
Fixed by #288

[2019-10-05 07:36] #276 closed

[2019-10-05 08:41] bact commented on #229
Should we close this as we now happy with ssg?

[2019-10-05 11:11] heytitle commented on #229
@bact yep, I'm closing it now.

[2019-10-05 11:11] #229 closed

[2019-10-06 06:47] bact commented on #286
Solved?

[2019-10-06 06:52] bact commented on #71
Close?

[2019-10-06 07:00] bact commented on #144
Will close this as parts of the problem (on extra lib imports) are solved.

Will open new issue specifically on the external data loading.

[2019-10-06 07:00] #144 closed

[2019-10-06 08:11] heytitle commented on #241
I guess this result comes from `newmm`? Should we label it with `newmm`?

[2019-10-06 08:15] heytitle commented on #88
because we already have the Docker container, we can possibly close this one?

Nevertheless, I also think we have to update the Docker container, including features intoduced in version 2.1

[2019-10-06 13:45] artificiala commented on #71
Yes, this issue hould be closed.

[2019-10-06 13:45] #71 closed

[2019-10-06 17:32] wannaphongcom commented on #88
@heytitle close.

[2019-10-06 17:32] #88 closed

[2019-10-06 17:35] wannaphongcom commented on #19
ตอนนี้ trie รันใน python แล้วครับ ส่วนตัดคำน่าจะใช้งานใน jython ได้ แต่ดูเหมือนว่า jython 3 เหมือนจะไม่เสร็จสักทีแม้ผ่านมานานแล้ว https://github.com/jython/jython3 ไม่แน่ issue นี้อาจจะถูกปิดไปก่อนดีกว่าครับ

[2019-10-06 19:06] heytitle commented on #19
is there any mandatory requirement that we should do this?

Maybe providing an API Docker is sufficient for other languages.

[2019-10-07 02:16] #286 closed

[2019-10-07 02:16] bact commented on #266
Done

[2019-10-07 02:16] #266 closed

[2019-10-07 17:08] bact commented on #19
Close for now?

[2019-10-10 02:25] bact opened #298 "Considerations for language model inclusion in default package or download them later"
This issue works as a note on the size of different language models PyThaiNLP currently use.

- Some of them are included in the package - will be immediately available after the installation of package.
- Some of them are not included in the package - will be downloaded automatically on the first call, during runtime.

## To include or not include: Pros and cons
- Having language models included

[2019-10-10 11:50] wannaphong opened #299 "Rewrite IPA for pythainlp.transliterate.transliterate"
We want to write new IPA implementation for `pythainlp.transliterate.transliterate`.
- This is to replace [epitran](https://github.com/dmort27/epitran/) and remove dependency on [marisa-trie](https://github.com/pytries/marisa-trie).
- In some situations, marisa-trie has a portability issue with Windows (cannot be built successfully)

[2019-10-11 00:25] wirapong commented on #286
No, problem can not fix.

[2019-10-11 02:54] bact commented on #286
`from pythainlp.corpus import thai_stopwords`

[2019-10-11 15:54] Bas10699 opened #301 "ERROR: Command errored out with exit status 1:"
ใช้ pip install pythinlp แล้วไม่ได้ครับ
ลองใช้ pip install --pre pythainlp แล้วครับ แต่ก็ยัง No module named 'pythainlp' ครับ

Collecting pythainlp
  Using cached https://files.pythonhosted.org/packages/37/94/1ca5c23bfdbc0f27fa26e5eeda47d8ff422cbbd3f38c0b8a160fa17a2583/pythainlp-2.0.7-py3-none-any.whl
Requirement already satisfied: tinydb in c:\users\tony_b\appdata\local\programs\python\python37-3

[2019-10-11 16:03] wannaphongcom commented on #301
ผมรบกวนขอ log เวลาเรียกใช้คำสั่งติดตั้ง `pip install --pre pythainlp` ด้วยครับ

[2019-10-11 17:01] Bas10699 commented on #301
ได้แล้วครับ
ผมติดตั้ง Microsoft Visual C++ 14.0 ใหม่
https://visualstudio.microsoft.com/visual-cpp-build-tools/
ขอบคุณครับ

[2019-10-11 19:50] #301 closed

[2019-10-11 21:13] heytitle commented on #299
can we be more specific here?
It would be good to list requirements for this new IPA stuff.

[2019-10-11 21:13] heytitle commented on #298
where are these models hosted?

[2019-10-11 21:25] heytitle commented on #145
imho, one way to do key word extraction might be based on problems.

In particular, given a sentence, one might want to extract keywords based on its sentiment ( generally speaking classification prediction). In this case, the algorithm will pick a number of words that are highly relevant to the sentiment prediction the most.

For example, we build a generic sentiment classifier (possibly neural n

[2019-10-12 04:30] wannaphongcom commented on #298
@heytitle  Model hosted at self-host. https://github.com/PyThaiNLP/pythainlp-corpus/blob/master/db.json

[2019-10-12 07:45] bact commented on #241
Proposal for the fix:
- break the input text into smaller chunks (100±25)
  - chunking strategy should take into account the invalid token separation point (this can be either word or syllable)
- tokenizes each chunks and combine tokens together

See code here
https://github.com/PyThaiNLP/pythainlp/tree/fix-newmm-longtext

Warn that this may make the tokenization slower.

Current chunk size is 100

[2019-10-15 06:58] wirapong commented on #286
OK, I got it. Thanks.

[2019-10-24 13:02] NamOrawan opened #313 "การทำ Word2Vec."
อยากทราบถามว่าเราสามารถนำไฟล์ .text ที่ตัดคำจาก pythainlp ไป train model โดยใช้ gensim ได้เลยไหมคะ หรือต้องแก้ไขโค้ดยังไงคะ พอดีอยากได้คำและค่าเวกเตอร์ออกมาค่ะ

ไฟล์ที่ตัดคำแล้ว
![Annotation 2019-10-23 224950](https://user-images.githubusercontent.com/54061141/67487936-04a71a00-f699-11e9-8f3e-d9e3669003c5.png)

ไฟล์การ train model
![Annotation 2019-10-23 224825](https://user-images.githubuserconte

[2019-10-24 15:57] wannaphongcom commented on #313
โหลดทุกบรรทัดมาใส่ใน list แล้ว train ได้ครับ

**ตัวอย่าง**

[code]

จาก https://radimrehurek.com/gensim/models/word2vec.html

[2019-10-29 08:18] #313 closed

[2019-10-30 21:05] heytitle opened #314 "Website improvement"
Consider a new user. At the moment, it takes a couple of steps util he/she can see the latest document. These are my suggestions:
1. remove the first two pages. if their content is considered meaningful, we might bring the content become part of the document.
2. Redirect the main url to the stable document. Development and previous version documents should also be accessible from the stable docume

[2019-11-03 15:23] wannaphongcom commented on #299
@heytitle It must be Pure Python.

[2019-11-04 13:56] wannaphong opened #317 "Add New Thai text summarize"
Today, `pythainlp.summarize` has `frequency of words` only. I wants new thai text summarize.

[2019-11-06 14:58] NamOrawan opened #320 "เกิด error การตัดคำโดยใช้ deepcut"
![Annotation 2019-11-06 214024](https://user-images.githubusercontent.com/54061141/68308991-5b244780-00e0-11ea-8487-566fb61e984a.png)
![Annotation 2019-11-06 214121](https://user-images.githubusercontent.com/54061141/68308992-5b244780-00e0-11ea-831a-7245d2306c82.png)
โค้ดที่ใช้รัน deepcut ค่ะ ทั้ง2โค้ดนี้พอรันแล้วเกิด error คล้ายๆกัน ต้องแก้ไข้ยังไงคะ

![Annotation 2019-11-06 213716](https://user-

[2019-11-06 15:30] heytitle commented on #320
สวัสดีครับ

อันนี้น่าจะเป็น error จากทาง DeepCut ไม่ใช่จากทาง PyThaiNLP

อาจจะต้องอัพเดทตัว DeepCut ครับ ดูรายละเอียดเพิ่มเติมได้ที่ https://github.com/rkcosmos/deepcut/pull/63.

[2019-11-08 22:51] heytitle commented on #320
เอาอาจจะปิดคำถามนี้ไปก่อน?

[2019-11-09 04:56] wannaphongcom commented on #320
@NamOrawan ถ้ายังเกิดปัญหานี้ให้ reopen issues นี้นะครับ

[2019-11-09 04:56] #320 closed

[2019-11-12 17:30] bact commented on #241
A new segmentation "engine" has been proposed for this, one can now use `newmm-safe` engine to avoid the problem of waiting too long for text like one in the example above. Now available in `fix-newmm-longtext` branch and will soon in `dev` branch.

ต่อไปจะมี engine ใหม่ชื่อ `newmm-safe` เพื่อแก้ปัญหานี้ครับ

[2019-11-14 06:25] bact opened #322 "Should we merge syllable_tokenize() and subword_tokenize() together?"
They are both subword level.

Currently we have 2 level of analysis and 4 kinds of implementations ("engines"):

- TCC-based
  - Original TCC
  - Extended TCC
- Syllable
  - Using syllable dictionary
  - Using CRF (ssg)

Should we call them all "subword"?

Note: currently "ssg" is available as an option in both syllable_tokenize() and subword_tokenize().

[2019-11-14 10:46] bact commented on #298
Model files are currently hosted on either on Dropbox on GitHub.

[2019-11-15 09:03] #241 closed

[2019-12-02 21:31] lolgolflol opened #326 "บางคำประโยคติด Loop ครับ ที่ _bfs_paths_graph"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. import '...'
from pythainlp import word_tokenize
2. input '....'
word_tokenize("ชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิชิ")

**Expected behavior**
A clear and concise description of what you e

[2019-12-03 06:06] heytitle commented on #326
@bact ถ้าลงตัวที่พี่ทำใหม่จะแก้ได้ไหมน่ะ?

[2019-12-05 15:02] wannaphongcom commented on #326
แก้ไขใน https://github.com/PyThaiNLP/pythainlp/commit/3921e66efaafd68079bb18ee77cb8fc64d6e5a13 แล้วครับ โดยลบ "ชิชิ" ออกจากพจนานุกรมครับ

[2019-12-06 10:08] wannaphongcom commented on #326
ทดลองผ่าน `pip install https://github.com/PyThaiNLP/pythainlp/archive/dev.zip` ดูนะครับ

[2019-12-06 17:11] bact commented on #326
ได้และไม่ได้ lol

ถ้าใช้ตัวเลข `_TEXT_LIMIT` ตัดที่ 120 ตัวอักษรแบบปัจจุบัน จะวนลูปยาวนานอยู่ดี เพราะ ชิชิ-ชิ มันวนหนักมาก

แต่ถ้าลดตัวเลข _TEXT_LIMIT ลงมา ก็จะพอได้

แต่พอเจอแบบนี้แล้ว คิดว่าเดี๋ยวไปหาทางแก้ใน `_onecut()` เลยดีกว่า
ให้มันเช็คว่า ถ้าของใน heap queue มันเยอะเกินจุดหนึ่ง แล้วให้มันพอ แนวๆ นี้

[2019-12-06 21:13] bact commented on #326
ปัญหาเดียวกับบั๊ก #241

[2019-12-10 15:15] bact commented on #181
Publicly announced the 2.1, close the issue.
https://www.blognone.com/node/113587

[2019-12-10 15:15] #181 closed

[2019-12-10 15:40] bact opened #330 "PyThaiNLP 2.2 change log"
**Schedule**
- First development release: 1 May 2020 - [2.2.0-dev0](https://github.com/PyThaiNLP/pythainlp/releases/tag/v2.2.0-dev0)
- Beta release: 15 June 2020 - [2.2.0-beta1](https://github.com/PyThaiNLP/pythainlp/releases/tag/v2.2.0-beta1)
- Production release: 24 June 2020 - [2.2.0](https://github.com/PyThaiNLP/pythainlp/releases/tag/v2.2.0)

See [2.2 Milestone](https://github.com/PyThaiNLP/p

[2019-12-13 15:53] bact commented on #326
ลองแก้ด้วย PR #333 คิดว่าน่าจะได้แล้วครับ ยังไงฝากทดสอบด้วยครับ

`pip install --upgrade --pre pythainlp`

[code]

[2019-12-17 09:56] lolgolflol commented on #326
โอเคครับ เด๋วผมลองให้อีกรอบครับ

[2019-12-17 16:30] bact commented on #326
เพิ่ง merge ไป
ลองได้ด้วย `pip install --upgrade --pre pythainlp` เลยครับ

[2019-12-19 01:51] bact opened #342 "CLI commands should be verbs/actions"
Current pythainlp commands are `['corpus', 'tokenization', 'soundex', 'tagging']`, which are
- not verbs
- not consistent with module names (`.corpus`, `.tokenize`, `.transliterate`, `.tag`)
(see: https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/cli/__init__.py )

Verb commands are more intuitive (and many time also shorter).

Example of verb commands:
- git add
- git commit
- git push
-

[2019-12-20 03:47] cstorm125 commented on #73
#337 can do this but original example are not two sentences

[2019-12-20 07:13] #73 closed

[2019-12-20 07:16] cstorm125 commented on #225
We should compile these markers. It'd be useful for #337 also.

[2019-12-20 10:52] bact commented on #225
Agree. I have add few more words to STARTERS and ENDERS. But I think that will require us to retrain the model?

[2019-12-20 12:56] #326 closed

[2019-12-20 18:09] bact opened #344 "Add training script for language models"
Almost all models we use now (see list in #298) are trained privately by different contributors. With code on notebooks or scripts that may be private or may be open source but difficult to follow.

To make PyThaiNLP more transparent and more customizable by users, should try to put training scripts or instructions (can be pointers) somewhere in the repo.

## Known scripts/notebooks and data

| Mo

[2019-12-23 14:57] bact commented on #342
DRAFT DESIGN for soundex
====

- `thainlp soundex -h` - help
- `thainlp soundex TEXT` - get soundex of TEXT, using default algorithm (udom83)
- `thainlp soundex -a ALGO TEXT` - get soundex of TEXT, using ALGO algorithm

[2019-12-23 18:32] bact commented on #342
DRAFT DESIGN for data (formerly corpus)
====

- `thainlp data catalog` - print dataset/corpus available for download (download the list from internet)
  - `thainlp data ls` ? show dataset downloaded/available locally? **NOT IMPLEMENTED YET**
- `thainlp data info DATASET_NAME` - show information about DATASET
- `thainlp data get DATASET_NAME` - download DATASET
- `thainlp data rm DATASET_NAME` - re

[2019-12-23 18:50] bact commented on #342
DRAFT DESIGN for tokenize
====
(NOT YET IMPLEMENTED, comments are very welcome)

- `thainlp tokenize TEXT` - tokenize TEXT at word level (default)
- `thainlp tokenize -kw TEXT` - tokenize TEXT at word level and keep whitespaces
- `thainlp tokenize -sub -word -sent TEXT` - tokenize TEXT at subword, word, and sentence levels
  - should be very straightforward to implement, but the issue is about the

[2019-12-23 18:53] bact commented on #342
DRAFT DESIGN for tag
====
(NOT YET IMPLEMENTED, comments are very welcome)

- `thainlp tag -pos TEXT`
- `thainlp tag -pos -ne TEXT`
- `thainlp tag -pos --infile INPUT_FILE --outfile OUTPUT_FILE`

IMPLEMENTED
====

- `thainlp tag pos -s . การ.เดินทาง.ไกล`
[code]

[2019-12-23 22:10] p16i commented on #342
We also have a benchmark command here:
https://github.com/PyThaiNLP/pythainlp/blob/dev/bin/word-tokenization-benchmark.

For `data` command, we might also have `purge` to remove all downloaded datasets.

[2019-12-25 02:15] wannaphong opened #346 "ThaiNER : The output of the html-like is incorrect."
**Describe the bug**
The output of the html-like is incorrect.

**Source Code**
[code]

**Desktop (please complete the following information):**
 - OS: Windows 10 64bit
 - Python Version 3.7
 - Version 2.1.1

[2019-12-27 08:28] #346 closed, assigned to nobody

[2020-01-04 05:46] wannaphong opened #350 "bahttext not working for 1,000,000"
**Describe the bug**
`bahttext` not working. if number is 1000000 then it's error.

**Source Code**

[code]

**Screenshots**
![Screenshots](https://i.imgur.com/Fnfyddl.png)

**Desktop (please complete the following information):**
 - OS: Linux
 - Python Version 3.6
 - Version 2.1

[2020-01-11 04:06] wannaphong commented on #350
Fixed! PyThaiNLP 2.1.3

[2020-01-11 04:06] #350 closed, assigned to wannaphong

[2020-01-13 12:48] wannaphong commented on #322
We should probably combine these two things into subword.

[2020-01-15 03:58] mmaybeno opened #353 "[DEP] NumPy required in base install"
**Describe the bug**
The base installation requires numpy. Specifically importing the main package calls `__init__.py` which imports `benchmarks` which imports `numpy`. This was noticed in a downstream package that has `PyThaiNLP` as a requirement.

**To Reproduce**
[code]

**Expected behavior**
Run `import pythainlp` without error.

**Source Code**
https://github.com/PyThaiNLP/pythainlp/blob/dev/

[2020-01-15 13:13] wannaphong commented on #353
Thanks for your report. We will fix the issue in the next release.

[2020-01-15 14:49] bact commented on #353
Or I think we can consider as well to remove `from pythainlp.benchmarks import benchmark` from `pythainlp/__init__.py`.

When install with `pip install pythainlp[benchmarks]`, `["numpy>=1.16", "pandas>=0.24"]` will be auotmatically installed.

[2020-01-15 15:45] mmaybeno commented on #353
Ya I think having a the default package without numpy dependencies would be ideal. Numpy is great but kind of overkill if you're not using the benchmarks. Some added messaging if you try to import benchmark without numpy would be great. Thanks again!

[2020-01-15 16:33] bact commented on #353
Thank you. Good idea for the message. Will try to do that.
I think we can use `ModuleNotFoundError` here.

[2020-01-31 06:58] PNNutkung commented on #353
There is another problem.

The base installation requires `pandas`. Specifically importing the main package calls __init__.py which imports benchmarks which `import pandas as pd`. This was noticed in a downstream package that has PyThaiNLP as a requirement.

[code]

[2020-01-31 14:45] bact commented on #353
Thanks. Do you mean this file? https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/__init__.py If that the case, the `from pythainlp.benchmarks import benchmark` has been removed.

[2020-01-31 18:20] PNNutkung commented on #353
Yes, it is. Did it release on PyPI?

[2020-02-06 15:49] ciaranbyrne opened #357 "Longest Match segment fails when the entire input text is a full word."
**Describe the bug**
Word tokenise with longest match fails when the entire input text is a word. The problem appears to stem from the misuse of range(n) which does not include n.
https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/tokenize/longest.py#L66
https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/tokenize/longest.py#L83

**To Reproduce**
Steps to reproduce the behavior:
[code

[2020-02-06 16:13] bact commented on #357
Thanks a lot to help pin point the cause of the problem.
This should be fixed.

[2020-02-07 09:56] bact commented on #353
Not yet. It was fixed in `dev` branch, so you can try
`pip install https://github.com/PyThaiNLP/pythainlp/archive/dev.zip`

For PyPI,
We hope we can release it to 2.1 together with another fix soon.
The PR is here: https://github.com/PyThaiNLP/pythainlp/pull/360

[2020-02-07 18:25] bact commented on #357
Fixed by #358

[2020-02-07 18:25] #357 closed, assigned to bact

[2020-02-07 22:30] bact commented on #353
Version 2.1.4, with the fix, is now on PyPI.
Thanks for reporting the issue.

[2020-02-07 22:30] #353 closed, assigned to bact

[2020-02-15 06:21] jallynme opened #364 "'NoneType' object has no attribute 'tag'"
I used "get_ner" method seems like it's not working

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-51-9faa90abb220> in <module>
      1 from pythainlp.tag.named_entity import ThaiNameTagger
      2 ner = ThaiNameTagger()
----> 3 ner.get_ner("วันที่ 15 ก.ย. 61 ทดสอบระบบเวลา 14:4

[2020-02-16 11:58] p16i commented on #364
hi, thanks for reporting the issue.

Could you please provide us the version of your pythainlp?

The latest version seems working fine with your code. Please see https://colab.research.google.com/drive/1NM-JBdVWrGr8jRnP77lwaGORISYmo6MD#scrollTo=yIK5xg9E2stY.

Maybe upgrading to the latest version might solve the problem?

[2020-02-18 08:11] jallynme commented on #364
@heytitle  okay  thank you krub maybe I messed up with pythainlp and python 3.7

[2020-02-18 08:11] #364 closed, assigned to nobody

[2020-02-27 05:08] pavitsu opened #366 "If the engine not found word_tokenize should not be force to used "newmm""
**Describe the bug**
If the engine not found word_tokenize should not be force to used "newmm"

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Expect to raise error behavior that the input engine does not exist.

**Source Code**
https://github.com/PyThaiNLP/pythainlp/blob/bc03c04ac97620419a32a43fc2d060c65bac66c1/pythainlp/tokenize/__init__.py#L110-L145

[2020-02-28 09:37] wannaphong commented on #366
Thank you for your reporting. We are talking about this issue.

[2020-02-28 16:54] p16i commented on #366
I agree with the issue. We should raise some exception in this case.

Possibly, we can raise [ValueError](https://docs.python.org/3/library/exceptions.html#ValueError).

[2020-02-28 16:58] p16i commented on #344
IMHO, it would be good if we have a guideline for this kind of resources.

For example, projects and models that will be incorporated into PyThaiNLP's umbrella should have
- documents (e.g. training procedure and environment, datasets)
- code for retraining
- evaluation results

[2020-02-28 17:02] p16i commented on #342
One idea. We might use https://asciinema.org to advertise + show how to leverage this functionality.

[2020-02-29 05:08] #366 closed, assigned to nobody

[2020-03-22 12:29] punnoket opened #370 "Can i find Thai consonant in pythainlp ?"
Such as input "ความ" and then return "ค"

[2020-03-22 14:49] cstorm125 commented on #370
Do you mean only the first consonant of the syllable or any consonant? Which one do you want?
1. "ผู้นำโง่เราจะตายกันหมด" -> "ผนงรจตกม"
2. "ผู้นำโง่เราจะตายกันหมด" -> "ผนงรจตยกนหมด"

[2020-03-22 16:10] punnoket commented on #370
I mean choice no.1
haha I like your example it is fits the situation now. But i don't expected the result is exactly 100 percent na.

[2020-03-22 16:16] cstorm125 commented on #370
You can apply our `syllable_tokenize` function for this task:

[code]

Although this won't solve something like `ห` appearing for `หมด` instead of `ม` yet.

[2020-03-22 16:27] punnoket commented on #370
It's simple way!
Big thanks for your response :))

[2020-03-22 16:44] cstorm125 commented on #370
A better version that solves the issue I mentioned above

[code]

A little hacky but it works in most cases. @korakot will probably know a better way and we'll include that in the library in next minor patch.

[2020-03-26 10:52] bact opened #372 "Generalized reorder rules in text normalization"
- Generalized `Nikhahit + Tonemark + Sara A` case to also cover `Nikhahit + Sara A`
  - New rule: `Nikhahit + TONEMARK* + Sara Aa -> TONEMARK* + Sara Am`
- Generalized `Sara Am + Tonemark` case to also cover follow vowels
  - New rule: `FOLLOWVOWEL+ + TONEMARK+ -> TONEMARK+ + FOLLOWVOWEL+`
- Generalized `Thanthakhat + Above/Follow vowel` and `Tonemark + Above/Follow vowel`
  -  New rule: `TONE/Tha

[2020-03-29 19:11] bact opened #373 "Add a function to remove zero-width characters"
Normalization may needed to deal with these characters
- ZWNJ - U+200C Zero width non-joiner
- ZWSP - U+200B Zero width space

[2020-03-29 19:11] #372 closed, assigned to bact

[2020-03-31 13:03] bact opened #374 "Add a more advanced normalize function"
Common normalize function that do more than reordering of Thai characters. Something that can be used quickly for matching, searching, sorting, and preparing data for classification tasks.

Some ideas;

- Remove non-visible characters, like zero-width chars #373
- Remove unnecessary spaces
- Normalize repetitions
- Normalize "obvious" mistakes like
  - consonant + tonemark A + tonemark B <--- may

[2020-04-01 18:18] p16i commented on #374
How about the case of `ำ`? I sometimes see PDF parsers return it as  `◌̊` and `า`.

[2020-04-02 15:32] p16i opened #375 "Using adversarial texts for training text normalization algorithms"
Consider the following example:

Current PythaiNLP's text normalization relies heavily on rules, which are sufficient in some circumstances. However, consider the following example, it considerably fails

![image](https://user-images.githubusercontent.com/1214890/78266931-b2e7a300-7506-11ea-9e91-700cf7971018.png).

**Input:** `อัตราดอกเบ้ียเงนิฝากและเงนิกู้เพ่ิมขึน้`
**Expect:** `อัตราดอกเบี้ยเงิน

[2020-04-02 16:22] bact commented on #374
Current normalize() will group Nikhahit and Sara Aa together and emit Sara Am

[2020-04-02 16:24] c4n commented on #375
Hi guys,
You can try using this [code](https://github.com/c4n/Thai-Adversarial-Evaluation/blob/master/BASIL/basil/evaluation/noise.py) to generate adversarial texts.

I think the rules I've used are quite simple, and there are rooms for more rules/ adversarial texts generation techniques. Also, it would be great if we can collect **real** spelling errors. (for more info on Thai spelling errors, yo

[2020-04-04 19:05] bact commented on #375
Very interesting, will be very useful.

[2020-04-05 09:10] p16i commented on #375
@wannaphong what do you think we advertise this issue in the Thai NLP group? There might be students who're interested in working on the idea, as a course project.

[2020-04-05 14:49] wannaphong commented on #375
I think it is interesting. We may be able to present based on the problems encountered.

[2020-04-05 15:52] p16i commented on #375
@cstorm125  because I actually took the example from you, can you tell us a bit about your use cases?

[2020-04-12 18:27] wannaphong commented on #344
Add ETCC and Thai Romanization

[2020-04-25 08:42] korntawat commented on #330
how I can install pythainlp 2.2 ?

[2020-04-25 09:39] p16i commented on #330
Hi @korntawat,

We can use this approach:
[code]
In this case, as those referred issues have been merged  to `dev` already. So, you can just do
[code]
@bact @wannaphong please correct me if I'm wrong.

[2020-04-28 18:43] wannaphong commented on #344
Add CRF-Cut

[2020-05-01 11:07] bact opened #378 "Make __init__.py small, having only necessary stuffs"
The current __init__.py in many submodules are very large and make it difficult to keep track of what will be automatically loaded for the submodule.

Should move implementations to separate file and keep __init__.py to list only function names when appropriate.

[2020-05-04 12:45] #378 closed, assigned to nobody

[2020-05-04 15:13] bact opened #381 "Reduce Trie __init__ complexity"
Current initialize code of Trie has a deep Node creation loop.

Propose to move most of them to a separated method to reduce code complexity. Was partially done in 30b4ad1.

- `add()` method will be added to `Trie`, this can be used at the initialization stage and also after the instance has been created (so a trie can has more word added later)
- `__len__` method will also be added, so a trie can

[2020-05-04 15:43] korakot commented on #381
I think the old one is easier to understand. A node can add just 1 char as a child. Adding a word is quite complex. But I don't mind if you prefer it.

You could make a separate add_word(...), instead using the same add(..) and change its semantic.

[2020-05-04 18:54] bact commented on #381
I moved the add() from Node to Trie now, agreed that a word-level operation should be at Trie.

Also add len() to Trie.

[2020-05-05 19:47] #381 closed, assigned to bact

[2020-05-06 05:40] wannaphong opened #384 "Text normalization not working in some cases"
**Describe the bug**
Text normalization not working in some cases such as `'เค้้้าเดินไปสนามหญา้หนา้บา้น'` output '`เค้้้าเดินไปสนามหญ้าหน้าบ้าน'` and `'พ ุ่มดอกไม้ในสนามหญา้หนา้บา้น'` output `'พ ุ่มดอกไม้ในสนามหญ้าหน้าบ้าน'.`

**To Reproduce**
Steps to reproduce the behavior:
1. `from pythainlp.util import normalize`
2. `normalize('เค้้้าเดินไปสนามหญา้หนา้บา้น')`
2. `normalize('พ ุ่มดอกไม้ในสนามห

[2020-05-06 08:57] bact opened #385 "pythainlp.corpus.get_corpus_path() should not try to download the corpus automatically"
เสนอว่าไม่ควรใช้ `pythainlp.corpus.get_corpus_path()` นั้นเรียกดาวน์โหลดแฟ้มโดยอัตโนมัติหากมันหาแฟ้มไม่เจอครับ ควรจะปล่อยให้ผู้ใช้ตัดสินใจเองมากกว่า

Current `get_corpus_path()` try to download the corpus file if it is not yet exist locally:

https://github.com/PyThaiNLP/pythainlp/blob/831a9fcfd24e069b6e929283b3abdc161a9a5608/pythainlp/corpus/core.py#L81

[code]

I proposed that it shouldn't do th

[2020-05-06 09:12] bact commented on #384
To generalize, the current normalize() cannot handle (some of) these cases:
1. Tone mark repetition
2. Spaces between consonant and tone mark

Correct?

[2020-05-06 09:36] wannaphong commented on #384
Correct.

[2020-05-06 11:25] wannaphong opened #388 "Reduce redundant processing"
Reduce redundant processing such as `len` change to using same variable.

[2020-05-06 18:45] bact commented on #384
#389 should fix the (1) case (tone mark repetition)

For (2), the space thing, it is possible to have this kind of text: "มีรูปภาพ   ุ่มากในห้อง".
A normalization will create: "มีรูปภาพุ่มากในห้อง" - which may lead to a different word tokens after segmentation. So I'm not sure should we do the normalization or not.

Chars like tone marks and above/below vowels are often found at the beginning of l

[2020-05-07 07:53] wannaphong opened #390 "Thai NLP Project backlog"
If you are interested in supporting Thai Natural Language Processing (ThaiNLP), We have a backlog.

- Build Open Source Text to Speech: You can add the Thai language to open source text to speech used [TSynC-1 Corpus](https://www.nectec.or.th/corpus/index.php?league=sa) for Open Source Text to Speech. (Free for open source and the dataset is CC BY-NC-SA 3.0) or you can build text to speech corpus.

[2020-05-07 08:07] wannaphong commented on #19
Jython 3 not further developed.

[2020-05-07 08:07] #19 closed

[2020-05-07 08:14] korakot commented on #390
A few ideas mostly still in planning phase:
- tokenization together with spellcheck
- autocorrect from such spellcheck
- misspelling dataset
- sentence (or EDU) segmentation dataset
- thai word frequency dataset (and its misspelling)
- OCR normalization (correct the tone, upper vowels)
- Orchid corpus cleanup and standardize on UD tagset
- Tokenize the whole wisesight dataset
- Clean-up new TNC an

[2020-05-07 15:30] pianpwk commented on #390
Hi, I'm interested in working on/supporting the Text-to-speech issue, please let me know if anyone else is :)

[2020-05-07 22:36] p4perf4ce commented on #390
Greetings, I'm currently looking into auto-correct model for automated Thai subtitle creation but lacking the dataset. I have about 200-500 sentences and somewhat working subtitle segmentation service(S2T transcript -> human readable sub). I think I can help gathering the subtitle dataset. I will gladly be of assistance 😄.

[2020-05-08 02:03] korakot commented on #390
For YouTube subtitle dataset. Here's the current resources & work-in-progress.
- A script that run every hour, searching for new youtube videos that might have a Thai subtitle. See [thai_sub.gs](https://script.google.com/d/1BCMtSZe7DFimStGg_pscaQ5bkqvUayS-eTgG0VJbaIxNm_T9a97sXhDU/edit?usp=sharing)
- The result of that script is saved to BigQuery `kora-id.youtube.thaivdo` (accessible publicly)
- An

[2020-05-08 16:28] wannaphong commented on #390
ขอใช้ภาษาไทยนะครับ ผมเคยทำ text to speech ด้วย Tacotron โดยใช้ชุดข้อมูล TSynC-1 Corpus แต่เสียงที่ได้แม้ train ไป 1 ล้าน ep ไม่สามารถสังเคราะห์เสียงออกมาเป็นประโยคได้เลยครับ แต่ก็มีคนเคยลองทำด้วย Tacotron 2 โดยใช้ชุดข้อมูลที่สร้างจาก Google text-to-speech อีกที ออกมาเสียงโอเคอยู่นะครับ [https://link.medium.com/KJeFCYpck6](https://link.medium.com/KJeFCYpck6)

ส่วนผมเคยทำ text-to-speech อีกตัวที่ ht

[2020-05-08 17:10] #373 closed, assigned to nobody

[2020-05-08 17:10] #374 closed, assigned to nobody

[2020-05-08 17:20] bact opened #391 "Update PyThaiNLP Get Started tutorial to PyThaiNLP 2.2"
Update tutorial doc at https://github.com/PyThaiNLP/tutorials to demonstrate new features and changes in version 2.2 - see change log at #330.

[2020-05-09 15:15] bact commented on #384
Tone mark repetition is now get covered.

But the spaces between consonant and tone mark is not yet.

[2020-05-09 15:16] bact commented on #373
Added. Will available in version 2.20

[2020-05-10 04:31] tirkarthi opened #394 "Deprecation warning due to invalid escape sequences"
**Describe the bug**

Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/

**To Reproduce**

[code]

**Desktop (please complete the following information):**
 - OS: Linux
 - Python Version : 3.8
 - Version : dev branch

[2020-05-10 11:47] bact commented on #394
Thank you for the report. Will fix with PR #395

[2020-05-10 12:38] #394 closed, assigned to bact

[2020-05-11 07:43] #388 closed, assigned to nobody

[2020-05-11 09:49] wannaphong commented on #385
เห็นด้วยครับ เราควรถามผู้ใช้งานก่อนว่ายินยอมไหม ความเห็นผม ผมคิดว่า ถ้าไม่พบ ให้ขึ้น Error ไปเลยว่าไม่พบ พร้อมกับบอกวิธีติดตั้ง corpus นั้น แต่ไม่ควรขึ้นถามว่าคุณไม่มี corpus นี้ ต้องการติดตั้งไหม? เพราะเพื่อป้องกันปัญหาเวลาคนนำไปใช้งานกับ Web api ที่อาจจะมองไม่เห็นครับ

[2020-05-12 08:49] opalthailand opened #398 "countthai not cover all cases"
**Describe the bug**
Input countthai('123') or countthai(' ') or countthai('1 2 3 4') create error instead of zero?

**To Reproduce**
Steps to reproduce the behavior:
1. from pythainlp.util import countthai
2. input either '123' or ' '

**Expected behavior**
it should return zero?

[2020-05-12 21:04] bact commented on #398
Thank you for reporting.
Fixed. Will be available in the next release.

[2020-05-12 22:43] #398 closed, assigned to bact

[2020-05-13 00:01] bact commented on #385
อาจจะมี error message ให้มนุษย์รู้ และ raise FileNotFoundError เพื่อให้โปรแกรมจัดการต่อได้?

[2020-05-14 09:23] bact opened #400 "[DEP] Review for the removal of NLTK from requirements"
`nltk` module is now use in two places:
1) WordNet (exact API copy of NLTK WordNet API) https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/corpus/wordnet.py
2) <s>Unigram POS tagger https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/tag/unigram.py</s>

## WordNet
I think we can drop the WordNet code in PyThaiNLP since it is the exact copy and users can use NLTK directly.

## Unigram

[2020-05-14 10:05] p16i commented on #400
What does `DIET` mean?

[2020-05-14 11:51] bact commented on #400
Non-standard term lol. Trying to come up with something about reducing the size of total installation, thus diet :p

[2020-05-14 12:41] wannaphong commented on #400
This issue is #400. ⭐

[2020-05-15 09:17] bact commented on #400
ส่วนโคลนของ WordNet นี่เอาไงดี
What do you think about the copy/wrap of WordNet?

[2020-05-15 10:10] wannaphong commented on #400
ประกาศเป็นโค้ดส่วนที่ถ้าต้องการใช้งานต้องโหลด nltk มาติดตั้งเอง เหมือน deepcut ดีไหมครับ

[2020-05-17 09:18] bact commented on #400
ซึ่งตอน test ก็ยังต้อง test อยู่

ใจตอนนี้คือว่า ถ้ามันไม่ทำให้การ test นานขึ้น ก็น่าจะโอเค
แต่ถ้ามันจะทำให้ทดสอบนาน ก็รู้สึกว่าต้องมาชั่งน้ำหนัก

ทั้ง deepcut และ nltk ตอนติดตั้งเพื่อทดสอบจะมีการโหลดข้อมูลเพิ่มเติม นอกเหนือไปจาก dependency ซึ่งจะเสียเวลากับตรงนั้น เวลาที่ใช้รอเครือข่าย

หรือถ้ามี option ว่าให้ข้ามการทดสอบส่วนของ deepcut และ nltk ไป ในรอบ CI ปกติ (แต่สามารถบังคับให้ทดสอบได้ ก่อน r

[2020-05-20 19:14] bact opened #404 "[DEP] Choose one crfsuite module"
Currently `pythainlp.tag.named_entity` uses `sklearn-crfsuite`,
while `pythainlp.tokenize.crfcut` uses `pycrfsutie`.

https://github.com/PyThaiNLP/pythainlp/blob/b329aa84e9e9ff27df375827dd058020babd43e0/pythainlp/tokenize/crfcut.py#L20

https://github.com/PyThaiNLP/pythainlp/blob/b329aa84e9e9ff27df375827dd058020babd43e0/pythainlp/tag/named_entity.py#L10

Propose the change code so that we can remo

[2020-05-20 19:17] bact opened #405 "[DEP] Remove dill dependency"
Currently, `pythainlp.tag.perceptron` is the only submodule that uses `dill`.

`dill` is an extended version of `pickle`.

Looks like we currently use a very basic functionality of of serialization that the standard `pickle` may able to handle and there's no need for `dill`.

https://github.com/PyThaiNLP/pythainlp/blob/d2b67e00a85c42212b668cb535dcfaaf010663e9/pythainlp/tag/perceptron.py#L19

Propo

[2020-05-20 19:20] bact opened #406 "[DEP] Provide tqdm fallback for progress bar"
Current progress bar for download use `tqdm`.

https://github.com/PyThaiNLP/pythainlp/blob/c227976d02420b5f47382e12695f58831353e7be/pythainlp/corpus/core.py#L142

Propose to keep `tqdm` code but remove it from requirements.txt/setup.py.

The download code should check if `tqdm` exists (maybe with `ImportError`). Use it if exists, but use fallback if not.

[2020-05-21 07:49] wannaphong commented on #406
👍

[2020-05-21 09:16] wannaphong commented on #405
`NLTK` is used code from A Good Part-of-Speech Tagger in about 200 Lines of Python https://explosion.ai/blog/part-of-speech-pos-tagger-in-python

NLTK https://www.nltk.org/_modules/nltk/tag/perceptron.html

[2020-05-21 10:20] #400 closed, assigned to bact

[2020-05-21 14:01] #404 closed, assigned to nobody

[2020-05-21 22:32] #405 closed, assigned to nobody

[2020-05-22 22:00] #406 closed, assigned to nobody

[2020-05-23 13:28] bact opened #411 "Improving test coverage and polishing existing functions"
We can push the overall test coverage to 95%.
Also hope that during the process we can find edge cases that may not be well covered yet in the code and polish it.

see branch https://github.com/PyThaiNLP/pythainlp/tree/more-test-cases

## Top 5 - Lowest Coverage
- `ulmfit.core` 55.1 -- see #426
- `corpus.core` 90.43
- `transliterate.thaig2p` 92.95 -- "concat" and "dot" methods may need more tests

[2020-05-27 11:07] bact opened #415 "'royin' engine gives wrong romanization in a lot of cases"
Try this test set:
[code]

Half of them will failed:
[code]

This test set will be added to `test_transliterate.py`.

----

## Consistency Test

[code]
----

In general, I think we need a more systematic evaluation of different algorithms, including soundex.

[2020-05-27 16:32] wannaphong commented on #298
Today, Thai Named-Entity Recognition model and Thai Romanization model host [pythainlp-corpus on GitHub](https://github.com/PyThaiNLP/pythainlp-corpus/releases).

[2020-05-27 16:49] wannaphong commented on #314
I add PyThaiNLP Logo on https://github.com/PyThaiNLP/pythainlp/commit/588921ad7e114ed5ac6bf55b1300ca5019c8fe16.

[2020-05-30 06:47] bact opened #417 "Test the command line interface (CLI)"
There should be more tests for `pythainlp.cli` (and also `pythainlp.__main__`).

Expect that there should be at least one test for each command and each option.

See more about test coverage push effort at #411

[2020-05-30 08:19] bact opened #419 "thainer model name should not have a version number as part of its name"
We currently have `thainer` model names like this:
- `thainer-1-3` (version 1.3)
- `thainer-1-4` (version 1.4)

(you can try `thainlp data catalog` at command line to see list of corpora)

The name should be just `thainer` and the version information can be look up from the corpus database.

Expected:
- `thainer` (version 1.3)
- `thainer` (version 1.4)

see https://github.com/PyThaiNLP/pythainlp-c

[2020-05-30 16:07] bact opened #426 "Test cases needed for document_vector() and merge_wgts() in ulmfit"
These two functions need at least one test case:

https://github.com/PyThaiNLP/pythainlp/blob/ee678690aeab5fe3944bbb99552fd50cb6ea2acc/pythainlp/ulmfit/core.py#L140

https://github.com/PyThaiNLP/pythainlp/blob/ee678690aeab5fe3944bbb99552fd50cb6ea2acc/pythainlp/ulmfit/core.py#L198

[2020-05-30 18:12] #417 closed, assigned to bact

[2020-05-31 14:22] p16i opened #428 "Word Tokenization Benchmark Removal"
I think about having the benchmark in PyThaiNLP again, and I think it might be better to remove it from the repository, at least the procedure should be peer-reviewed.

Sorry again for your inconvenience! I should have thought about it.

[2020-05-31 16:18] bact commented on #428
- It would be nice to have a handy standard benchmarking tool and I think PyThaiNLP as a project can be a good place to host and support it.
- But to have it as part of standard pythainlp module or not is another question.
- I think the current approach is fair enough, by have it as an optional install. Not forcing everybody to have it, but if anyone wants it, it can be installed easily.
- Another

[2020-05-31 16:21] bact commented on #428
btw, after clean the CLI `thainlp data` and corpus download stuffs, I plan to thinking about how to make the benchmark available via `thainlp` command line.

[2020-06-01 11:12] p16i commented on #428
@cstorm125  suggested that we have the script there but with a disclaimer. I actually like the idea. What do you think?

[2020-06-01 18:35] #419 closed, assigned to wannaphong

[2020-06-04 02:43] cstorm125 commented on #428
Yes I agree with disclaimer. Then once @mrpeerat is ready, he can publish the updated benchmarks.

[2020-06-06 18:40] mingruimingrui opened #430 "Downloading the 2010BEST dataset for thai tokenization"
I'm not a Thai speaker and I couldn't find the 2010 BEST dataset for Thai tokenization benchmarking on the NECTEC site. Please help!

[2020-06-07 05:15] wannaphong commented on #430
@mingruimingrui You can download BEST2010 dataset from [nectec.or.th/corpus](https://www.nectec.or.th/corpus/index.php?league=pm). (It doesn't have english languages but you can using google translate.)

[2020-06-07 08:42] mingruimingrui commented on #430
Thanks! I got to the download page. But there's a problem. It appears that the download button isn't working.

![Screenshot 2020-06-07 at 4 41 54 PM](https://user-images.githubusercontent.com/18568364/83964189-cdab0f00-a8dd-11ea-9875-a928a076ae63.png)

[2020-06-07 11:26] wannaphong commented on #430
You try using vpn from Thailand to download dataset.

[2020-06-09 19:02] mingruimingrui commented on #430
I'll have to verify some time in the future. Unfortunately, I don't have a Thai VPN atm...

[2020-06-09 19:02] #430 closed, assigned to nobody

[2020-06-13 13:37] cstorm125 commented on #375
@heytitle I used to to clean up texts before putting them through embeddings. This might be a good research topic. For practical use, since we are leaning more towards subwords, it might not be as useful.

[2020-06-14 10:56] p16i commented on #428
I guess we can close this issue for now.

[2020-06-14 10:56] #428 closed, assigned to nobody

[2020-06-18 18:10] mashedcode opened #435 "Feature request: Transliterate back into Thai"
In Thai it is very common to write English words with Thai letters.
There's even a ruleset for doing this: [หลักเกณฑ์การทับศพทั ์ภาษาอังกฤษ](http://www.royin.go.th/wp-content/uploads/2015/03/2371_6847.pdf).

Poorly it's often the case that these rules are not obeyed which results in an awkward spelling.
Therefore having a way to transliterate English to Thai would be great.
To generalize this one

[2020-06-18 18:59] p16i commented on #435
The simplest thing I could think of is to use the training code for the transliteration mode that we have with inverse source and target data. It probably gives us a good baseline, and then we can see what we could improve upon.

[2020-06-20 00:22] bact opened #436 "thai_strftime: %O modifier failed to convert year to Thai digit"
`O` (capital Oh) modifier in `thai_strftime()` failed to convert %y and %Y to alternative numeric symbols (Thai digit).

Code: `thai_strftime(datetime.datetime(1976, 10, 6, 1, 40), "%Od %Ob %Oy")`
Expect: '๐๖ ต.ค. ๒๕๑๙'
Actual: '๐๖ ต.ค. 2519'

[2020-06-20 05:32] wannaphong commented on #330
Tentative release date: 24 June 2020

[2020-06-20 06:05] bact opened #437 "thai2fit dictionary update"
`words_th_thai2fit_201810.txt` is now almost two years behind `words_th.txt` - should consider update the dictionary and related models.

[2020-06-20 14:12] wannaphong commented on #436
I found same bug on Windows 10. Python 3.7.6

[code]

[2020-06-25 06:07] bact commented on #330
2.2.0 production release: 24 June 2020 https://github.com/PyThaiNLP/pythainlp/releases/tag/v2.2.0

[2020-06-25 06:07] #330 closed

[2020-06-25 07:10] p16i opened #440 "TorchText for Thai datasets"
I've recently found TorchText, a module that provides various utilities functions for NLP.  One thing that I like is the module provides a very convenient way to download datasets.  Please see: https://pytorch.org/text/datasets.html.

As we already have several datasets and rely on PyTorch, it might be a useful if we implement TorchText for those datasets. We might start with the following dataset

[2020-06-26 10:59] #436 closed, assigned to bact

[2020-06-26 15:40] p16i commented on #385
seems the issue has been solved?

[2020-06-26 15:42] p16i commented on #342
I guess we can close this issue now?

[2020-06-26 15:58] p16i commented on #344
This issue is quite challenging because those systems have or use very difference frameworks. Instead, we might organise them based on the nature of the tasks and data.

Roughly speaking, we might decompose the problem into two parts, datasets and models. My idea is that we can implement `TorchText` for the former, and use `Pytorch Lightning` for model development and training.

Having said that,

[2020-06-27 14:14] bact opened #444 "More open license for words_th.txt?"
Currently words_th.txt's license is Creative Commons Attribution-ShareALike License.

Looks like it is not permissive enough. (see, for example: https://github.com/unicode-org/icu/pull/763 )

May be we can re-license or dual-license the dataset?

[2020-06-27 14:21] wannaphong commented on #444
I think we can re-license directly with the work of PyThaiNLP project.

[2020-06-27 14:25] bact commented on #391
Updated. Done.
https://github.com/PyThaiNLP/tutorials/pull/16

[2020-06-27 14:25] #391 closed, assigned to bact

[2020-06-27 14:26] bact opened #445 "PyThaiNLP 2.3 change log"
**Schedule**
- First development release: 16 March 2021
- Beta release: 23 March 2021
- Production release: 30 March 2021

Docs: [https://pythainlp.github.io/docs/2.3/index.html](https://pythainlp.github.io/docs/2.3/index.html)

See [2.3 Milestone](https://github.com/PyThaiNLP/pythainlp/milestone/13).

## Deprecation and other API changes
- NER change a ThaiNER model (from ThaiNER 1.4 to ThaiNER 1

[2020-06-29 05:08] wannaphong commented on #385
ทำให้ทุกฟังก์ชันที่ต้องโหลด model หรือ dataset ให้มีฟังก์ชัน setup ไหมครับ หลักการ คือ ในการใช้งานครั้งแรก ให้ผู้ใช้งานเรียกฟังก์ชันนี้ก่อน โดยจะโชว์ license กับรายละเอียด ถ้าผู้ใช้งานยินยอมให้พิมพ์ y แต่จะโหลด model หรือ dataset

นอกจากนั้น ฟังก์ชัน setup สามารถยินยอมตามพารามิเตอร์ได้โดยตรง เผื่อผู้ใช้งานที่ไม่สะดวกมากดในคอมมาไลน์ เช่น `setup(agree=True)` โดยในโค้ดของเรา agree ค่าเริ่มต้นจะเป็น F

[2020-07-04 21:32] bact commented on #444
Done.
Please check
- https://github.com/PyThaiNLP/pythainlp/blob/dev/README.md and
- https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/corpus/corpus_license.md

[2020-07-04 21:32] #444 closed, assigned to nobody

[2020-07-06 05:20] wannaphong commented on #430
@mingruimingrui You can download BEST I from [https://gist.github.com/korakot/abf6c18c71cefe7b9107689dd904751f](https://gist.github.com/korakot/abf6c18c71cefe7b9107689dd904751f).

[2020-07-06 14:37] bact commented on #385
ไอเดียดี โดยให้มีไฟล์ config กำหนดไว้ และบันทึกไว้ว่าผู้ใช้เคยยอมรับเงื่อนไข  model/dataset ไหนแล้ว

[2020-07-06 15:02] p16i commented on #385
จริงๆ จำเป็นไมว่าต้องมีไฟล์ กำลังคิดอยู่ว่าถ้า user ยอมรับแล้ว ก็จะมี directory ข้อมูลอยู่ เราก้อเช็คจากตรงนั้นก้อได้ไหมน่ะ?

[2020-07-16 02:36] COLDkl opened #456 "pythainlp 2.1.4 command change PYHANLP DATA_DIR path"
pythainlp      2.1.4
How to change the storage location of pythainlp data

[2020-07-16 06:20] p16i commented on #456
You set use the global variable `PYTHAINLP_DATA_DIR`.

[2020-07-18 15:17] wannaphong commented on #344
Add Thai Grapheme-to-Phoneme (Thai G2P).

[2020-07-19 13:42] p16i commented on #456
I'm going to close this issue now. Feel free to reopen it if you have further questions.

[2020-07-19 13:42] #456 closed, assigned to nobody

[2020-08-08 08:37] p16i opened #461 "Problem with syllable tokenization"
**Describe the bug**
I've observed a behavior that is worth being discussed here. In short, when there are some punctuations, syllable tokenizes would return some incorrect syllables, both from the default engine and `ssg`.

<img width="517" alt="image" src="https://user-images.githubusercontent.com/1214890/89706026-820af500-d962-11ea-8e21-15461a2f7b7c.png">

**To Reproduce**
Please see: https://c

[2020-08-08 08:47] p16i opened #462 "Helper function for displaying tone marks and high-position vowels"
**Describe the bug**
A clear and concise description of what the bug is.
In some cases, one might want to display  the list of characters in a sentence. Consider `ตีห้าแล้วน่ะ`. Naively, one might do
[code]
The output is correct but hard to read and visualize.

One way to improve this is to add a underscore prefix for tone marks and high-position vowels. With this strategy, the output is then `ต,_

[2020-08-08 09:28] wannaphong commented on #461
I think we should report this problem to [ssg](https://github.com/ponrawee/ssg).

[2020-08-08 09:53] p16i commented on #461
that's true but we also see here that the default engine doesn't split `19...` either.

[2020-08-10 11:00] #462 closed, assigned to nobody

[2020-08-11 14:46] DamienJacquemart opened #465 "spacymoji support"
Hi guys,

Thank you for the work in Thai !

Running spacymoji in a Spacy pipeline gives the following error (below the code). Do you know how could we overcome the problem ?

---------------------------------------------------------------------------

[code]

[2020-08-11 15:43] bact commented on #461
Since syllable doesn't involve anything with punctuation (unlike word that can have punctuation like "โควิด-19" "ก.พ.), i think it's safe to split at punctuations first then do the syllable tokenization

[2020-08-14 09:17] bact opened #467 "corpus.common.provinces() with details option"
Add `details=` option for `corpus.common.provinces()`, to return romanized and abbreviated names of the provinces in Thailand.

Use data from `pythainlp/corpus/thailand_provinces_th.csv`

If `details=False`
- return `frozenset`
- members are names of provinces in Thailand, in Thai language
- no order (as it is a set)

If `details=True`
- return `list`
- members are `dict` with these fields
  - `na

[2020-08-16 22:37] #467 closed, assigned to nobody

[2020-08-17 21:45] bact opened #468 "perception/orchid_ud pos tagger model still require nltk to load"
Looks like the pickle of perceptron/orchid_ud tagger still need nltk.

Does this correct?

[code]

[2020-08-17 21:59] bact commented on #468
perception tagger is actually `nltk.tag.perceptron.PerceptronTagger` object.

Need to add `nltk` again to setup.py

[2020-08-18 04:51] wannaphong commented on #468
Can we use code from https://explosion.ai/blog/part-of-speech-pos-tagger-in-python ?เมื่อ 18 ส.ค. 2020 04:59 bact <notifications@github.com> เขียนว่า
perception tagger is actually nltk.tag.perceptron.PerceptronTagger object.
Need to add nltk again to setup.py

—You are receiving this because you were assigned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-18 09:06] wannaphong opened #469 "Add emoji util"
I discovered that there is still no tool to manage emoji with Thai language (convert emoji to text or convert text to emoji). I think we might add to `pythainlp.util`.

[2020-08-20 10:33] bact commented on #469
Any example?

[2020-08-20 14:31] wannaphong commented on #469
`จะมานั่งรถเมล์เหมือนผมก็ได้นะครับ ใกล้ชิดประชาชนดี 😀` -> `จะมานั่งรถเมล์เหมือนผมก็ได้นะครับ ใกล้ชิดประชาชนดี :ใบหน้ายิ้มยิงฟัน:`

[2020-08-21 20:27] p16i opened #471 "Document: Model card"
I've recently encountered a paper advocating the idea of "Model Card". I personally like the idea. and because we have quite a lot of models in our repository, it's something we should consider.

<img width="400" alt="image" src="https://user-images.githubusercontent.com/1214890/90931506-17939380-e3fd-11ea-9fa9-352ed889ca27.png">

See: https://arxiv.org/pdf/1810.03993.pdf

[2020-08-23 09:11] bact commented on #471
Transparency and accountability!

[2020-08-25 20:23] #468 closed, assigned to wannaphong

[2020-09-03 14:01] tanadate-rungsripattanaporn opened #473 "Word vector"
Which model that use to trained word vector in pythainlp??

[2020-09-03 14:18] #473 closed, assigned to nobody

[2020-09-04 08:31] tanadate-rungsripattanaporn opened #474 "Word embedding"
Hello, I just want to know how about word embedding in pythainlp is trained from which model?

[2020-09-04 09:32] cstorm125 commented on #474
It's a ULMFit embeddings trained on Thai Wikipedia.
Refer to https://github.com/cstorm125/thai2fit

[2020-09-04 13:05] COLDkl opened #475 "PermissionError: [Errno 13] Permission denied: '/home/pythainlp-data'"
pyspark

py file settings  os.environ['PYTHAINLP_DATA_DIR'] = "./"
Distributed operations to executor nodes to report permissions

How to set the environment variables of each executor node in a distributed environment

[2020-09-04 13:53] p16i commented on #475
Hi,

Thanks a lot for reporting the issue. As far as I know, we haven't tested much on such a distributed system, e.g. Spark.

Would you mind elaborating a bit more about your system, e.g. what is the setup of your cluster?

[2020-09-07 16:03] bact commented on #475
@COLDkl have you tried changing `./` to something else and see if it works?

[2020-09-07 16:05] bact commented on #465
@DamienJacquemart can we know which spacymoji and pythainlp versions that you use?

[2020-09-07 16:06] #474 closed, assigned to nobody

[2020-09-07 16:08] #370 closed, assigned to nobody

[2020-09-07 16:18] DamienJacquemart commented on #465
spacy==2.3.2
spacymoji==2.0.0
pythainlp==2.2.3

Thanks @bact !

[2020-09-09 13:01] COLDkl commented on #475
Hello everyone, we use the company's machine to submit the Spark task to translate Thai data, so we cannot have root privileges.

I changed the pythainlp-data directory to the current directory to avoid program errors due to permission issues

[2020-09-09 13:03] COLDkl commented on #475
In order to speed up the translation, we changed the code to run distributed. Currently, it is not possible to change the PYTHAINLP_DATA_DIR path of each computer in the Spark task.

Spark submits to use Pyspark, so we can only modify the PYTHAINLP_DATA_DIR of the driver node in the pyspark script through os.environ ['PYTHAINLP_DATA_DIR'] = "./", but cannot explicitly specify the executor node PYT

[2020-09-09 13:07] COLDkl commented on #475
Spark 2.4.5
python 3.6
pythainlp 2.2.3

[2020-09-09 22:09] bact commented on #475
If `PYTHAINLP_DATA_DIR` is not defined, PyThaiNLP will use `~/pythainlp-data`,
see https://github.com/PyThaiNLP/pythainlp/blob/dev/pythainlp/tools/path.py

Does it ok for this case? As it is home directory and not root.

Or you like to have a unique directory for each computer?

[2020-09-10 02:55] COLDkl commented on #475
We use the Spark framework for distributed computing and translation

The Spark computing framework consists of Driver nodes and Executor nodes

Currently, Spark tasks are started in the Home directory by default
PermissionError: [Errno 13] Permission denied: '/home/pythainlp-data'

[2020-09-10 02:59] COLDkl commented on #475
Why not consider migrating the default directory from ~(home) to. (Current) Directory?
pythainlp_data_dir = os.getenv("PYTHAINLP_DATA_DIR", os.path.join("~", PYTHAINLP_DEFAULT_DATA_DIR))
pythainlp_data_dir = os.getenv("PYTHAINLP_DATA_DIR", os.path.join(".", PYTHAINLP_DEFAULT_DATA_DIR))

[2020-09-10 03:16] COLDkl commented on #475
When the Spark program is running, a temporary directory will be generated on the Driver node. This directory stores some data and dependencies of the program. After the program ends, the current directory will be automatically deleted.
##
I don't know if it is possible to set the default path like this
##
PYTHAINLP_DEFAULT_DATA_DIR = "pythainlp-data"
pythainlp_data_dir = os.getenv("PYTHAINLP_DATA

[2020-09-10 06:25] p16i commented on #475
Do we also have to make sure executor nodes have this directory?

[2020-09-10 11:59] COLDkl commented on #475
For distributed tasks, you must ensure that each running node has a target directory.

[2020-09-10 12:23] wannaphong commented on #475
@COLDkl Did you encounter same problem with nltk? (nltk-data)

[2020-09-10 13:07] COLDkl commented on #475
Not used in a distributed environment

[2020-09-16 21:10] bact opened #480 "[model card] SentenceSeg CRFcut"
Update -- use wiki instead https://github.com/PyThaiNLP/pythainlp/wiki/Model-Cards

----

Filename:
`pythainlp/pythainlp/corpus/sentenceseg_crfcut.model`

## Model Details

## Intended Use

## Factors

## Metrics

## Evaluation Data

## Training Data

## Quantitative Analyses
- Unitary
- Intersectional results

##  Ethical Consideration

[2020-09-16 21:16] bact commented on #480
- see model card proposal at #471

[2020-09-16 21:17] bact commented on #471
Example cards from Google
https://modelcards.withgoogle.com/

[2020-09-27 01:16] KoichiYasuoka commented on #218
I've just tried to make a dependency parser for Thai with `pythainlp` and `UDPipe`, and released it as [spaCy-Thai](https://github.com/KoichiYasuoka/spaCy-Thai). I'm vague that its outputs are precise or not, but the word-lengths seem different between `pythainlp` and [UD_Thai-PUD](https://github.com/UniversalDependencies/UD_Thai-PUD). Umm...

[2020-09-29 01:24] korakot commented on #218
As I understand, spaCy-Thai combines 3 parts into a pipeline
- spaCy for word tokenization (use pythainlp default internally)
- pyhainlp default pos_tag (=orchid) for POS
- UDPipe 1.2 trained on PUD for dependency parsing.

Word-length difference comes from the first part. We may need to use custom word list so the tokenization has the same word lengths. Maybe you can use pythainlp tokenization di

[2020-09-29 06:35] wannaphong commented on #218
We have part of speech model with Parallel Universal Dependencies (PUD) treebanks. pos_tag (=pud)  https://www.thainlp.org/pythainlp/docs/2.2/api/tag.html#pythainlp.tag.pos_tag

I think that would be appropriate for your job.

[2020-09-29 07:30] KoichiYasuoka commented on #218
In [th_pud-ud-orchid.conllu](https://raw.githubusercontent.com/KoichiYasuoka/spaCy-Thai/master/th_pud-ud-orchid.conllu) of [spaCy-Thai](https://github.com/KoichiYasuoka/spaCy-Thai) I use both PUD-origin UPOS-tags and pythainlp-origin ORCHID-tags. As shown in [train.sh](https://github.com/KoichiYasuoka/spaCy-Thai/blob/master/train.sh) I use hyper-parameters `embedding_upostag=10` for UPOS-tags and

[2020-09-29 07:40] wannaphong commented on #218
Have you tried LST20 corpus (tags mapped to Universal POS tags) yet? pos_tag (lst20_ud) (PyThaiNLP 2.2.4+ Only)
https://www.thainlp.org/pythainlp/docs/2.2/api/tag.html#pythainlp.tag.pos_tag

I haven't sent any new tags to spaCy.

[2020-09-29 07:55] KoichiYasuoka commented on #218
No, I have not. I've first started with [tag_map.py](https://github.com/explosion/spaCy/blob/master/spacy/lang/th/tag_map.py) of `spacy.lang.th` so I've been using ORCHID and UPOS. Do you have a plan to include LST20 tag_map for official release of spaCy in the future?

[2020-09-29 09:40] wannaphong commented on #218
I working about this pull request. https://github.com/explosion/spaCy/pull/6163

[2020-10-08 17:39] wannaphong commented on #218
@KoichiYasuoka  They're phasing out tag maps in the core spacy library in v3. https://github.com/explosion/spaCy/pull/6163#issuecomment-704803365

[2020-10-09 00:56] KoichiYasuoka commented on #218
I'm not so familiar with the "v3" of spaCy, but here I understand that spaCy's `Token.tag_` and `Token.pos_` are now free from one another. I had given up to use `train` of spaCy for [th_pud-ud-orchid.conllu](https://raw.githubusercontent.com/KoichiYasuoka/spaCy-Thai/master/th_pud-ud-orchid.conllu), then... well... how will I change my spaCy-Thai when the "v3" launch...

[2020-10-09 02:59] korakot commented on #218
If there's a problem with Thai Tokenizer. You can use a custom tokenizer with your own word list. Here's how to change it in spaCy.

[code]

[2020-10-12 08:15] tann9949 opened #485 "Romanize failed in some examples"
I was trying to romanize the word
จรวยพร
but the library raise an IndexError

[code]

I was expecting the results to be something like 'jaruayporn' or something similar but there's an error occured
[code]

Here's my environment configuration:
- python 3.7.6
- mac OS Catalina
- pythainlp version 2.2.4

[2020-10-31 11:56] wannaphong commented on #471
Model Card https://github.com/PyThaiNLP/pythainlp/wiki/Model-Cards

[2020-11-16 08:43] wannaphong opened #486 "FileNotFoundError: [Errno 2]: No such file or directory: '/usr/local/lib/python3.6/dist-packages/pythainlp/corpus/thailand_provinces_th.csv'"
**Describe the bug**
I installed from PyPI. I could not use `pythainlp.corpus.provinces()`. It not found `thailand_provinces_th.csv`.

**To Reproduce**
Steps to reproduce the behavior:
1. from pythainlp.corpus import provinces
2. th_provinces = provinces()

**Source Code**
[code]

**Desktop (please complete the following information):**
 - OS: Linux
 - Python Version 3.6
 - Version 2.2.4

[2020-11-16 12:42] #486 closed, assigned to nobody

[2020-12-03 15:02] alexcombessie commented on #298
Hi,

This would be quite important for me as I work on secure servers with no Internet access and no permission to write to arbitrary paths.

I have also noted a weird behavior. Even if I do not need to download any model or corpora, the library currently requires to write an empty `db.json` to `PYTHAINLP_DATA_DIR`.

In the short term, could this be removed?

Addition: my issue is also related to

[2020-12-06 04:56] bact opened #489 "thai_strftime: Output for unsupported directive looks different on Alpine"
**Describe the bug**

On a system that use musl (like Alpine), `thai_strftime()` will handle unsupported directive differently from glibc.

Although the behavior is undefined in C89 standard, the user may expect a consistent behavior across platforms.

**To Reproduce**

[code]

**Expected behavior**

`thai_strftime(date, "%Q")` should return "Q" independently from the underlying platform.

[2020-12-06 06:44] wannaphong commented on #298
I added customize path. You can customize path by download source code and customize path then you install package from source code.  https://github.com/PyThaiNLP/pythainlp/commit/82b8df95cb030fee4c59230c4ec44db00fb9bf5a

[2020-12-06 08:44] #480 closed, assigned to nobody

[2020-12-06 08:44] #471 closed, assigned to nobody

[2020-12-06 09:13] #489 closed, assigned to nobody

[2020-12-19 09:51] wannaphong commented on #344
@bact  move to wiki?

[2020-12-19 09:53] bact commented on #344
Good idea. Agree to move to wiki

[2020-12-19 10:03] wannaphong commented on #344
I move this page to https://github.com/PyThaiNLP/pythainlp/wiki/Language-Models

[2020-12-19 10:36] #344 closed, assigned to nobody

[2020-12-27 11:46] BLKSerene opened #506 "Minimize PyThaiNLP Dependencies"
Hi, thanks for the awesome project which I've used in mine.

But the `tinydb` dependency is only used in `\corpus\core.py` and `corpus\__init__.py`, so is it possible to remove this small dependency? (The reduction in the number of small dependencies helps me to package my program.)

[2020-12-27 19:02] wannaphong commented on #506
Hello. I think there is no need to remove `tinydb` because tinydb is small size and it write in pure Python.

[2020-12-28 04:57] #506 closed, assigned to nobody

[2020-12-30 21:04] ppirch commented on #469
#512  I hope this will help.

[2020-12-31 09:44] charlesfufu opened #515 "the accuracy between "AttaCut" and "newmm"."
Why the accuracy of "AttaCut" model more worse than "newmm" throgh PyThaiNLP in TNHC(Thai National Historical Corpus) dataset?
Is there any problem that needs my attention？
![image](https://user-images.githubusercontent.com/33311822/103404783-cefc9b80-4b8f-11eb-9423-26e2489952bd.png)
And, do you what's the meaning of "<s>、#、$" in TNHC dataset？

[2021-01-02 05:32] #469 closed, assigned to nobody

[2021-01-02 10:28] wannaphong commented on #515
I close this issues because https://github.com/PyThaiNLP/attacut/issues/26 is close.

[2021-01-02 10:28] #515 closed, assigned to nobody

[2021-01-08 15:40] wannaphong commented on #440
Now, I thinks we can load thai dataset from [Huggingface](https://huggingface.co/datasets?search=thai). I thinks we should close this issue.

[2021-01-08 15:42] wannaphong commented on #437
It is in progress. https://github.com/cstorm125/thai2fit/issues/9

[2021-01-08 15:45] wannaphong commented on #225
Now, PyThaiNLP has a clause segmentation from LST20 corpus.  I thinks we should close this issue.

[2021-01-08 15:51] wannaphong commented on #384
cases `normalize('เค้้้าเดินไปสนามหญา้หนา้บา้น')` fixed in PyThaiNLP 2.2.0

[2021-01-08 16:04] wannaphong commented on #384
Google colab for test bug. https://colab.research.google.com/drive/1f3urpSHHH_yy5bXYx6s0fQWynGzvqiTz?usp=sharing

[2021-01-09 15:34] #225 closed

[2021-01-17 14:45] TouchTci opened #525 "Error Install pythainlp"
install แล้ว error  แก้ยังงัยครับ

 pip install pythainlp
Collecting pythainlp
  Using cached pythainlp-2.2.6-py3-none-any.whl (10.6 MB)
Requirement already satisfied: requests>=2.22.0 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pythainlp) (2.25.1)
Requirement already satisfied: tinydb>=3.0 in c:\users\user\appdata\local\programs\python\python39\lib\site-package

[2021-01-17 14:47] wannaphong commented on #525
ลองลง `pip install wheel` ก่อนติดตั้ง pythainlp ครับ

[2021-01-17 15:12] TouchTci commented on #525
ลองแล้ว ยังคงไมได้ครับ

Collecting pythainlp
  Using cached pythainlp-2.2.6-py3-none-any.whl (10.6 MB)
Requirement already satisfied: tinydb>=3.0 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pythainlp) (4.3.0)
Requirement already satisfied: requests>=2.22.0 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pythainlp) (2.25.1)
Collect

[2021-01-18 15:12] wannaphong commented on #525
เหมือนว่า python-crfsuite ยังไม่มี build สำหรับ Python 3.9 ใน windows ครับ https://pypi.org/project/python-crfsuite/#files

ลองตั้งค่า Build Tools ให้เรียบร้อยก่อนครับ

[2021-01-22 01:15] TouchTci commented on #525
ได้แล้วครับ ขอบคุณมากๆครับ

[2021-01-22 04:07] #525 closed, assigned to nobody

[2021-01-23 16:02] leky40 opened #528 "Cannot install pythainlp in Mac"
<I cannot install pythainlp in Mac-->

## Description
I cannot install pythainlp in Mac. I am using MacBook Air (macOS Catalina, version 10.15.7; and python 2.7.16.

I got this error when I tried to install:

ERROR: Command errored out with exit status 1: /System/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python -u -c 'import sys, setuptools, tokenize; sys

[2021-01-23 16:06] wannaphong commented on #528
Hello. We doesn't support python 2.7. PyThaiNLP support python 3.6+ or higher.

[2021-01-29 15:54] pp7sec opened #529 "word_tokenize กิน memory"
ผมอยากสอบถามเรื่องตัดคำไทยหน่อยครับ

ผมใช้ word_tokenize ของ pythainlp ทำเป็น api แล้ว deploy ขึ้น heroku
แต่เกิดปัญหา mem เกิน `heroku[web.1]: Process running mem=540M(105.6%)`
พอเอา from pythainlp.tokenize import word_tokenize ออก ไม่เจอปัญหาเรื่อง mem เต็มแบบนี้มีทางแก้ไหมครับ

ขอบคุณมากครับ

[2021-01-29 16:32] wannaphong commented on #529
ไม่ทราบว่า ใช้ engine ตัวไหนตัดคำใน `word_tokenize` ครับ
ถ้าไม่ได้ระบุ แสดงว่าใช้ newmm ให้ลองใช้ `word_tokenize(text, engine="newmm-safe")` ครับ

[2021-01-29 17:27] pp7sec commented on #529
คือมันใช้ mem ตั้งแต่เริ่มทำงานเลยครับ

[code]

`source=web.1 dyno=heroku.xxxxxxxxxxxxxxxx sample#memory_total=458.32MB sample#memory_rss=458.26MB sample#memory_cache=0.06MB sample#memory_swap=0.00MB sample#memory_pgpgin=130499pages sample#memory_pgpgout=13681pages sample#memory_quota=512.00MB
`
.
.
.

[code]
`source=web.1 dyno=heroku.xxxxxxxxxxxxxxxx sample#memory_total=44.59MB sample#memory_rss=

[2021-01-29 17:51] lakuzamalakuzam opened #530 "how to install pythainlp in conda? can't find a way"
## Your environment
* PyThaiNLP version:
* Python version:
* Operating system and version (distro, 32/64-bit):
* More info (Docker, VM, etc.):

## Possible solution

## Files

[2021-01-29 17:59] wannaphong commented on #529
ไม่น่าจะกินถึง 400+MB นะครับ เพราะผม test เครื่องผมกับบน Colab

ก่อนรัน
[code]
หลังรัน
[code]

Colab: https://colab.research.google.com/drive/1BVooQf8-ALkvRqOa3fbh6lu7XjOtoiPM?usp=sharing

[2021-01-29 18:04] wannaphong commented on #530
Hello. We do not distribution on conda channel. You could use pip for install pythainlp.

Thank you.

[2021-01-29 23:22] pp7sec commented on #529
นั้นซิครับผมก็ลอง ใน colab แล้วก็ได้พอๆกับคุณ @wannaphong เลย
แต่ทำไมใน heroku โดดไปได้ขนาดนั้น แล้วให้ mem มาแค่ 512 ผมเลยงงเลย

[2021-01-30 07:07] wannaphong commented on #529
ลองปรับแต่งดูนะครับ https://devcenter.heroku.com/articles/optimizing-dyno-usage

[2021-01-30 15:40] pp7sec commented on #529
ขอบคุณมากครับ

[2021-01-30 15:40] #529 closed, assigned to nobody

[2021-01-31 05:13] bact commented on #225
Discourse unit is not necessarily equal to clause.
But we can close this for now.

[2021-01-31 05:17] wannaphong commented on #225
OK

[2021-02-03 19:14] leky40 commented on #528
Thank you

[2021-02-03 19:14] #528 closed, assigned to nobody

[2021-02-03 19:18] leky40 opened #534 "How to count POS frequencies by type - Need Help"
Dear,

Could anyone please help me to count POS Tags by type? I am working on one annotation project. And I need to count all the POS Tags I get from the Thai tokenization tool to see how many of each POS Tags there are in text.

I am so new to this area. And my python skill is not much. So please help me with step by step if possible.

Thank you very much

Siriluck

[2021-02-08 23:29] ldong87 commented on #475
any updates on this issue?

[2021-02-10 16:56] wannaphong commented on #534
code

[code]

[2021-02-24 11:16] #530 closed, assigned to nobody

[2021-02-24 11:16] #534 closed, assigned to nobody

[2021-02-26 15:57] #485 closed, assigned to nobody

[2021-03-02 14:51] saowapakbp opened #541 "ERROR: Failed building wheel for obspy ตอน pip install บน Windows10 ค่ะ"
พิมคำสั่ง pip install obspy แล้วขึ้นแบบนี้อ่ะค่ะ
![Screenshot (5)](https://user-images.githubusercontent.com/60190957/109666014-5d49c980-7ba1-11eb-8588-02ae5f730f7b.png)
![Screenshot (6)](https://user-images.githubusercontent.com/60190957/109666069-676bc800-7ba1-11eb-961c-fa10c804cf19.png)

[2021-03-02 19:31] wannaphong commented on #465
spacymoji not update since 2019. :(

[2021-03-19 08:55] wannaphong commented on #445
Update Schedule

[2021-03-21 11:09] Bunny1421 opened #542 "ERROR: Command errored out with exit status 1:"
ใช้ python 3.9 ค่ะ
ติดตั้งตัว PyICU-2.6-cp39-cp39-win_amd64.whl เรียบร้อยแล้ว
![Capture](https://user-images.githubusercontent.com/68907141/111902425-f452c480-8a6f-11eb-88db-4ce1905d4428.PNG)

แล้วก็ pip install pythainlp ต่อ ค่ะ
![image](https://user-images.githubusercontent.com/68907141/111902534-82c74600-8a70-11eb-9fce-91895399543f.png)

![image](https://user-images.githubusercontent.com/689071

[2021-03-21 11:36] wannaphong commented on #542
เหมือนว่า python-crfsuite ยังไม่มี Build สำหรับ python 3.9 ครับ รุ่นล่าสุด สนับสนุนถึงแค่ python 3.8 ครับ

[2021-03-25 04:33] #542 closed, assigned to nobody

[2021-03-28 19:09] wannaphong opened #544 "Implement more soundex"
## Detailed description

We want to implement more Thai soundex to PyThaiNLP.

## Context

_List thai soundex algorithm_

- [ ] [A Thai Soundex System for Spelling Correction (or KSS97)](https://linux.thai.net/~thep/soundex/soundex.html) [paper link](https://mafiadoc.com/download/a-thai-soundex-system-for-spelling-correction_5b883e46097c4702738b473c.html)
- [x] [Complete Soundex for Thai Words Sim

[2021-03-28 19:14] wannaphong commented on #218
I will close this issues and I will add `spaCy-Thai` recommend for `Thai dependency parser` to PyThaiNLP Documentation.

Thank you @KoichiYasuoka for `dependency parser`

[2021-03-29 11:30] wannaphong commented on #218
Done.

Notebook: https://github.com/PyThaiNLP/tutorials/blob/master/source/notebooks/Thai_Dependency_Parser.ipynb
Website: https://pythainlp.github.io/tutorials/notebooks/Thai_Dependency_Parser.html

[2021-03-29 11:44] wannaphong commented on #314
Done

Website: [pythainlp.github.io](https://pythainlp.github.io)
GitHub:  [PyThaiNLP/pythainlp.github.io](https://github.com/PyThaiNLP/pythainlp.github.io)

[2021-03-29 11:44] #314 closed

[2021-03-29 11:50] wannaphong commented on #541
ทำตามนี้นะครับ https://www.youtube.com/watch?v=jZI-hex41WM

[2021-03-29 11:50] #541 closed, assigned to nobody

[2021-03-29 11:51] wannaphong commented on #317
I add mt5 text summarize to PyThaiNLP 2.3.

[2021-03-30 08:10] #218 closed

[2021-03-31 13:45] #445 closed, assigned to nobody

[2021-03-31 13:46] wannaphong opened #545 "PyThaiNLP 3.0 change log"
**Schedule**
- First development release: 1 August 2021
- Beta release: 20 January 2022
- Production release: 29 January 2022

Docs: https://pythainlp.github.io/dev-docs/index.html
Report bug: https://github.com/PyThaiNLP/pythainlp/issues
GitHub: https://github.com/PyThaiNLP/pythainlp

## News

## What is new?

### Deprecation and other API changes
- #550 Deprecated syllable_tokenize. `syllable_to

[2021-04-02 20:13] wannaphong opened #546 "Thai2Fit: Word2Vec error with Gensim 4.0"
## Description
from https://github.com/PyThaiNLP/pythainlp/runs/2237147773?check_suite_focus=true, Gensim upgrade to 4.0. The index2word attribute has been replaced by index_to_key since Gensim 4.0.0.

## Expected results
pass

## Current results
fail

## Steps to reproduce
1. install pythainlp 2.3.0 and gensim 4.0.
2. run unittest

## Your environment
* PyThaiNLP version: 2.3.0
* Python version:

[2021-04-02 20:17] #440 closed, assigned to nobody

[2021-04-04 11:38] #546 closed, assigned to wannaphong

[2021-04-11 09:45] p16i opened #549 "Misspelling Model"
## Detailed description
In most of practical settings, text often contains misspelling that could deteriorate NLP algorithms. To simulate such situations and evaluate how the problems could affect our algorithms, we need to simulate such misspelling.

I propose to create a misspelling model based on neighborhood characters with respect to the standard Thai keyboard layout.    For example, consider

[2021-04-21 12:01] bact commented on #342
I think we've implemented most of the stuffs we can do for now. Let's file another issue for any enhancement.

[2021-04-21 12:01] #342 closed, assigned to bact

[2021-04-21 12:02] bact commented on #411
- Test coverage is now over 95%.

[2021-04-21 12:03] #411 closed, assigned to bact

[2021-04-22 17:25] #322 closed

[2021-04-23 16:59] #317 closed

[2021-04-23 16:59] wannaphong commented on #317
I will reopen if i have new model.

[2021-04-26 09:27] veer66 opened #552 "A possibly unreachable branch in royin.py"
In royin.py:

I suppose the last else block is unreachable since word[i] == _RO_RUA should be always true in this whole block.

[code]

[2021-04-26 13:30] wannaphong commented on #552
Can you fork then send to `update-royin` branche?

[2021-05-01 09:38] veer66 commented on #552
@wannaphong I failed to run tests. I use Python 3.9.4 on Fedora 34. I have already run "pip install -r requirements.txt". I run tests by python -m unittest discover -s tests -p 'test_transliterate.py'.

However, I need to install following pakcages.

[code]
Should I add them to requirements.txt?

[2021-05-01 15:22] wannaphong commented on #552
You can use `pip install -e .[full]` for install all requirements.

[2021-05-02 04:19] veer66 commented on #552
I ran python -m unittest discover -s tests -p 'test_transliterate.py' on commit 3ea5f5e43b0f354bc8e27a1cb5928e75489be6af. It didn't pass two tests.

Did I do it properly, for example, correct commit/branch? Should I just ignore these two tests for now?

[code]

[2021-05-04 16:31] wannaphong commented on #552
OK. I fixed.

[2021-05-07 03:41] TouchTci opened #554 "ใช้ Bahttext หลังจาก build exe แล้ว error"
## Description

## Expected results

## Current results

## Steps to reproduce

1.
2.
3.

[code]

## Context

## Your environment
* PyThaiNLP version:
* Python version:
* Operating system and version (distro, 32/64-bit):
* More info (Docker, VM, etc.):

## Possible solution

## Files

[2021-05-10 07:24] wannaphong commented on #554
ช่วยบอกรายละเอียดเพิ่มเติมได้ไหมครับ

[2021-05-12 02:03] TouchTci commented on #554
![S__1728518](https://user-images.githubusercontent.com/77578457/117907258-b0a66980-b300-11eb-894b-840f45ae6bfe.jpg)

หลังจาก compile เป็น EXE ด้วย pyinstaller รันโปรแกรมแล้ว error ตามภาพครับ

[2021-05-15 09:08] bact commented on #554
ไม่พบแฟ้ม stopwords_th.txt

ตอนนี้ใช้ pythainlp รุ่นอะไรอยู่ครับ

[2021-05-15 09:26] bact opened #557 "Misspellings and errors in dictionary for word tokenization"
## Description
Some errors are found in the tokenization dictionary like `คู่ทุกขู์คู่ยาก`.

This issue is open to get input on those.

## Your environment
* PyThaiNLP version: 2.3.1

## Files
- pythainlp/corpus/words_th.txt

[2021-05-15 14:53] TouchTci commented on #554
pythainlp 2.3.1 ครับ

[2021-05-15 17:34] wannaphong commented on #557
Colab for test: https://colab.research.google.com/drive/1Nc0CwIlfuPazVYxYDCnOCFyWHIOfzs6A?usp=sharing

[2021-05-16 07:39] bact commented on #557
อิทธิปาฎิหาริย์

[2021-05-16 07:54] bact commented on #557
กรมอุตินิยมวิทยา
กรมอุติฯ

[2021-05-16 08:06] bact commented on #557
ถือเน้อถือตัว

[2021-05-16 08:08] bact commented on #557
อักษรศาตรดุษฎีบัณฑิต
อักษรศาตรบัณฑิต
อักษรศาตรมหาบัณฑิต
อักษรสาสตรบัณฑิต

[2021-05-16 08:30] bact commented on #557
เลธิการสหประชาชาติ

[2021-05-16 08:56] bact commented on #554
ในข้อความแสดงความผิดพลาด แจ้งว่าจำเป็นต้องใช้แฟ้ม stopwords_th.txt

ผมไม่แน่ใจว่า ตอน build เป็น exe ตัว build ได้รวมแฟ้มนี้ และแฟ้มอื่นๆ ที่จำเป็นต้องใช้ รวมเข้าไปใน exe หรือแฟ้มนี้อยู่ในเครื่องที่รันโปรแกรมไหมครับ

ปกติแฟ้มนี้จะถูกติดตั้ง เมื่อมีการลง PyThaiNLP ที่เป็น library ในเครื่อง ซึ่งควรจะอยู่ใน `lib/site-packages` แต่ในข้อความแสดงความผิดพลาดตามรูปที่แนบว่า แจ้งว่าตัวโปรแกรมไปค้นหาใน  `C:

[2021-05-16 09:05] bact commented on #557
ศูนย์ปฎิบัติการ

[2021-05-16 09:28] bact opened #558 "Wrong ordering from collate()"
## Description

`pythainlp.util.collate()` results a wrong ordering,
as current implementation ignores tone marks and symbols in the ordering.

Try this code:
[code]

## Expected results
Ordering according to Thai dictionary
[code]

## Current results
[code]

## Your environment
* PyThaiNLP version: 2.3.1

## Files
`pythainlp/util/collate.py`

## Proposed test case

[code]

[2021-05-16 10:08] bact commented on #557
นักปฎิวัติ

[2021-05-16 10:08] bact commented on #557
ปฎิกรปรมาณู
ปฎิกิริยา
ปฎิกูล
ปฎิคม
ปฎิชีวนะ
ปฎิทิน
ปฎิบัติ
ปฎิปักษ์
ปฎิรูป

[2021-05-16 10:12] bact commented on #557
ระเบียบปฎิบัติ
ภาคปฎิบัติ

[2021-05-16 10:57] bact commented on #557
เภสัชศาตรบัณฑิต
เภสัชศาตรมหาบัณฑิต
รองศาตราจารย์
รัฐประศาสนศาตรบัณฑิต
รัฐประศาสนศาตรมหาบัณฑิต
รัฐประสานสนศาตร์
รัฐศาตรดุษฎีบัณฑิต
รัฐศาตรบัณฑิต
รัฐศาตรมหาบัณฑิต
วิทยาศาตรดุษฎีบัณฑิต
วิทยาศาตรบัณฑิต
วิทยาศาตรมหาบัณฑิต
วิทยาศาตร์
วิทยาศาสตร์มหาบัณฑิต
วิศวกรรมศาตรดุษฎีบัณฑิต
วิศวกรรมศาตรบัณฑิต
วิศวกรรมศาตรมหาบัณฑิต
สถาปัตยกรรมศาตรบัณฑิต
สถาปัตยกรรมศาตรมหาบัณฑิต
สถาปัตยกรรมศาสตรดุษฎีบัณฑิต
ประวัติศาตร

[2021-05-16 10:59] bact commented on #558
Added notes on this to collate()'s docstring https://github.com/PyThaiNLP/pythainlp/commit/bc8223a6017f2d1a8a26a60f7f472a4ceeaa9a29

[2021-05-16 11:07] bact commented on #557
ปาฎิหารย์
ปาฎิหาริย์

[2021-05-16 11:11] wannaphong commented on #461
OK. We will remove syllable_tokenize in 2.4 (move to subword_tokenize)

[2021-05-16 11:36] bact commented on #461
Current `newmm` engine will group that together, due to this:
https://github.com/PyThaiNLP/pythainlp/blob/7497f1b8dbe1d9dd6edb7efda78093d4a1c0e2ea/pythainlp/tokenize/newmm.py#L104-L106

`_PAT_NONTHAI` is
https://github.com/PyThaiNLP/pythainlp/blob/7497f1b8dbe1d9dd6edb7efda78093d4a1c0e2ea/pythainlp/tokenize/newmm.py#L25-L33

I agree with @heytitle that we probably need to think about `19...` case.

[2021-05-16 16:31] bact commented on #558
May try to implement libthai's thcoll https://github.com/tlwg/libthai/tree/master/src/thcoll

See character weight table at https://github.com/tlwg/libthai/blob/master/src/thcoll/cweight.c

[2021-05-17 03:00] bact commented on #557
ติดยาเสพย์ติด
พระราชานุญาติ
เครื่องสำอางค์
ดับเครื่องยนตร์
เศรฐกิจพอเพียง

[2021-05-17 03:03] bact commented on #557
กุฏุมพี
แก็งค์
แก๊งค์
แกงค์
แกลลอรี่
มิ้ตติ้ง
มีฝืมือ
เมตาบอลิสม
โลกาภิวัฒน์
วรางคนา
วันปิยะมหาราช
วิจารณญาน
สัญญานไฟ
วิญญาน
สหัชญาน
สนุ้กเกอร์
สวิสเซอร์แลนด์
สหรัฐอาหรับเอมิเรสต์

[2021-05-17 03:18] bact commented on #557
อุตสาห์
ติดยาเสพย์ติด
พระราชานุญาติ
เครื่องสำอางค์
ดับเครื่องยนตร์
เศรฐกิจพอเพียง

[2021-05-19 03:35] bact commented on #557
คร๊าบบบ
คร้าบบบบ
คาร์โบฮัยเดรท
คาร์โบโฮเดรต
ฉานนน
ซู๊ดดดดดดดดดดด
ธุรกิจบันฑิตย์
น้านนนนนน
เนติบัณฑิตสภา
เนเธอแลนด์
เนี๊ยบ
ปรากฎการณ์ธรรมชาติ
ปรากฎการณ์
ปรากฎ
ผ่านฟ้าภิภพลีลา
ฤิทธิ์เดช
วองชิงตัน ดี.ซี.
วัฎจักร
สถานบันการศึกษา
สมเด็จพระมหิตลาธิเบศร์ อดุลยเดชวิกรม พระบรมราชชนก
สมบูรณาญาสิทธิราช
สัมฤิทธิ์
สายไฟฟ้า.
สารทุกข์สุขดิบ
อิทธิฤิทธิ์

[2021-05-19 03:54] bact commented on #552
I guess this meant to handle รร
but I'm not sure about the algorithm itself.

Any clarification on the algo?

[2021-05-19 05:38] bact commented on #552
See #415 and #553

[2021-05-19 11:48] veer66 commented on #552
I suggest to refactor the function _replace_consonants first. I did it on the Ruby port. I probably try to translate it back to Python. Of course, I won't try to use the reduce function in Python. What I did was elimilating embedded if blocks and duplicated blocks.

[code]

[2021-05-19 11:55] veer66 commented on #552
After refactoring, adding new rules to handle cases in #415 will be much more convenient.

[2021-05-19 11:58] veer66 commented on #552
No, the deleted block has nothing to do with รร. รร is handled by another block.

[code]

[2021-05-20 03:30] #552 closed, assigned to nobody

[2021-05-20 03:31] bact commented on #552
Looks very nice.

[2021-05-21 05:05] bact commented on #557
โซเดียมไฮดรอกไซค์
เตอร์กเมนิสถาน
เวิร์ลด์
เวิร์ลไวด์เว็บ
ไวตามิลค์
สารขันฑ์

[2021-05-22 03:27] #461 closed, assigned to nobody

[2021-05-22 03:43] bact commented on #557
นอรเวย์
ฮิลตันอะคาเดีย
ฮิวแมนแพบพิลโลมา
ฮิวแมนเพ็บพิโลม่าไทป์
ฮุนเซ็น
ซับพอร์ท
ซ็อกเกอร์
ซีคอนแสควร์
ซีไรท์
เซอร์ไพร์ส
ญีปุ่น

[2021-05-24 18:18] bact commented on #557
คณสถาปัตยกรรมศาสตร์
โพธิ์สัมพันธ์
ไพโตสเตอรอยด์
มิดเดิ้ลสโบรห์
เมตาลอลิซึ่ม

[2021-05-25 07:08] wannaphong commented on #557
I think we need to reopen a issues until It's fixed.

[2021-05-27 05:03] bact commented on #461
Fixed for newmm.

For ssg, I filed a new issue at https://github.com/ponrawee/ssg/issues/8

[2021-05-27 05:10] bact commented on #557
แมนเชเตอร์ยูไนเต๊ด
องค์การส่งเสริมกิจการโคมนมแห่งประเทศไทย

[2021-05-27 14:29] #557 closed, assigned to bact

[2021-05-31 15:25] bact commented on #557
สมเด็จเจ้าฟ้ากรมพระยานริศรานุวัติวงศ์
ราชสิทธิธารามวรวิหาร
ไฮโดรคอรติโซน

[2021-06-01 05:07] horngep opened #575 "ThaiNER - URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED]"
Upon calling ThaiNameTagger(), get the following error:

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1131)>

Seems like I can not download the model for ThaiNER (both 1.4 and 1.5 version)

According to this
https://github.com/PyThaiNLP/pythainlp/issues/298
the model are not downloaded together with the package

[2021-06-01 08:56] wannaphong commented on #575
Can you try again? I just update this old colab.

[2021-06-01 09:20] horngep commented on #575
running:
ner = ThaiNameTagger()

still getting the same error as above krub

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1131)>

[2021-06-01 11:05] bact commented on #557
แก็สซิฟิเคชั่น
ไม่รู้จักเสือเอาเรือเข้ามาจอดไม่รู้จักมอดเอาไม้เข้
บำรุงระวิวรรณวิทยา

[2021-06-01 11:45] wannaphong commented on #575
Can you check ssl certificate? https://stackoverflow.com/questions/27835619/urllib-and-ssl-certificate-verify-failed-error

[2021-06-02 06:51] horngep commented on #575
That fix it! Thank you very much !

[2021-06-02 06:51] #575 closed, assigned to nobody

[2021-06-11 07:06] wannaphong opened #577 "Add Thai Text Generator"
## Detailed description

Add Thai Text Generator to PyThaiNLP

## Context
Text Generator is tool for text generate. Now, PyThaiNLP Project have [TTG : Thai Text Generator](https://github.com/PyThaiNLP/Thai-Text-Generator). I think we may merge code from ttg to pythainlp.

## Possible implementation
It is not want more requirements.

## Your environment
* PyThaiNLP version:
* Python version:
* Oper

[2021-06-11 07:13] wannaphong opened #578 "Add Thai Text Augmentation"
## Detailed description
Add Thai Text Augmentation to PyThaiNLP

## Context
Text Augmentation is tool for augmentation text. It is need for many nlp task. I think i may merge code from [ThaiTextAug](https://github.com/wannaphong/thaitextaug) to pythainlp.

## Possible implementation
It is need more requirements
- thai2transformers
- bpemb
- nltk

## Your environment
* PyThaiNLP version:
* Python v

[2021-06-12 07:55] wannaphong opened #581 "Retrained Model for PyThaiNLP 2.4"
After #557 & #562, We needs to retrained all model in PyThaiNLP before we release PyThaiNLP 2.4 because dict & newmm has update.

**List model to retrained**

- [x] ThaiNER 1.5
- [x] CRFcut

[2021-06-12 10:11] bact commented on #581
May related to #437 as well, for thai2fit.

[2021-06-14 19:02] wannaphong opened #582 "Add LTW2V to pythainlp.word_vector"
## Detailed description

Add `LTW2V: The Large Thai Word2Vec` to `pythainlp.word_vector`

## Context
Now, We have new thai word2vec. I think we should add `LTW2V` to `pythainlp.word_vector`.

## Possible implementation
OOP class?

## Your environment
* PyThaiNLP version:
* Python version:
* Operating system and version (distro, 32/64-bit):
* More info (Docker, VM, etc.):

LTW2V: The Large Thai Wor

[2021-06-21 07:39] wannaphong commented on #581
Done ThaiNER 1.5 https://github.com/PyThaiNLP/pythainlp/commit/6027175fab6ba5a822b79c37e0190f832a37bef3

[2021-06-22 23:44] bact commented on #557
ความจำเปง
ความปราณี
ไร้ความปราณี

[2021-06-27 14:50] wannaphong opened #586 "Deprecated some funtion in pythainlp.word_vector"
After #583, I think we would to deprecated some funtion in pythainlp.word_vector and we should move to `pythainlp.word_vector.WordVector`.

**List Deprecated funtion in pythainlp.word_vector**
- `pythainlp.word_vector.doesnt_match` move to `pythainlp.word_vector.WordVector.doesnt_match `
- `pythainlp.word_vector.get_model` move to `pythainlp.word_vector.WordVector.get_model`
- `pythainlp.word_vect

[2021-06-27 16:55] p16i commented on #586
I have a quick question. It seems to me that `word_vector` and `WordVector` are semantically similar. Would you mind explaining what is the reason behind this depreciation (or reorganization)?

[2021-06-27 17:32] wannaphong commented on #586
OK. for `WordVector` class, It can have many word2vec model and it can add new word2vec model in the future. for `pythainlp.word_vector` old, It is thai2fit word2vec only.

[2021-07-11 17:21] #582 closed, assigned to nobody

[2021-07-16 12:12] wannaphong opened #592 "End of support for Python 3.6 in the next version of PyThaiNLP"
Hello everyone! Now, Python 3.6 EOL is 2021-12-23. It is just only months away from now.
I think we should to end of support for Python 3.6 in the next version of PyThaiNLP and upgrade code base to use new features of Python 3.7.

[2021-07-16 19:11] #578 closed, assigned to nobody

[2021-07-18 12:09] wannaphong commented on #545
Updated 18/07/2021

[2021-07-20 16:40] pongsakorntochue opened #593 "Error: pip install pythainlp"
ต้องแก้ไขอย่างไรครับ

pip install pythainlp
Collecting pythainlp
  Using cached pythainlp-2.3.1-py3-none-any.whl (11.0 MB)
Requirement already satisfied: tinydb>=3.0 in c:\program files\python39\lib\site-packages (from pythainlp) (4.5.1)
Collecting python-crfsuite>=0.9.6
  Using cached python-crfsuite-0.9.7.tar.gz (432 kB)
Requirement already satisfied: requests>=2.22.0 in c:\program files\python3

[2021-07-20 16:55] wannaphong commented on #593
ขณะนี้ python-crfsuite ยังไม่มี build สำหรับ python 3.9 กับ windows ครับ แนะนำให้ติดตั้งตาม https://www.scivision.dev/python-windows-visual-c-14-required/ ก่อนติดตั้ง pythainlp ครับ

[2021-07-20 23:59] pongsakorntochue commented on #593
ยอดเยี่ยมมากเลยครับ ได้แล้วครับ
ขอบคุณมากครับ

[2021-07-21 05:10] #593 closed, assigned to nobody

[2021-07-21 14:31] #577 closed, assigned to nobody

[2021-07-21 14:32] wannaphong commented on #426
Now, document_vector test case is in #579

[2021-07-21 17:13] wannaphong commented on #581
CRFcut: In progressing.

[2021-07-22 11:19] #581 closed, assigned to nobody

[2021-07-22 18:46] Thiraphat-K commented on #542
แล้วต้องใช้ crfsuite vers. ไหนถึงจะรองรับกับ python 3.9 ครับ
![image](https://user-images.githubusercontent.com/69136273/126692391-5825066b-1045-483d-b139-bbf9c46e2d8f.png)
คือ ผมต้องเลือก vers. ล่าสุด(cp38)หรอครับ

[2021-07-22 19:08] Thiraphat-K commented on #542
ERROR: python_crfsuite-0.9.7-cp38-cp38-win_amd64.whl is not a supported wheel on this platform.

ผมลองลง vers. ล่าสุดแล้วก็ขึ้นแบบนี้เลยครับ

[2021-07-25 04:59] #592 closed, assigned to nobody

[2021-07-27 20:38] #586 closed, assigned to nobody

[2021-07-28 06:50] wannaphong commented on #426
Done. Add test_merge_wgts https://github.com/PyThaiNLP/pythainlp/commit/57f06e88966483818d9739cc0915cf56f79530fd

[2021-07-28 06:50] #426 closed, assigned to nobody

[2021-08-02 14:23] wannaphong opened #604 "Skip to PyThaiNLP 3.0"
Hello! After we were release PyThaiNLP 2.4.0-dev0. In Thai NLP group, We have feedback that advice release PyThaiNLP 3.0 instead of PyThaiNLP 2.4.

What are you thinking? @bact @heytitle @cstorm125 @korakot @Gorlph