[2021-08-02 14:25] wannaphong commented on #604
post https://web.facebook.com/groups/thainlp/posts/1390690147979138

[2021-08-02 14:49] p16i commented on #604
Skipping to v3.0 seems reasonable given the list of changes we have introduced in the main branch; I personally don't have any opposing opinion to stay at v2.4.x. Given several changes (in different components) have been introduced, we might also consider extending the pre-release testing to be longer.

For the future, we might have a road map indicating on which (major) features we would introduc

[2021-08-02 17:24] Gorlph commented on #604
I have read the changes. I don't know much about how advanced these new features are, but there is **a lot** of new features and a few of breaking changes. Most importantly, as Ekapol commented, the main tokenizer's behavior has already been changed.

So, I think skipping to v3.0 is reasonable.

[2021-08-02 17:57] korakot commented on #604
If we want to skip to 3.0, I have a change to newmm I want to add.
Now, we use 1 trie for both searching for normal tokens and OOV words. I want to use 2 different tries. The OOV can use a smaller trie so it won't match too easily and split the OOV words.

[2021-08-03 06:05] wannaphong commented on #604
OK. I think we may skip tp PyThaiNLP 3.0 and we want to write the roadmap for PyThaiNLP 3.0.

[2021-08-03 13:33] wannaphong opened #605 "The roadmap of PyThaiNLP X.X"
## Trie
- [ ] Add trie for OOV words - @korakot

## Dependency parsing

- [x]  Add dependency parsing to PyThaiNLP #606

[WIP]

[2021-08-03 16:51] wannaphong commented on #604
The roadmap of PyThaiNLP 3.0 #605

[2021-08-10 17:19] wannaphong opened #606 "Add dependency parsing to PyThaiNLP"
After NECTEC released Blackboard Treebank, We want to add dependency parsing from Blackboard Treebank to PyThaiNLP 3.0.

Facebook: https://web.facebook.com/dancearmy/posts/10158423653343284
bitbucket: https://bitbucket.org/kaamanita/blackboard-treebank/

[2021-08-12 09:15] #554 closed, assigned to nobody

[2021-08-14 14:59] wannaphong commented on #545
From #605, I changed PyThaiNLP 2.4 to PyThaiNLP 3.0.

[2021-08-16 08:34] wannaphong commented on #606
@bact Can I use pickle for serializing function? I found my code's not working with json serialize.

[2021-08-16 13:10] bact commented on #606
Pickle is fine, just be careful:
- if the data is downloaded from the network, check the signature before unpickle it
- if the data is from local, set a proper access permission to the file/folder

[2021-08-24 20:41] ponrawee opened #609 "clause_tokenize returns an empty list."
`clause_tokenize` should accept a list of strings (words) and return a list of list of strings (clauses). At the moment, it always returns an empty list.

## Description

As stated above, `clause_tokenize` returns an empty list.  I followed the example in the doc, but it did not produce the expected results. The issue still persisted after I downloaded `lst20-cls`.
[code]
[code]

## Expected resul

[2021-08-25 02:48] #609 closed, assigned to nobody

[2021-08-25 02:49] wannaphong commented on #609
Thank you for your report. We were release PyThaiNLP 2.3.2 for fix this issue.

[2021-09-19 04:09] polm commented on #465
A new version of spacymoji with support for spaCy v3 was released in April and I think it resolved this issue 😎

[2021-09-19 06:59] wannaphong commented on #465
Thank you for update!

[2021-09-19 06:59] #465 closed, assigned to nobody

[2021-09-29 11:03] wannaphong commented on #544
for Hacktoberfest, You can select one from there.

[2021-09-29 11:15] wannaphong opened #613 "Welcome Hacktoberfest '21!"
Hello everyone! If you apply the Hacktoberfest '21, you can contribute to PyThaiNLP!

We have many issues. You can select topics to contribute to PyThaiNLP or create new problems. It wants about natural language processing with Thai. You can implement a new algorithm, fix issues, or improve the efficiency of PyThaiNLP.

Thank you!

**Link**
- issues: https://github.com/PyThaiNLP/pythainlp/issues
-

[2021-09-29 11:17] wannaphong commented on #613
Contribute to PyThaiNLP: https://github.com/PyThaiNLP/pythainlp/blob/dev/CONTRIBUTING.md

[2021-10-07 06:32] p16i opened #615 "Command line for generating misspell texts"
## Detailed description
From #614, we now have a way to produce misspells for Thai and English text.

One usecase of the module would be to simulate out-of-distribution (OOD) datasets due to misspelling. This command line will be an interface for practitioners who want to create such datasets.

More precisely, give a text file, the command line will read the file (by line) and add misspells accord

[2021-10-09 15:39] #549 closed, assigned to nobody

[2021-10-11 09:40] zegzag commented on #475
I've encountered the same problem for using `pythainlp` on Spark

[2021-10-12 08:12] zegzag commented on #475
@COLDkl I've found the solution. Actually, because Spark will distribute your function in rdd.map() to each executors. The problem will be solved if you code like below in you distributed defined function.
[code]
this will distribute the os environ to all executors.

[2021-10-13 10:05] TeerawatTK opened #616 "ผลลง pythainlp ไม่ได้ครับ แก้ไขยังไงดีครับ"
Building wheels for collected packages: python-crfsuite
  Building wheel for python-crfsuite (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\ToPfrEeTK\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\ToPfrEeTK\\AppData\\Local\\T

[2021-10-13 10:10] wannaphong commented on #616
แนะนำให้ลง Microsoft C++ Build Tools ก่อนติดตั้งครับ https://www.youtube.com/watch?v=rcI1_e38BWs

[2021-10-20 05:02] pyup-bot opened #618 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2021-10-24 11:31] cstorm125 opened #620 "[feature] spoonerism (คำผวน) function"
## Detailed description
Add function to perform spoonerism on texts

## Context
Spoonerism (คำผวน) is a unique and important part of Thai language.

## Possible implementation
[code]

[2021-10-29 16:17] wannaphong commented on #616
หากยังพบปัญหาให้กด reopen นะครับ

[2021-10-29 16:17] #616 closed, assigned to nobody

[2021-10-29 17:53] wannaphong opened #621 "Add builder tools for pythainlp"
## Detailed description
From [Thai NLP Meetup #7](https://web.facebook.com/AIResearch.in.th/videos/1474022956330608), II get feedback from the user. They want to builder tools in pythainlp for using own model in pythainlp.

## Context
benefit:
- build and use model from pythainlp with own dataset.

## Possible implementation
Many models can retrain, and we have source code for training.

[2021-11-06 08:23] #620 closed, assigned to nobody

[2021-11-11 08:00] banagale opened #626 "`python-crfsuite` dependency fails to build under python 3.10"
This is a downstream issue.

## Description

It appears that `python-crfsuite` is not building under python 3.10.  Discovered when trying to run 3.10 in `newspaper3k`. See [issue here](https://github.com/codelucas/newspaper/issues/920).

## Expected results
pythainlp should install via pip under python 3.10

## Current results
[code]

## Your environment
* PyThaiNLP version:
* Python version: 3.10

[2021-11-11 10:45] wannaphong commented on #626
It is the bug of python-crfsuite. Now, python-crfsuite have this pull request. [Add Python 3.10 support #131](https://github.com/scrapinghub/python-crfsuite/pull/131)

[2021-11-11 10:49] thetorque opened #627 "cannot import name 'dict_trie' from 'pythainlp.tokenize'"
I'm trying to use tokenizer with custom dict and I'm following this tutorial

https://www.bualabs.com/archives/3740/python-word-tokenize-pythainlp-example-algorithm-deepcut-newmm-longest-python-pythainlp-ep-2/

However, when doing

[code]
there is an error
[code]
I'm using pythainlp 2.3.2

[2021-11-11 11:08] wannaphong commented on #627
Since PyThaiNLP 2.2, We change `dict_trie` to `pythainlp.util.Trie`. You can read https://pythainlp.github.io/tutorials/notebooks/pythainlp_get_started.html#Tokenization-and-Segmentation.

[2021-11-15 03:32] thetorque commented on #627
Understood. Thank you so much.

[2021-11-15 03:32] #627 closed, assigned to nobody

[2021-11-25 19:48] wannaphong opened #632 "Deprecate pythainlp.corpus.conceptnet"
Now, I cannot use `pythainlp.corpus.conceptnet.edges` because http://api.conceptnet.io/ is error 500. I thinks that we should deprecate `pythainlp.corpus.conceptnet` in the next version.

[2021-12-01 13:15] sahussawud commented on #558
Can I assign myself to this task. If yes, Is any rule I have to follow before pull request eg. code styling.

[2021-12-01 15:17] wannaphong commented on #558
Thank you. Here is the list of pull request.

- Write code by PEP8 code style. We have PEP8 checker when have pull request. You can use `pycodestyle`.
- Pass unittest of your function.
- If you create new function, you wants add document and unittest.

If you have a quetion, you can direct contact me at my Facebook. https://www.facebook.com/tontanwannaphong/

[2021-12-03 04:58] #613 closed, assigned to nobody

[2021-12-04 14:01] wannaphong commented on #632
Now, I can use http://api.conceptnet.io/. I will close this issue.

[2021-12-04 14:01] #632 closed, assigned to nobody

[2021-12-09 19:04] garfieldnate commented on #626
The linked PR only attempts to add Python 3.10 to CI (GitHub Action). No actual fix has been created yet.

[2021-12-10 13:20] garfieldnate commented on #626
I've opened a PR in `python-crfsuite` which fixes the underlying problem. If anyone is having trouble building pythainlp, you can depend on my branch for now. I'm using Poetry to manage dependencies, so in my pyproject.toml dependencies section I have the lines below:

    # TODO: temporarily use forked version of python-crfsuite for Python 3.10 compatibility
    # (needed by pythainlp). See https

[2021-12-27 11:19] wannaphong commented on #545
Update 27/12/2021

[2021-12-27 12:04] wannaphong commented on #545
PyThaiNLP v3.0.0-dev0 Release! https://github.com/PyThaiNLP/pythainlp/releases/tag/v3.0.0-dev0

[2021-12-27 12:22] #618 closed, assigned to nobody

[2021-12-27 16:18] #604 closed, assigned to nobody

[2021-12-27 17:16] wannaphong commented on #606
I moved it to future because I don't have free-time to do this issues. If you interest this, you can comment this issues and fork pythainlp to do it.

[2022-01-11 13:39] wannaphong opened #636 "Release Date for PyThaiNLP 3.0"
I offer we should release PyThaiNLP 3.0. It's plan.

- Beta version: 20 January 2022
- Production Release: 29 January 2022

[2022-01-13 05:41] wannaphong opened #639 "Porting model to ONNX model"
In the next time, I think we should porting pythainlp model to onnx model. For onnx model, It's model standard to other framework and It can use OS framework to inference model.

[2022-01-29 16:57] #545 closed, assigned to nobody

[2022-01-29 18:32] #636 closed, assigned to nobody

[2022-01-29 18:33] wannaphong opened #643 "PyThaiNLP 3.1 change log"
**Schedule**
- First development release: 31 August 2022
- Beta release: 20 September 2022
- Production release: 24 September 2022

See [3.1 Milestone](https://github.com/PyThaiNLP/pythainlp/milestone/16).

## What is new?
### Deprecation and other API changes
#687 Remove deprecated function
- pythainlp.word_vector; doesnt_match, get_model, most_similar_cosmul, sentence_vectorizer, similarity. use

[2022-02-05 13:54] BLKSerene opened #644 "Confusing warning message in pythainlp.tag.thainer"
The warning issued in `pythainlp.tag.thainer` reads:

ThaiNameTagger class is change from
pythainlp.tag.named_entity.ThaiNameTagger
to
pythainlp.tag.thainer.ThaiNameTagger.
**This old class** will be deprecated in PyThaiNLP version 2.5.

As `ThaiNameTagger` has already been moved to `pythainlp.tag.thainer.ThaiNameTagger` and whenever the module is imported, `pytest` always prompt the warning, this

[2022-02-06 15:20] wannaphong commented on #644
I think that It should be removed from `pythainlp.tag.thainer`.

[2022-02-09 05:25] wisaTong opened #645 "TinyDB raised permission denied when db.json is read-only"
## Description

My setup mounts PYTHAINLP_DATA_DIR from a central server in read-only mode.

## Expected results

If db.json existed and it is read-only, there should be no problem reading it.

## Current results

TinyDB raised permission denied when db.json is read-only

[code]

## Steps to reproduce

1. change data dir permission to read-only `chmod 0444 /your/dir/here/*`
2. import ulmfit prepro

[2022-02-09 07:08] #644 closed, assigned to nobody

[2022-02-09 07:09] #645 closed, assigned to nobody

[2022-02-09 07:23] wannaphong commented on #645
Now, PyThaiNLP v3.0.1 was release. You can setting `PYTHAINLP_READ_MODE` environment variable with value is `1`.

[2022-02-09 07:50] wannaphong opened #649 "Fix macOS Unit test CI"
Now, our macOS Unit test CI is dead because It can't install pyicu.

[2022-02-09 11:55] wannaphong opened #650 "TypeError in pythainlp.spell.symspellpy"
## Description

`pythainlp.spell.symspellpy` has error with symspellpy v6.7.6.

[code]

[2022-02-09 12:11] wannaphong commented on #649
Fixed https://github.com/PyThaiNLP/pythainlp/commit/65838f6f5c2d2d1e819c5e2fffbb49beb288167c

[2022-02-09 12:11] #649 closed, assigned to nobody

[2022-02-09 12:19] wannaphong commented on #650
Fixed https://github.com/PyThaiNLP/pythainlp/commit/b403435e12a222c047950499915dea24fb947e2d

[2022-02-09 12:19] #650 closed, assigned to nobody

[2022-02-10 13:41] p16i opened #652 "Mistake in word tokenization for text containing digit related time and finance"
## Description
I've been contacted via email that AttaCut (possibly other tokenizers as well) cannot cope well when encountering texts like below

[code]

IMHO, this problem seems quite general. I wonder what could be a good strategy to solve the problem.

[2022-02-10 14:41] qathom commented on #626
Hello, I'm also getting this error when I'm running tests based on a Github Action - Running Python 3.8.12

[code]

[2022-02-10 15:33] wannaphong commented on #626
You can install `pip install python-crfsuite` or `pip install pythainlp[all]` to solve this error.

[2022-02-18 16:35] wannaphong opened #655 "Remove all python-crfsuite models from PyThaiNLP"
After `python-crfsuite` fixed python 3.10 problem but they doesn't release new version to PyPI. https://github.com/scrapinghub/python-crfsuite/issues/139
I think we should change all python-crfsuite models to Pytorch models.

[2022-02-22 15:00] wannaphong commented on #655
List python-crfsuite models:
- Thai NER (Done)
- crfcut
- crfcls

[2022-02-22 15:32] wannaphong commented on #652
I should maybe use regex to fix.

[2022-02-22 18:38] bact commented on #652
The 1st one is actually bad.
The 2nd and 3rd can be post-processed to combine digits and symbols together to form a larger token (with some semantic).

[2022-03-04 19:41] wannaphong commented on #655
If it want to deep learning models, it should working with onnx.

[2022-03-14 19:53] qathom commented on #626
Hi @wannaphong, thanks a lot for your prompt reply and sorry for my late message.
I tried to install `pythainlp[all]` from requirements.txt but it didn't work, Nevertheless, adding `python-crfsuite` as a dependency fixed the issue!
Thanks again :-)

[2022-03-16 16:20] wannaphong commented on #639
Now, I can port LST20NER model to onnx model from fine-turning by [WangchanBERTa model](https://huggingface.co/airesearch/wangchanberta-base-att-spm-uncased).

[2022-04-22 09:45] wannaphong opened #662 "newmm has problem about " ์ ""
## Description

I try to tokenize text with `"ทดสอบตัดคำภาษาไทยจอก์น"`.

## Expected results
`['ทดสอบ', 'ตัด', 'คำ', 'ภาษาไทย', 'จอก์', 'น']`

## Current results
`['ทดสอบ', 'ตัด', 'คำ', 'ภาษาไทย', 'จอก', '์น']`

## Steps to reproduce

[code]

## Your environment
* PyThaiNLP version: 3.0.5
* Python version: 3.8
* Operating system and version (distro, 32/64-bit): Linux 64 bit
* More info (Docker, VM

[2022-04-30 04:01] wannaphong opened #663 "Thai character splitter to display cell"
## Detailed description

This feature will split Thai text to display cell. E.g. แม่น้ำอยู่ที่ไหน -> แ ม่ น้ํ า อ ยู่ ที่ ไ ห น.

It will split Thai text to character but It doesn't split tone marks.

[2022-05-01 11:56] bact commented on #663
In Solaris Common Desktop Environment, we call this a "display cell" https://docs.oracle.com/cd/E19455-01/806-1360/6jalch36v/index.html

[2022-05-01 12:31] wannaphong commented on #663
Thank you!

[2022-05-03 03:12] wannaphong opened #664 "Add Nested Named Entity Recognition to PyThaiNLP"
I think we can add Nested Named Entity Recognition to PyThaiNLP by using https://github.com/vistec-AI/Thai-NNER

[2022-05-08 17:37] #664 closed, assigned to nobody

[2022-05-15 18:00] kmining opened #666 ""nercut" result not printed in a specific sentence"
## Description

I try to tokenize text with `ทุ๊กกโคนน` , `อือหือ`, `อย่าลืมอัพการ์ดนะจ๊ะ` using nercut tokenizer.

## Expected results

Something should be printed..

## Current results

Result not printed
![image](https://user-images.githubusercontent.com/58632771/168486898-0317e339-03f6-4d1c-a7f6-01454e2f6d4f.png)
![image](https://user-images.githubusercontent.com/58632771/168486934-8c5ab37d-29

[2022-05-16 05:30] wannaphong commented on #666
@kmining Thank you for reporting. I was fix this issue and I will release PyThaiNLP 3.0.6 to fix.

[2022-05-16 16:45] kmining commented on #666
@wannaphong, Thanks for the quick response.
The error with no result has been resolved, but it seems that there is a duplicate of the extracted tokens.
In version 3.0.5, there were no duplicate tokens.

[code]

![image](https://user-images.githubusercontent.com/58632771/168642379-d30925b8-5c0f-4c9e-867a-e46c96fbeb4d.png)
![image](https://user-images.githubusercontent.com/58632771/168643216-e35a09c

[2022-05-16 18:00] wannaphong commented on #666
Thank you for report. I was rewrite code, so if it be done, I will release PyThaiNLP v3.0.8 to fix this issue.

[2022-05-16 18:20] #475 closed, assigned to nobody

[2022-05-16 18:35] wannaphong commented on #666
@kmining It's done. Thank you for reporting.

[2022-05-16 18:35] #666 closed, assigned to nobody

[2022-05-22 12:34] kmining opened #676 "Error(wrong result) sentences in dictionary-based tokenizers"
## Description

When I tested with the easy sentence "Eat rice(กินข้าว)", all dictionary-based tokenizers such as longest and newmm gave wrong results.

I think that "rice(ข้าว)" and "eat(กิน)" should be separated as the correct answer.

## Expected results

[กิน, ข้าว]

## Current results

[กินข้าว]

## Steps to reproduce

[code]

## Your environment
* PyThaiNLP version: 3.0.8
* Python version:3.

[2022-05-22 17:59] wannaphong commented on #676
`กินข้าว` is phrase in Thai. It can mean "eat rice" or "meal time". example "ฉัน (I) กิน (eat) ข้าว (rice)" and "ได้(It's) เวลา  กินข้าว (meal time)".

`กินข้าว` phrase: [ทานข้าวไม่ได้แปลว่ากินข้าว : การให้ค่า เวลา การตีตราความถูกผิดในสังคมไทย](https://www.gotoknow.org/posts/605696)

[2022-06-20 07:44] phitcphu opened #680 "คำสะกดไม่ถูก"
คำว่า ปลาอินทรีย์ ไม่ถูกแก้ให้ถูกเป็น ปลาอินทรี

[2022-06-20 08:21] phitcphu commented on #680
![CheckSpell](https://user-images.githubusercontent.com/107839819/174557804-7b130200-e5d5-494e-8a0c-0d76d9b1c51e.PNG)

[2022-06-24 07:05] wannaphong opened #681 "Add Thai-English transliteration and more..."
Now, PyThaiNLP support only romanization by the Royal Thai General System of Transcription (RTGS) but we still doesn't support Thai-English/English-Thai transliteration.

- [x] Add Wunsen to PyThaiNLP for Japanese-to-thai, Korean-to-thai, and Vietnamese ([Wunsen GitHub](https://github.com/cakimpei/wunsen))
- [ ] Add Thai-English transliteration

[2022-06-24 07:06] wannaphong commented on #681
Thai-English transliteration dictionary https://github.com/wannaphong/thai-english-transliteration-dictionary

[2022-06-28 16:40] alexgolod commented on #63
+1 haven't found any solution so far

[2022-07-02 16:44] wannaphong commented on #141
Is it done? @bact

[2022-07-03 06:33] wannaphong opened #685 "Improve PyThaiNLP performance"
PyThaiNLP wants you help us to improve the performance. You can fork this git, coding new code to improve the performance, and send your pull request to PyThaiNLP.

These are some lists for you.

- [x] Delete unused code
- [ ] Port model to onnx #639
- [x] Reduce the use of external packages that are not standard Python packages.
- [ ] Use Cython for any code but still keep pure python for does no

[2022-07-14 17:10] jirng1234 commented on #554
@TouchTci มีวิธีแก้ไขไหมครับ ผมกำลังติดปัญหานี้อยู่เลย ขอบคุณครับ

[2022-07-17 08:12] TouchTci commented on #554
ใช้

bahttext · PyPI ครับ

From: Khunburut Kaewmesuk
Sent: 15 กรกฎาคม 2565 0:11
To: PyThaiNLP/pythainlp
Cc: TouchTci; Mention
Subject: Re: [PyThaiNLP/pythainlp] ใช้ Bahttext หลังจาก build exe แล้ว error (#554)

@TouchTci มีวิธีแก้ไขไหมครับ ผมกำลังติดปัญหานี้อยู่เลย ขอบคุณครับ
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Messag

[2022-08-02 05:24] wannaphong commented on #63
Now, It is work-in-processing.

[2022-08-02 07:01] korakot commented on #63
Maybe, we can use SpellWord's _find_tone() and _find_tone_info() here:

https://github.com/cakimpei/khanaa/blob/main/src/khanaa/thai_spelling.py#L310

[2022-08-02 07:37] wannaphong commented on #63
It is word-level. I think it should have error from word-level and the code is hard to understand.

[2022-08-02 17:44] wannaphong commented on #63
You can try the tone detector for Thai word/syllable by https://github.com/PyThaiNLP/pythainlp/pull/690.

[2022-08-05 14:20] #63 closed

[2022-08-06 09:07] wannaphong commented on #680
อันนี้ตัวแก้คำผิดจะดึง dict มาใช้งานนะครับ ไม่แน่ เราอาจจะแก้โดยเพิ่ม dict คำที่ถูกต้อง ที่ไม่มีคำผิดเลยมาใช้งานกับฟังก์ชันนี้ คุณ @bact คิดเห็นว่าอย่างไรครับ

[2022-08-06 10:10] #626 closed, assigned to nobody

[2022-08-19 06:48] wannaphong commented on #655
Move to the future

[2022-08-21 18:10] BLKSerene commented on #685
I propose to remove `tinydb` as an external dependency (as mentioned in #506). It seems to me that using a 3rd-party database library is an overkill for just querying a JSON file which is by no means large in size.

`tinydb` is only used twice, once in [__init__.py](https://github.com/PyThaiNLP/pythainlp/blob/6a88f6ff460c8cc690f41b236ced0493d04dae22/pythainlp/corpus/__init__.py#L57) for database i

[2022-08-22 09:25] wannaphong commented on #685
I am agree.

[2022-08-23 04:05] BLKSerene commented on #685
When working on #691, I found a problem relating to the version checking behavior of the corpus downloader.

The downloader checks both the name and the version [here](https://github.com/PyThaiNLP/pythainlp/blob/976eb28306626b17a427d588b6b90a30e69eafb3/pythainlp/corpus/core.py#L404), so [later](https://github.com/PyThaiNLP/pythainlp/blob/976eb28306626b17a427d588b6b90a30e69eafb3/pythainlp/corpus/co

[2022-08-23 04:32] wannaphong commented on #685
Yes, It is not force download that you can see https://github.com/PyThaiNLP/pythainlp/runs/7957249794?check_suite_focus=true#step:5:5219 and https://github.com/PyThaiNLP/pythainlp/blob/dev/tests/test_corpus.py#L86.

[2022-08-23 05:14] BLKSerene commented on #685
@wannaphong I mean that since both the name and the version of the corpus is checked, the [else block](https://github.com/PyThaiNLP/pythainlp/blob/976eb28306626b17a427d588b6b90a30e69eafb3/pythainlp/corpus/core.py#L467) would never be reached, so the user will never be notified that a newer version of the requested corpus is available.

That is, in cases that the corpus is found in the local databa

[2022-08-23 06:04] wannaphong commented on #685
OK. I'm agree.

[2022-08-23 06:34] BLKSerene commented on #685
@wannaphong So what is the expected behavior? If the user should be notified to use `force = True` when newer versions of the corpus are available, I could work on a patch to fix it.

[2022-08-23 13:22] wannaphong commented on #685
I'm agree. The user should get notified when newer versions are available.

[2022-08-25 08:18] BLKSerene commented on #685
@wannaphong Should be fixed in #692, please review the PR.

[2022-09-01 07:22] cakimpei commented on #681
FYI I've added Mandarin-to-thai and new system for Japanese-to-thai in Wunsen. Would you like a PR for this?

[2022-09-01 07:51] wannaphong commented on #681
Yes, I want. Thank you!

[2022-09-04 16:18] BLKSerene opened #696 "[Feature Request] Thai word detokenizer"
## Detailed description
Hi, are there any plans to add Thai word detokenizers (put list of tokens back to string)?

## Context
There are some cases where the users need to convert list of tokens back to string after applying some post-processing operations to the list of tokens returned by the tokenizer.

## Possible implementation
No idea.

## Your environment
* PyThaiNLP version: 3.0.8
* Python

[2022-09-04 16:51] wannaphong commented on #696
I don't sure about your feature. I think It just use `' '.join(the words list from the tokenizer)`.

[2022-09-04 17:06] BLKSerene commented on #696
@wannaphong There are no spaces between Thai words, only between sentences, am I right?
I do not speak Thai, so I can't give examples here. But when Thai words are going to be put back into complete sentences, spaces need to be added only after the last word of each sentence (or clause/phrase?).

Tokenized **(type: list)**:
`['ภาษาไทย', 'หรือ', 'ภาษาไทย', 'กลาง', 'เป็น', 'ภาษา', 'ใน', 'กลุ่ม', 'ภา

[2022-09-04 18:59] wannaphong commented on #696
@BLKSerene OK. I will try to add this feature.

[2022-09-08 06:31] mon54126 opened #698 "My .exe program compiled from python code in which some modules from thaipynlp were imported cannot be started."
## Description
 After import some module from pythainlp into my python project, The EXE program compiled from the project cannot be started. Before those modules have been imported and used for some features, the EXE program can work with no problem. However, the program still worked well when it was python code.
(โปรแกรมยังทำงานได้ตามปกติตอนที่ยังเป็น code python แต่มีปัญหาพอ compile เป็น EXE)
Mo

[2022-09-08 09:07] wannaphong commented on #696
@BLKSerene You can try #697.

[code]

output: ภาษาไทยหรือภาษาไทยกลางเป็นภาษาในกลุ่มภาษาไท ซึ่งเป็นกลุ่มย่อยของตระกูลภาษาขร้า - ไท และเป็นภาษาราชการ และภาษาประจำชาติของประเทศไทย

[2022-09-09 15:00] BLKSerene commented on #696
@wannaphong Is `clause_tokenize` required to get the correct detokenized string? If so, perhaps `clause_tokenize` could be called implicitly inside `word_detokenize`?

[2022-09-09 15:05] BLKSerene commented on #698
This concerns with the usage of `PyInstaller`, not an issue concerning `PyThaiNLP`.
You may refer to: https://pyinstaller.org/en/stable/when-things-go-wrong.html#recipes-and-examples-for-specific-problems

Basically, you need to handle data files and hidden imports. `PyInstaller` ships with community-maintained hooks for some popular modules (`NumPy`, `SciPy`, `PyQt`, `NLTK`, etc.), but of course

[2022-09-09 15:10] #698 closed, assigned to nobody

[2022-09-09 17:58] wannaphong commented on #696
I don't think like this because PyThaiNLP maybe has more `clause_tokenize` engines in the future that I need to write engine to this function if I add `clause_tokenize` inside `word_detokenize`, and I think some users want to use `sent_tokenize`, not `clause_tokenize`.

[2022-09-10 10:45] DarinKumarnsit opened #700 "can not import process_thai function from pythainlp.ulmfit"
## Description

จะเทรน sentiment โดยใช้คำของตัวเองค่ะ จาก [sentiment_analysis.ipynb](https://pythainlp.github.io/tutorials/notebooks/sentiment_analysis.html#Wisesight-Sentiment-Analysis) รันบน Colab ใช้ได้ปกตินะคะ แต่พอรันบน Vscode ก็ขึ้น JSONDecodeError ตอน import fuction จาก pythainlp ค่ะ สามารถแก้ไขได้อย่างไรบ้างคะ ขอบคุณค่ะ

## Current results

![image](https://user-images.githubusercontent.co

[2022-09-10 12:12] wannaphong commented on #700
บนเครื่องได้ติดตั้ง PyThaiNLP รุ่นก่อนหน้าไหมครับ

[2022-09-10 14:02] DarinKumarnsit commented on #700
ติดตั้งเป็น pythainlp 3.1.0.dev1 รุ่นเดียวเลยค่ะ

[2022-09-10 16:56] wannaphong commented on #700
@DarinKumarnsit ลองลบแล้วติดตั้งตามนี้นะครับ ได้ผลอย่างไร รบกวนแจ้งด้วยนะครับ
[code]

[2022-09-10 17:13] DarinKumarnsit commented on #700
![image](https://user-images.githubusercontent.com/58914019/189494305-34e03100-9a35-4383-8ff4-4bb46aa6399f.png)

ลองลบแล้วติดตั้งใหม่แล้วได้ผลตามนี้ค่ะ

[2022-09-10 18:20] wannaphong opened #702 "Windows Workflows doesn't working"
I found the windows workflows in https://github.com/PyThaiNLP/pythainlp/blob/dev/.github/workflows/windows-test.yml doesn't working. I will ignone the windows workflows because Now, I don't use Windows since I get my Macbook M1. You can fix by sent the pull request.

[2022-09-10 19:41] #702 closed, assigned to nobody

[2022-09-12 16:46] BLKSerene commented on #696
Since I do not speak Thai, I'm a bit confused about some points.
The input of `word_detokenize` could be either list of tokens (strings) or list of sub-lists of strings (the output of `clause_tokenize`), am I right?

So what's the difference between applying `word_detokenize` directly to a list of strings, `word_detokenize(clause_tokenize(input_list))`, and `word_detokenize(sent_tokenize(input_lis

[2022-09-12 16:52] BLKSerene commented on #696
And, how are English words (and words in other Indo-European languages) handled in `word_detokenize` (spaces added between Thai and English words or not)?

[2022-09-13 05:44] wannaphong commented on #696
Yes

I advice you should try `sent_tokenize` and `clause_tokenize` and choise the tokenizer for your work. for `sent_tokenize`, It needs to input in string `sent_tokenize(str)` but `clause_detokenize` input is list of words.

sent_tokenize (CRFcut is default) is trained from Ted + Orchid + Fake review dataset and clause_tokenize is trained from LST20 corpus.

CRFcut: https://pythainlp.github.io/Mo

[2022-09-13 05:53] wannaphong commented on #700
ลองติดตั้งตามข้างบนใหม่อีกรอบได้ไหมครับ @DarinKumarnsit

[2022-09-13 09:45] wannaphong commented on #696
Yes, It is spaces added between Thai and English words.

[2022-09-13 10:27] DarinKumarnsit commented on #700
![image](https://user-images.githubusercontent.com/58914019/189877976-8e261a69-7633-4a63-bef9-a56ae7c249f9.png)
@wannaphong ลองติดตั้งใหม่อีกรอบแล้ว ได้ JSONDecodeError ค่ะ

[2022-09-13 11:27] wannaphong commented on #696
This url is the Thai space suggest from The Royal Society of Thailand but The people doesn't use. http://legacy.orst.go.th/?page_id=629

[2022-09-13 11:31] wannaphong commented on #696
The "small spaces", "Big spaces" and other rules are hard to write the coding because the document doesn't clear. I will add just few rule to the function.

[2022-09-14 15:30] wannaphong commented on #700
@DarinKumarnsit แปลกนะครับ ลองตรวจสอบตามนี้ได้ไหมครับ
[code]

[2022-09-14 17:03] DarinKumarnsit commented on #700
![image](https://user-images.githubusercontent.com/58914019/190217413-e6ef30d0-746a-4a58-98c4-9299aaa3244a.png)

@wannaphong ได้ค่ะ

[2022-09-15 06:56] wannaphong commented on #700
@DarinKumarnsit  ลองลบแล้วติดตั้งใหม่ตามนี้อีกรอบนะครับ
[code]

[2022-09-15 07:03] DarinKumarnsit commented on #700
![image](https://user-images.githubusercontent.com/58914019/190336775-d4297233-39c5-48ae-ba17-c2c191636e2f.png)

@wannaphong ได้ผลเป็น JSONDecodeError ค่ะ

[2022-09-15 07:12] wannaphong commented on #700
@DarinKumarnsit ลองรันโค้ดตามนี้นะครับ แล้วจากนั้นลองรันใหม่อีกรอบครับ

[code]

[2022-09-15 08:29] DarinKumarnsit commented on #700
![image](https://user-images.githubusercontent.com/58914019/190352088-5e227ee5-5141-450d-9f56-13ab6c47c48e.png)

อันนี้หลังจากรัน os.remove(corpus_db_path()) ค่ะ เลยลองเพิ่มไฟล์ [db.json](https://github.com/PyThaiNLP/pythainlp-corpus/blob/master/db.json)  เข้าไปดู  ก็ได้ผลเป็น KeyError: '_default' ค่ะ

![image](https://user-images.githubusercontent.com/58914019/190354191-51a7ea44-1aa8-4982-9615-0f

[2022-09-15 09:09] wannaphong commented on #700
@DarinKumarnsit ไม่ต้องเพิ่มไฟล์ db.json ครับ ให้รันโค้ดลบไฟล์ db.json จากนั้น restart kernel รันใหม่ตั้งแต่ต้นของโค้ด จะได้ครับ

[code]

[2022-09-15 09:10] wannaphong commented on #700
ไฟล์ db.json ในเครื่องกับบน GitHub เป็นคนละตัวกันครับ

[2022-09-15 09:28] DarinKumarnsit commented on #700
ได้แล้วค่ะ ขอบคุณมากๆค่ะ เป็นโปรเจ็คที่มีประโยชน์มาก เป็นกำลังใจให้นะคะ :)

[2022-09-15 09:48] #700 closed, assigned to nobody

[2022-09-15 14:17] wannaphong opened #704 "[Proposal]: Doesn't use any dataset or model that does not compatible with Open Source"
I think we should doesn't use any dataset or model that does not compatible with Open Source in our project (PyThaiNLP). If the license that doesn't compatible with open source, we should ignore theirs datasets/models.

[2022-09-16 20:13] wannaphong opened #707 "[Feature request]: Add Thai synonym corpus to PyThaiNLP"
## Detailed description
From https://github.com/PyThaiNLP/thai-synonym, I think we can add Thai synonym corpus to PyThaiNLP with search by word and output the data from the corpus.

## Possible implementation
- Search by word; use dict datatype
- output all the data; use List[List[str]] for output

[2022-09-17 09:02] #606 closed, assigned to nobody

[2022-09-18 10:46] wannaphong opened #709 "PyThaiNLP v3.1.0dev3 Installation problem with Python 3.7"
I found the installation problem when install PyThaiNLP v3.1.0dev3 by `pip install --pre pythainlp`. It is came from supar (used by esupar) that fixed numpy very old version when use Python 3.7.

numpy<1.21.5; python_version<"3.8" [https://github.com/yzhangcs/parser](https://github.com/yzhangcs/parser)

[2022-09-20 08:25] #709 closed, assigned to nobody

[2022-09-20 13:31] kepler opened #711 "Wrong tag mapping from lst20 to UD"
## Description
With version 3.0.8, using the lst20_ud corpus for tagging (and perceptron) yields an `NG` tag that is not in the `TO_UD` map and breaks.

## Steps to reproduce
[code]

## Your environment
* PyThaiNLP version: 3.0.8
* Python version: 3.8.4
* Operating system and version (distro, 32/64-bit): ubuntu 22.04

[2022-09-20 13:46] kepler commented on #711
I assume it's a matter of adding
[code]
to `TO_UD` in `tag/lst20.py`, considering Table 2.1 from https://arxiv.org/pdf/2008.05055.pdf.

[2022-09-20 17:06] wannaphong commented on #711
@kepler Thank you for reporting. It fixed in #689 and it will be in PyThaiNLP v3.1.

[2022-09-20 17:20] wannaphong commented on #711
@kepler Now, It fixed in PyThaiNLP v3.0.10. https://github.com/PyThaiNLP/pythainlp/releases/tag/v3.0.10

[2022-09-20 17:20] #711 closed, assigned to nobody

[2022-09-20 21:49] kepler commented on #711
Cool! Thanks for the prompt release.

[2022-09-24 15:27] wannaphong opened #714 "PyThaiNLP 4.0 change log"
This post will give you the change log for PyThaiNLP 4.0. PyThaiNLP published [the first version is 0.0.4 to PyPI at 6 years ago](https://pypi.org/project/pythainlp/0.0.4/), so PyThaiNLP 4.0 will have special codename. The codename for PyThaiNLP 4.0 is **PyThaiNLP 4.0 (Real)**.

**Schedule**
- Beta release: 1 April 2023
- Production release: 14 April 2023

See [4.0 Milestone](https://github.com/Py

[2022-09-27 17:09] wannaphong opened #716 "Porting Thai2fit from fastai v1 to fastai v2"
Today, PyThaiNLP use thai2fit with fastai v1. It's very old for fastai. It needs to porting Thai2fit from fastai v1 to fastai v2.

[2022-09-28 18:42] wannaphong opened #717 "PyThaiNLP join Hacktoberfest 2022!!!"
PyThaiNLP join Hacktoberfest 2022!!!

You can contribute to PyThaiNLP and get the Hacktoberfest 2022 reward.

If you don't found the topic that you want to do, you can create own issues and ask we before contribute in the Hacktoberfest 2022.

GitHub: https://github.com/PyThaiNLP/pythainlp
Hacktoberfest 2022: https://hacktoberfest.com/

**Thai**
PyThaiNLP เข้าร่วม Hacktoberfest 2022

ท่านใดต้องการร

[2022-09-28 18:51] wannaphong commented on #716
Notebook that want to porting to fastai v2.

[- Text Classification](https://github.com/PyThaiNLP/tutorials/blob/master/source/notebooks/text_generation.ipynb)
[- Text generation](https://github.com/PyThaiNLP/tutorials/blob/master/source/notebooks/text_generation.ipynb)

[2022-09-29 13:55] #696 closed, assigned to nobody

[2022-09-29 23:48] #643 closed, assigned to nobody

[2022-10-03 04:40] sanittawan commented on #707
สวัสดีค่ะ สนใจอยากช่วยทำฟีเจอร์นี้ค่ะ เห็นคุณ @wannaphong เขียนโค้ดไว้แล้วตามลิงก์ในกระทู้ แต่ยังไม่ค่อยแน่ใจว่าต้องทำอะไรบ้าง เท่าที่เข้าใจคือ
1. อยากจะให้เพิ่มไฟล์ `data.csv` ในลิงก์ข้างต้นใน[โฟลเดอร์นี้](https://github.com/PyThaiNLP/pythainlp/tree/dev/pythainlp/corpus)
2. สร้างโฟลเดอร์ใหม่ใน[โฟลเดอร์นี้](https://github.com/PyThaiNLP/pythainlp/tree/dev/pythainlp) สำหรับ synonym module
3. แก้ไขโค

[2022-10-03 08:24] wannaphong commented on #707
สวัสดีครับ ขอบคุณที่สนใจร่วมพัฒนา PyThaiNLP นะครับ ผมขอตอบคำถามตามนี้นะครับ

1. ใช่ครับ แต่อาจจะเปลี่ยนชื่อไฟล์ให้เหมะสมกว่า `data.csv` ครับ
2. เพิ่มเป็นไฟล์ `synonym.py` ภายใต้โฟลเดอร์ `pythainlp/corpus` ครับ
3. เป็น List[List[str]] ปกติแบบ `[['ปิตามหะ', 'อัยกะ', 'อัยกา', 'ปู่', 'ขรัวตา', 'มาตามหะ', 'อัยกะ', 'อัยกา', 'ตา']]` ครับ
4. ใช่ครับ

โดยรวมสร้างเป็นไฟล์ `synonym(คำ)` ไฟล์ `synonym.py` ภาย

[2022-10-03 20:07] sanittawan commented on #707
ขอบคุณค่ะ เดี๋ยวทำตามนี้แล้วส่ง pull request ไปนะคะ ถ้ามีคำถามเพิ่ม เดี๋ยวแวะกลับมาค่ะ

[2022-10-05 06:33] wannaphong opened #718 "Add coreference resolution"
Today, Thai doesn't have any coreference resolution corpus but It can working about this issues by create corpus.

[2022-10-08 15:49] wannaphong commented on #685
I'm doing reduce import time. #719

[2022-10-09 06:54] Akshatmish commented on #717
please assign me this project

[2022-10-09 08:48] wannaphong commented on #717
Hello! You can see https://github.com/PyThaiNLP/pythainlp/issues?q=is%3Aopen+is%3Aissue+label%3AHacktoberfest or create new issues if you don't see issues that interested.

[2022-10-09 08:55] wannaphong opened #720 "Improve PyThaiNLP documentation"
Hello! PyThaiNLP needs to improve the documentation (e.g. fixed missing words, and other) and needs to improve the config documentation.

Now, PyThaiNLP documentation isn't fit the window. from https://pythainlp.github.io/dev-docs/
![ภาพ](https://user-images.githubusercontent.com/8536487/194747387-af6d5041-82af-466c-863d-345af3bcabc5.png)

You can fix the config css.

PyThaiNLP use this packages
-

[2022-10-11 03:42] bact commented on #704
+1

For data,
see some licenses that compatible with OKFN [Open Definition](https://opendefinition.org/) here https://resources.data.gov/open-licenses/

For code,
see all OSI-approved licenses here https://opensource.org/licenses

[2022-10-11 06:18] bact commented on #639
Related to #655

[2022-10-11 06:29] bact commented on #680
ตัวพจนานุกรมมาตรฐานที่ใช้อยู่ตอนนี้ มาจาก Thai National Corpus

https://github.com/PyThaiNLP/pythainlp/blob/39b814a9dcfafb516561844f89895d5be4cc2999/pythainlp/spell/pn.py#L167-L168

ซึ่งจะเก็บคำตามที่ปรากฏในภาษา รวมถึงคำที่สะกดผิดด้วย

ในอนาคต ควรจะมีพจนานุกรมที่มีเฉพาะคำที่สะกดถูก

ในระหว่างนี้ สามารถสร้าง spellchecker ขึ้นได้เอง จาก class NorvigSpellChecker และส่งพจนานุกรม ที่มีเฉพาะคำที่ถูกเข้า

[2022-10-11 06:43] bact commented on #676
Related discussion https://github.com/PyThaiNLP/pythainlp/discussions/675

[2022-10-11 08:23] wannaphong commented on #704
@bact  Do you think about LST20 Corpus? It is free for open source project only. I thinking remove all LST20 model and replace with Blackboard Treebank. https://github.com/PyThaiNLP/pythainlp/commit/18c8c509d3b785d197607d9e81fa77e35c2d5f53

[2022-10-11 08:25] wannaphong commented on #704
Blackboard Treebank license is CC-BY. https://www.facebook.com/dancearmy/posts/10158423653343284?_rdc=1&_rdr

LST20 Corpus (free for non-commercial and open source only). https://www.facebook.com/dancearmy/posts/10157641945708284

[2022-10-11 09:57] #390 closed, assigned to nobody

[2022-10-11 10:02] bact commented on #704
NC (non-commercial) clause makes things not fully open. OKFN Open Definition states that to be open it must also be open "for any purpose".

[2022-10-11 10:02] #704 closed, assigned to nobody

[2022-10-11 15:04] bact opened #726 "Test major functions with the Big List of Naughty Strings"
## Detailed description
Add test with strings from the [Big List of Naughty Strings](https://github.com/minimaxir/big-list-of-naughty-strings), to test robustness of the library.

## Context
The Big List of Naughty String is "an evolving list of strings which have a high probability of causing issues when used as user-input data." For example, a string with [zero-width space](https://en.wikipedia.

[2022-10-11 21:41] wannaphong opened #727 "Remove the model that may be legal problems"
From discussion #725, I will delete all model that may be legal problems and replace with dataset that open source compatible.

[2022-10-12 09:30] wannaphong opened #729 "Train New Clause segmenter"
From #728, It remove all model that trained from LST20 and It will remove `clause_tokenize`. I think I will train new model for clause_tokenize from Blackboard Treebank.

Blackboard Treebank: https://bitbucket.org/kaamanita/blackboard-treebank/src/master/ (CC-BY 3.0)

[2022-10-12 09:32] wannaphong opened #730 "Train New ThaiNER"
From https://github.com/PyThaiNLP/pythainlp/pull/728, It remove all model that trained from LST20 and It will remove ThaiNER 1.5. I think it is time for ThaiNER 1.6.

[2022-10-12 09:33] wannaphong opened #731 "Train New Part-Of-Speech Tagger"
From https://github.com/PyThaiNLP/pythainlp/pull/728, It remove all model that trained from LST20 and It will remove pos_tag from LST20 corpus. I think I will replace with Blackboard Treebank.

Blackboard Treebank: https://bitbucket.org/kaamanita/blackboard-treebank/src/master/ (CC-BY 3.0)

[2022-10-12 14:43] #652 closed, assigned to nobody

[2022-10-13 09:06] noppayut commented on #681
Hi, can I take this issue?

[2022-10-13 09:08] wannaphong commented on #681
Hello!

Yes, you can! 😄

[2022-10-13 16:38] wannaphong commented on #731
Train notebook: https://github.com/PyThaiNLP/pythainlp_notebook/blob/master/postag/train_blackboard_pythainlp.ipynb

[2022-10-13 17:05] wannaphong commented on #729
Train notebook: https://github.com/PyThaiNLP/pythainlp_notebook/blob/master/cls/blackboard-cls.ipynb

[2022-10-13 17:12] wannaphong commented on #731
Models
- blackboard_unigram_tagger v1.0 https://github.com/PyThaiNLP/pythainlp-corpus/releases/tag/blackboard_unigram_tagger-v1.0
-  blackboard_pt_tagger v1.0 https://github.com/PyThaiNLP/pythainlp-corpus/releases/tag/blackboard_pt_tagger-v1.0

[2022-10-13 17:13] wannaphong commented on #729
Model: https://github.com/PyThaiNLP/pythainlp-corpus/releases/tag/blackboard_cls_v1.0

[2022-10-13 19:14] wannaphong commented on #731
Add models to pythainlp-data https://github.com/PyThaiNLP/pythainlp-corpus/pull/21

[2022-10-14 18:02] wannaphong commented on #730
New GitHub: https://github.com/PyThaiNLP/Thai-NER

[2022-10-14 18:45] #681 closed, assigned to nobody

[2022-10-15 05:52] wannaphong opened #738 "Add Thai NNER to NER class"
Now, `Thai NNER` is in `NNER` class but `Thai NNER` can is in `NER` class by get first layer only.

Thai NNER: https://github.com/vistec-AI/Thai-NNER

[2022-10-17 12:49] wannaphong opened #739 "Use PyThaiNLP 4.0 instead 3.2"
I think we will have many changes, so we should release the next version as 4.0 instead 3.2.

[2022-10-17 18:25] wannaphong commented on #739
PyThaiNLP 3.2 change log #714 will change to PyThaiNLP 4.0 change log

[2022-10-18 05:56] #727 closed, assigned to wannaphong

[2022-10-18 05:57] #729 closed, assigned to wannaphong

[2022-10-18 05:57] #731 closed, assigned to wannaphong

[2022-10-19 03:34] Samach21 opened #740 "sentence_vectorizer didn't work"
## Description
ทำตาม documentation แล้ว รัน code example ไม่ได้

## Expected results
array([[-0.00421414, -0.08881307,  0.05081136, -0.05632929,
     -0.06607185, 0.03059357, -0.113882  , -0.00074836,  0.05035743,
     0.02914307,
     ...
    0.02893357,  0.11327957,  0.04562086, -0.05015393,  0.11641257,
    0.32304936, -0.05054322,  0.03639471, -0.06531371,  0.05048079]])

## Current results
At

[2022-10-19 04:48] wannaphong commented on #740
สวัสดีครับ ต้องอัปเดต gensim เป็นรุ่น 4.0 ขึ้นไปสำหรับใช้งาน wav2vec ครับ

[2022-10-19 17:09] #739 closed, assigned to nobody

[2022-10-19 17:15] wannaphong commented on #662
It's look like tcc. I think we can ignore this issues.

[2022-10-19 17:18] wannaphong commented on #662
@bact How do you think about this issues?

I didn't found more error look like `"จอก์น"`. I think we can ignore this issues.

[2022-10-21 01:57] bact commented on #662
hmmm.. intuitively, it should be at least 'ก์'

but currently PyThaiNLP's TCC regex doesn't cover that case

[2022-10-21 06:10] wannaphong commented on #662
@bact  I found the cause. We forget `C์ ` rule from `<Cons> <TCC1> <Karan>` rule. The `<TCC1>` can be `NULL`. It mean ก์ should be 'ก์'.

[2022-10-22 04:19] LXZE commented on #720
Should it look like this?

![pythainlp github io_dev-docs_notes_command_line html](https://user-images.githubusercontent.com/3458544/197318660-c6df3438-455c-46a4-be12-1170aad92597.png)

If you are agree with this change, I will try to submit PR for that.

[2022-10-22 04:39] wannaphong commented on #720
Yes 👍

[2022-10-23 11:15] #662 closed, assigned to nobody

[2022-10-23 18:05] new5558 commented on #639
Do you have the list of models that should be ported to ONNX? I can help do that.

[2022-10-23 18:23] wannaphong commented on #639
Hello! I think It's the model list.

- [English-Thai/Thai-English Machine Translation](https://airesearch.in.th/releases/machine-translation-models/) - from VISTEC. It's made by fairseq. It maybe can export to ONNX. https://github.com/facebookresearch/fairseq/issues/1669
- Thai2rom - I don't know it can porting? https://pythainlp.github.io/Model-Cards/Thai2Rom/
- Thai G2P- https://pythainlp.github

[2022-10-24 21:26] new5558 opened #744 "Repo's code have Inconsistent code format with the contribution guide"
## Description

In the project's [CONTRIBUTING.md](https://github.com/PyThaiNLP/pythainlp/blob/dev/CONTRIBUTING.md), it is stated that the project `Follows PEP8, use black with --line-length = 79;` When I try to contribute to the project and follows this instruction, it is not.

## Expected results

[code]

## Current results

[code]

## Steps to reproduce

1. `git clone https://github.com/PyThaiN

[2022-10-24 21:40] new5558 opened #745 "Dockerfile not working with m1 macs"
## Description

Cannot build docker image with m1 macos

## Expected results

Docker build succesfully

## Current results

[code]

## Steps to reproduce

1. `git clone https://github.com/PyThaiNLP/pythainlp && cd pythainlp`
2. `docker build .`

[code]

## Context

## Your environment
* PyThaiNLP version: latest commits of dev branch
* Python version: `python:3.8-slim-buster` (dockerimage)
* Opera

[2022-10-25 02:27] wannaphong commented on #744
Thank you 👍  I don't it should limit line length at 80 chars or not but I agree that the code should follows [CONTRIBUTING.md](https://github.com/PyThaiNLP/pythainlp/blob/dev/CONTRIBUTING.md). You can open PR.

[2022-10-25 02:29] wannaphong commented on #744
It's look like pep8speaks bot are dead.

[2022-10-26 06:32] #744 closed, assigned to nobody

[2022-10-28 15:47] wannaphong opened #749 "Add DeprecationWarning LST20 model to PyThaiNLP 3.1.1"
After we delete all LST20 model https://github.com/PyThaiNLP/pythainlp/pull/728 from dev, I think we should release PyThaiNLP 3.1.1 to add DeprecationWarning about LST20 model.

[2022-10-28 15:53] wannaphong opened #750 "Add Reduce import time #719 to PyThaiNLP 3.1.1"
After #719, I think I will add reduce import time #719 to PyThaiNLP 3.1.1 because we needs to long time for develop PyThaiNLP 4.0 and to improve efficacy.

[2022-10-29 16:24] new5558 commented on #745
After some investigation, the only reason that Dockerfile is not working in m1 macs is the dependencies in `docker_requirements.txt`:
1. nlpo3 do not support m1 macs, waiting for a fix: https://github.com/PyThaiNLP/nlpo3/issues/58
2. Sentencepiece 0.1.91 not support m1 macs. This is fixed at 0.1.97: https://github.com/google/sentencepiece/issues/763
3. Fairseq installation error can be fixed by up

[2022-10-30 01:42] noppayut commented on #749
Which action would you like when LST20-related options are chosen? Since they're gone we can either

1. Throw an error, ask users to choose a new option.
2. Fire a DeprecationWarning and use a default option for an API.

I personally prefer 2.

[2022-10-30 08:31] wannaphong commented on #749
Yes, It will be 2 for PyThaiNLP 3.1.1 that it in 3.1 branch. Now, dev branch is 4.0.

[2022-10-30 08:34] #145 closed

[2022-10-30 10:58] noppayut commented on #749
Cool. Let me work on this.

[2022-10-30 12:12] wannaphong commented on #749
Thank you! You can do this work. Don't forget doing in 3.1 branch.

[2022-10-30 15:14] wannaphong commented on #745
I still waiting MacStadium to use free-credit for build nlpO3 to Mac M1. It's in the MacStadium's processing.

[2022-10-30 17:43] #749 closed, assigned to nobody

[2022-10-30 18:24] #750 closed, assigned to nobody

[2022-11-02 05:27] chameleonTK opened #755 "Newmm-safe is inconsistence"
I tried newmm-safe engine but it gave inconsistent results. It sometimes tokenized correctly but sometimes not.

## Description
Example:
"ในฐานข้อมูลกฎหมายของเว็บไซต์ ทส. ข้อมูลและทรัพยากร ข้อมูลกฎหมายว่าด้วยป่าชุมชน CSV downloads กฎหมายแม่บท และกฎหมายลำดับรอง ของพระราชบัญญัติป่าชุมชน พ.ศ. 2562..."

It can correctly tokenize "ข้อมูลกฎหมายว่าด้วยป่าชุมชน" into ['ข้อมูล', 'กฎหมาย', 'ว่าด้วย', 'ป่าชุ

[2022-11-04 14:42] wannaphong opened #756 "Add LTW2V: The Large Thai Word2Vec V1.0"
Add LTW2V: The Large Thai Word2Vec V1.0 to PyThaiNLP.

GitHub: https://github.com/PyThaiNLP/large-thaiword2vec/tree/main/1.0

[2022-11-04 14:43] #717 closed, assigned to nobody

[2022-11-23 12:39] roshats opened #759 "bug: Transliteration fails with exception for some strings"
### Description

Transliteration raises an `IndexError` exception.

### Expected results

String is transliterated.

### Current results

Exception is raised:

[code]

### Steps to reproduce

Try to transliterate string "โรงเรียนฤทธิยะวรรณาลัย":

[code]

### PyThaiNLP version

3.1.1

### Python version

3.11

### Operating system and version

Debian 11

### More info

_No response_

### Possible s

[2022-11-23 17:03] wannaphong commented on #759
@roshats Thank you for reporting! I checked the bug. The `royin` engine (default engine of `romanize` function) of romanize doesn't supporting word that have many syllables. I recommend you should use `thai2rom` engine instead `royin` engine.

[code]

[2022-11-23 17:04] wannaphong commented on #759
You can read the `pythainlp.transliterate` documentation at https://pythainlp.github.io/docs/3.1/api/transliterate.html.

[2022-11-24 08:08] ghost opened #760 "syllable_tokenize cannot be imported"
### Description

When I imported syllable_tokenize from pythainlp.tokenize
ImportError will be raised.

### Expected results

syllable_tokenize can be imported normally.

### Current results

ImportError: cannot import name 'syllable_tokenize' from 'pythainlp.tokenize'

### Steps to reproduce

1. pip install pythainlp
2. pip install epitran
3. import syllable_tokenize from pythainlp.tokenize

[cod

[2022-11-24 08:24] wannaphong commented on #760
@oat-tanutchakorn Hello! `syllable_tokenize` is deprecated. You can use `pythainlp.tokenize.subword_tokenize` instead.

PyThaiNLP 3.1 change log #643

`pythainlp.tokenize.subword_tokenize` docs: https://pythainlp.github.io/docs/3.1/api/tokenize.html#pythainlp.tokenize.subword_tokenize

[2022-11-24 08:24] #760 closed, assigned to nobody

[2022-11-24 08:26] wannaphong commented on #760
For syllable segmenter, you can use 3 engines
- dict - newmm word tokenizer with a syllable dictionary
- ssg - CRF syllable segmenter for Thai
- tltk - syllable tokenizer from tltk

[2022-11-28 09:42] wannaphong commented on #759
I will close the issues. If you has new update, you can reopen this issues.

[2022-11-28 09:43] #759 closed, assigned to wannaphong

[2022-11-28 09:50] wannaphong opened #762 "Add nlp class api"
## Detailed description

Add `nlp` class api to use PyThaiNLP. The `nlp` class will look like spaCy's `nlp`. Now, PyThaiNLP have many high-level function because PyThaiNLP have many fetaures, so I think we should have simple api for beginner and intermediate.

## Context

`nlp` class is the simple api for using PyThaiNLP. It will don't have the advanced parameter and many api, so still keep main f